<section>
  <div class="row box-lvl-a">
    <div class="seven columns">
      <figure class="noborder main-post-image">
        <amp-img itemprop="image" src="https://res.cloudinary.com/atnetcloud/image/upload/c_scale,w_800/v1602210786/atnet/_glossary/atnet-glossary_k0re58.jpg" alt="Altcoin Trading Blog"
        layout="responsive" data-original-width="800px" data-original-height="308px"
        width="800px" height="308px">
        </amp-img>
      </figure>
    </div>
    <div class="five columns">
      <div class="intro">
          <p><b>Quick Tip:</b> Want to get a quick reference?</p>
          <p>Type into Google:<br><br><b>ATNET glossary [your-term]</b> <br><br>If we have a glossary entry about it, it will show at the top.</p>
      </div>
    </div>
  </div>
</section>
