<section>
  <div class="row" id="article-ad-cta">
    <h3>Want to learn this crypto charting properly?</h3>
    <p>Read our articles, but try everything hands on as you go. All of these crypto charting tools and scripts are accessible for FREE in either TradingView app or at Bitfinex.</p>
    <p>
      <a class="btn btn-orange" href="https://bit.ly/3dGlz3O">Get TradingView</a>&nbsp;<a class="btn btn-orange btn-orange-bg" href="http://bit.ly/catch-me-if-ya-can">Signup at Bitfinex</a>
    </p>
  </div>
</section>
<p>&nbsp;</p>
