{% if page.stories %}<div class="google-news-tag">{{ page.genres }}</div>&nbsp;{%else %}<span class="google-news-tag">{{ page.note }}</span>&nbsp;{% endif %}
<span class="note">
  {% if page.last_modified_at %}<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last Update {{ page.last_modified_at | date: "%d %b %Y at %R" }} UTC</time>&nbsp;{% endif %}
  <span>&nbsp;&middot;&nbsp;[{{page.categories[0]}}]</span>
  {% if page.author %}<span class="guest">&nbsp;&middot;&nbsp;Author: <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}
  {% if page.guest %}<span class="guest">&nbsp;&middot;&nbsp;Guest author: <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}
</span>
