<section>
<div class="trading quiterelated" id="box-related">
  <h5>Related Posts from AltcoinTrading.NET</h5>
  <ol>
    {% if page.related %}
      {% for line in page.related limit: 2 %}{% for item in line %}
      <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
      {% endfor %}{% endfor %}
    {% endif %}
    {% if page.tags %}
        {% assign related = site.posts | where: "tags", page.tags[0] | sample: 2 %}
      {% for item in related %}
      <li>#{{page.tags[0] | upcase }}: <a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
        {% assign related_strategy = site.strategy | where: "tags", page.tags[1] | sample: 2 %}
      {% for item in related_strategy %}
      <li>#{{page.tags[1] | upcase }}: <a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ol>
</div>
<section>
