<section id="strategy-feed">
{% assign items = site.security | sort:last_modified_at | reverse %}

{% for post in items limit:1 %}
<div class="row"><!-- fucking row -->

  <div class="eight columns thumb-wrap">
      <figure class="thumb">
        <a title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
        <amp-img itemprop="image" src="{{ post.image[0] }}" alt="{{ post.title }} - Crypto Storage and Security News"
        layout="responsive"
        data-original-width="720px" data-original-height="360px"
        width="353px" height="190px">
        </amp-img>
        </a>
      </figure>
  </div><!-- fucking six -->
  <div class="columns four"><!-- fucking six 2 -->
    <h3>
      <strong>
        <a class="sidebar-internal" title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
          <span class="tag custom-note">SECURITY&nbsp;PRIMERS</span>&nbsp;{{ post.title }}
        </a>
      </strong>
    </h3>
    <p>
      <b>{{ post.description }}</b> - On {{ post.last_modified_at | date: "%d %b %Y" }}
    </p>
    <p>
      <a title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
        Read {{ post.title }} in full >>
      </a>
    </p>
  </div><!-- fucking six2 -->
</div><!-- fucking row -->
{% endfor %}

{% for post in items offset:1 %}
<div class="row"><!-- fucking row -->

  <div class="six columns thumb-wrap">
      <figure class="thumb">
        <a title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
        <amp-img itemprop="image" src="{{ post.image[0] }}" alt="{{ post.title }} - Crypto Storage and Security News"
        layout="responsive"
        data-original-width="720px" data-original-height="360px"
        width="353px" height="190px">
        </amp-img>
        </a>
      </figure>
  </div><!-- fucking six -->
  <div class="columns six"><!-- fucking six 2 -->
    <h4>
      <strong>
        <a class="sidebar-internal" title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
          <span class="tag custom-note">SECURITY&nbsp;PRIMERS</span>&nbsp;{{ post.title }}
        </a>
      </strong>
    </h4>
    <p>
      <b>{{ post.description }}</b> - On {{ post.last_modified_at | date: "%d %b %Y" }}
    </p>
    <p>
      {{ post.content | markdownify | strip_html | truncate:200 }}
    </p>
    <p>
      <a title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
        Read {{ post.title }} in full >>
      </a>
    </p>
  </div><!-- fucking six2 -->
</div><!-- fucking row -->
{% endfor %}

</section>
