{% assign items = site.security | sort:"last_modified_at"  %}


<section id="security-psa">
  <p>&nbsp;</p>
  <div class="row ">
    <h2 class="tagged-as">PSA <b>#CryptoTrading</b></h2>
    <p>PSA's regarding crypto exchanges, wallets and anything that looks suspicious.</p>
  </div>
  {% for post in items %}
    {% if post.categories contains 'psa' %}
      {% include block-post-sleek.html %}
    {% endif %}
  {% endfor %}
</section>

<section class="commercial-break">
  <p>&nbsp;</p>
  <div class="row">
    <div class="columns eight offset-by-two">
      {{ site.localcryptos_leader_dark }}
    </div>
  </div>
  <p>&nbsp;</p>
</section>

<section id="security-storage">
  <div class="intro">
    <h2 class="tagged-as">Crypto Security & <b>#OPSEC</b></h2>

    <h4>Securing Your Crypto Storage <b>#YourKeysYourResponsibility</b></h4>
    <p>All how-to and guides where you learn how to improve the security of your crypto storage without a phd in computer science (for the most part).</p>
    <p>&nbsp;</p>

  </div>
  {% for post in items %}
  {% if post.categories contains 'cryptocurrency-wallets' %}
  <p>
    <span class="tag lvl-c">CRYPTO STORAGE</span> <a href="{{post.url}}">{{ post.title}}</a>
  </p>
  {% endif %}
  {% endfor %}
</section>

<section id="security-tutorials">
  <div class="intro">
    <h4>Don't Be PWNED <b>#CryptoOPsec</b></h4>
    <p>Tutorials on how to manage your email or messaging apps in a way that will help your crypto opsec, even though it doesn't directly handle your crypto storage.</p>
    <p>&nbsp;</p>

  </div>
  {% for post in items %}
  {% if post.categories contains 'dont-be-pwned' %}
  <p>
    <span class="tag lvl-ab">CRYPTO OPSEC</span> <a href="{{post.url}}">{{ post.title}}</a>
  </p>
  {% endif %}
  {% endfor %}
</section>

<section id="security-news">
  <div class="intro">
    <h4>How You Get Targeted <b>#InTheNews</b></h4>
    <p>The bits from cyber security news that a cryptocurrency trader should really be aware of. They are the most common ways crypto traders get targeted.</p>
      <p>&nbsp;</p>
  </div>
  {% for post in items %}
  {% if post.categories contains 'in-the-news' %}
  <p>
    <span class="tag lvl-a">IN THE NEWS</span> <a href="{{post.url}}">{{ post.title}}</a>
  </p>
  {% endif %}
  {% endfor %}
</section>
