<p><span class="note">Trading Platforms We Support:</span></p>
<ul class="popular">
  <li class="popular-item">
    BitMEX:
    <li><a rel="nofollow" href="https://www.bitmex.com/register/iYQB44">[Fee Discount]</a>
     -
    <a rel="nofollow" href="/coupon-bitmex-iyqb44/">Review</a></li>
  </li>
  <li class="popular-item">
    CryptoFacilities:
    <li><a rel="nofollow" href="http://bit.ly/cryptofacilities">[Fee Discount]</a>
     -
    <a rel="nofollow" href="/fee-discount-cryptofacilities/">Review</a></li>
  </li>
  <li class="popular-item">
    Bitfinex/Ethfinex:
    <li><a rel="nofollow" href="https://www.ethfinex.com/?refcode=5egV78YtlC">[Fee Discount]</a>
     -
    <a rel="nofollow" href="/coupon-bitfinex-5egv78ytlc/">Review</a>
    </li>
  </li>
</ul>
<p><span class="note">Charting Apps We Support:</span></p>
<ul class="popular">
  <li class="popular-item">
    <a rel="nofollow" href="http://bit.ly/atnet-tv">TradingView</a>
  </li>
  <li class="popular-item">
    <a rel="nofollow" href="http://bit.ly/tensorcharts">TensorCharts</a>
  </li>

</ul>
