---
layout: default
navi:
 exclude: yes
---
<div class="container">
  <div class="row top">
      {% for post in site.posts offset: 0 limit: 1 %}
        <div class="columns eight">{% include home/columnupdates.html %}</div>
      {% endfor %}
      {% for post in site.posts offset: 1 limit: 1 %}
        <div class="columns four">{% include home/columnupdates.html %}</div>
      {% endfor %}
  </div>
  <div class="row top top2">
      {% for post in site.posts offset: 2 limit: 3 %}
        <div class="columns four">{% include home/columnupdates.html %}</div>
      {% endfor %}
  </div>
  <div class="row">
  <div class="eight columns">

    <section id="popular-posts">
      <!-- SLOT 1  -->
      {% include home/popular.html %}
    </section>

    <section id="new-posts">

      <!-- Press Releases -->
      {% if site.press[0] %}
      <span class="note">Industry Press Releases</span>
      <div class="row" id="atnet-press">
        {% for post in site.press offset: 0 limit: 3 %}
        <div class="columns four">
            <strong>
              <span class="tag">PRESS RELEASE</span>
              <br>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </strong>
          <br>
            <small>{{ post.date | date_to_string }}</small>
          <br>
            {{ post.description }}
          {% if post.image[0] %}
          <a  class="index-internal" href="{{ post.url }}" title="{{ post.title }}">
            <figure class="thumb">
              <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
              layout="responsive"
              data-original-width="720px" data-original-height="360px"
              width="150px" height="80px">
              </amp-img>
            </figure>
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}


      <!-- SLOT 2 -->
      {{ site.ledger_728-90_animated }}
      <br>

      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="prev"><< Previous</a>
        {% else %}
          <span class="prev"><< Previous</span>
        {% endif %}
        <span class="page_number ">All Articles - Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="next">Next >></a>
        {% else %}
          <span class="next ">Next >></span>
        {% endif %}
      </div>


      {% for post in paginator.posts offset:2  %}

        <div class="row home-latest"  id="gtm-latest">
          <div class="seven columns">
            <h5 class="post">
              <strong>
                {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;
                {% elsif post.note %}<span class="tag custom-note {{ post.noteclass }}">{{ post.note }}</span>&nbsp;
                {% endif %}
                <small>{{ post.date | date: "%d %b %Y, %R" }} UTC</small>
                {% if post.comments %}<small>&nbsp;<a href="{{ site.baseurl }}{{ post.url }}#comments">Comments</a></small>{% endif %}
                {% if post.guest %}&nbsp;&middot;&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}
                <br>
                <a  class="index-internal"  href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </strong>
            </h5>
            <div class="home-latest-excerpt">
              {% if post.last_modified_at %}UPDATE {{ post.last_modified_at | date: "%d %b %Y, %R" }} UTC - {% endif %}{{ post.description }}
            </div>
          </div>
          {% if post.image[0] %}
          <div class="five columns">
            <a  class="index-internal" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
              <figure class="thumb">
                <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
                layout="responsive"
                data-original-width="720px" data-original-height="360px"
                width="150px" height="80px">
                </amp-img>
              </figure>
            </a>
          </div>
          {% endif %}
        </div>
      {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="prev"><< Previous</a>
      {% else %}
        <span class="prev"><< Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next >></a>
      {% else %}
        <span class="next ">Next >></span>
      {% endif %}
    </div>
    </section>

    <section class="atnet-home-bottom space">
        <span class="note">Fundraiser's Finest</span>
        <b>REPUX</b> Data aggregation protocol to gather information from small enterprises to use them for machine learning.
        <a rel="nofollow" target="_blank" class="line" href="https://t.icoref.link/click?pid=1915&offer_id=10">ICO starts March 6th, 2018</a>
        <br>
        <b>GRON</b> Gambling platform fully on blockchain, no human intervention.
        <a rel="nofollow" target="_blank" class="line" href="https://grondigital.icoref.link/click?pid=1915&offer_id=4">ICO starts March 15, 2018</a>.
    </section>

    <section class="atnet-home-bottom space">
      <div class="row">
        <div class="columns six">
          <span class="note">Everyone's Favorite Cold Storage (BTC+ERC20)</span>
          {{ site.ledger_300-250_animated }}
          <p>
            <u>Fully Opensource - Ethereum tokens supported</u>
            <br>
            <strong>{% aff Ledger Nano S https://www.ledgerwallet.com/r/e274?path=/products/ledger-nano-s %}</strong> native support: BTC, ETH, ETC, DOGE, LTC, ZEC, DASH, XRP, STRAT.
            <br>
            <strong>Support of any ERC20 token via MyEtherWallet:</strong>DAO, DGD, DGX 1.0, GNO, GNT, ICN, LUN, MLN and more.
          </p>
        </div>
        <div class="columns six">
          <span class="note">Bitcoin Forks List</span>
           {{ site.forkit }}
           <p>&nbsp;</p>
        </div>
      </div>
    </section>
    </div>

    <div class="four columns notopmargin">
      {% include sidebar.html %}
    </div>

  </div><!-- row -->

<div class="clearfix"></div>
<section id="updates" class="atnet-home-bottom space">
 {% include allupdates.html %}
</section>

</div><!-- container -->
