---
layout: default
navi:
 exclude: yes
---
<div class="container">
  <div class="row">
   <div class="eight columns">


     <span id="note">Popular Posts</span>
     <br><br>
     {% for post in site.posts %}
        {% if post.tags contains 'popular' %}
       <p>
         <strong>
           <a href=".{{ post.url }}">{{ post.title }}</a>
         </strong>
       <br>
         {% if post.update %}<em> Updated {{ post.update | date: "%d %b %Y" }}: </em>{% endif %}{{ post.description }}
       </p>
       {% endif %}
     {% endfor %}
     <hr style="border-top: 2px solid #7A838D;">
      <br>

      {{ site.ads.aads728 }}

      <span id="note">New Posts</span>
      {% for post in site.posts offset: 0 limit: 15 %}
        <h4 class="post">
          <strong>
            <a href=".{{ post.url }}">{{ post.title }}</a>
          </strong>
          <small>{{ post.date | date_to_string }}</small>
        </h4>

        <div class="row">

          <div class="nine columns">
            {{ post.description }}
          </div>

          {% if post.image[0] %}
          <div class="three columns">
            <a target="_blank" href="{{ post.url }}">
              <figure class="thumb">
                <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog" layout=""
                width="150px" height="80px">
                </amp-img>
              </figure>
            </a>
          </div>
          {% endif %}



        </div>

      {% endfor %}

      {{ site.ads.aads728 }}

    


    </div>


    <div class="four columns" style="margin-top:0">
      {% include sidebar.html %}
    </div>


  </div>
