---
layout: default
navi:
 exclude: yes
---
<div class="container">
  <div class="row">
   <div class="eight columns swapper">

    <section id="popular-posts">
      <!-- SLOT 1 {{ site.mailchimp_thin }} -->
      {{ site.bf1 }}
      <span id="note">Popular</span>
      {% for post in site.posts %}
         {% if post.tags contains 'popular' %}
          <h3 class="popular">
            <a class="index-internal" href="{{site.url}}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
          </h3>
          <p>
          {% if post.update %}<em> Updated {{ post.update | date: "%d %b %Y" }}: </em>{% endif %}{{ post.description }}
          </p>
        {% endif %}
      {% endfor %}
    </section>

    {{ site.ads.aads728 }}

    <section id="new-posts">

      <span class="note">Latest</span>

      <div class="row home-top-new" id="gtm-top-new-1">
        {% unless post.tags contains 'press' %}
          {% for post in site.posts offset: 0 limit: 2 %}
            {% include latestarticle.html %}
          {% endfor %}
         {% endunless %}
      </div><!-- row end-->
      <div class="row home-top-new" id="gtm-top-new-2">
        {% unless post.tags contains 'press' %}
          {% for post in site.posts offset: 2 limit: 2 %}
            {% include latestarticle.html %}
          {% endfor %}
         {% endunless %}
      </div><!-- row end-->


      <!-- SLOT 2 -->
      <p>{{ site.tv_728-90_animated }}</p>
      <!-- press -->
      {% for post in site.press offset: 0 limit: 2 %}
        <h4 class="post">
          <strong>
            <a class="index-internal" href=".{{ post.url }}" title="{{ post.title }}">
              <span class="tag">PRESS RELEASE</span>&nbsp;{{ post.title }}
            </a>
          </strong>
          <small>{{ post.date | date_to_string }}</small>
        </h4>
        <p>
        {{ post.description }}
        </p>
        <br>
      {% endfor %}
      <!-- end press -->

    {% unless post.tags contains 'press' %}
      {% for post in site.posts offset: 4 limit: 15 %}

        <div class="row home-latest"  id="gtm-latest">
          <div class="seven columns">
            <h5 class="post">
              <strong>
                {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;
                {% elsif post.note %}<span class="tag custom-note">{{ post.note }}</span>&nbsp;
                {% endif %}
                <small>{{ post.date | date_to_string }}</small>

                {% if post.guest %}&nbsp;&middot;&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}

                <br>

                <a  class="index-internal"  href=".{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>

              </strong>
            </h5>
            <div class="home-latest-excerpt">
              {% if post.update %}<em> Last update {{ post.update | date: "%d %b %Y" }}: </em>{% endif %}{{ post.description }}
            </div>
          </div>
          {% if post.image[0] %}
          <div class="five columns">
            <a  class="index-internal" target="_blank" href="{{ post.url }}" title="{{ post.title }}">
              <figure class="thumb">
                <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
                layout="responsive"
                data-original-width="720px" data-original-height="360px"
                width="150px" height="80px">
                </amp-img>
              </figure>
            </a>
          </div>
          {% endif %}
        </div>
      {% endfor %}
     {% endunless %}


    </section>






    </div>


    <div class="four columns notopmargin">
      {% include sidebar.html %}
    </div>


  </div>
