<span class="note">Recently Updated</span><br>
<ul class="popular">
{% for category in site.categories %}
{% assign pages_list = category[1] | reverse  %}
  {% for post in pages_list limit:10 %}
    {% assign daysToSec = 699048 %}
    {% assign pageTime = post.last_modified_at | date: '%s' | times: 1 %}
    {% assign endTime = 'now' | date: '%s' | minus: daysToSec | times: 1 %}

    {% if post.title != null %}
    {% if pageTime > endTime %}
    <li class="popular-item">
      <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}"><b>{{ post.title }}</b>{% if post.last_modified_at %} Updated on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %} in #{{ category[0] | upcase }}</a>
    </li>
    {% endif %}
    {% endif %}

    {% endfor %}
  {% assign pages_list = nil %}
{% endfor %}
</ul>
