<span class="note">Recently Updated</span><br>
<ul class="popular list-updated">
{% for category in site.categories %}
{% assign pages_list = category[1] | reverse  %}
  {% for post in pages_list limit:3 %}
    {% assign daysToSec = 699048 %}
    {% assign pageTime = post.last_modified_at | date: '%s' | times: 1 %}
    {% assign endTime = 'now' | date: '%s' | minus: daysToSec | times: 1 %}

    {% if post.title != null %}
    {% if pageTime > endTime %}
    <li class="popular-item">
      <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="Recent - {{ post.title }}">
        <b>{{ post.title }}</b> from {{ post.last_modified_at | date: "%d %b %Y" }}
      </a><br><span class="soften">#{{ category[0] | downcase }}</span>
    </li>
    {% endif %}
    {% endif %}

    {% endfor %}
  {% assign pages_list = nil %}
{% endfor %}

{% assign strat = site.strategy %}
{% for node in strat %}
    {% assign daysToSec = 699048 %}
    {% assign pageTime = node.last_modified_at | date: '%s' | times: 1 %}
    {% assign endTime = 'now' | date: '%s' | minus: daysToSec | times: 1 %}
    {% if pageTime > endTime %}
    <li class="popular-item">
      <span class="tag lvl-{{ node.orderby }}">#trading-strategy</span>
      <a class="index-internal" href="{{site.baseurl}}{{ node.url }}">
        <b>{{ node.title }}</b> from {{ node.last_modified_at | date: "%d %b %Y" }}
      </a><br><span class="soften">#{{ node.categories[0] | downcase }}</span>
    </li>
    {% endif %}
{% endfor %}
</ul>
