<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "{{ site.ga }}"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    },
    "clickEbfDeals": {
      "on": "click",
      "selector": "#ebf-deals",
      "request": "event",
      "vars": {
         "eventCategory": "shill--click",
         "eventAction": "click-intext--{{ page.url | remove: '/' }}",
         "eventLabel": "click--ebf-deals--intext"
       }
    },
    "clickRelated": {
      "on": "click",
      "selector": "#box-related",
      "request": "event",
      "vars": {
         "eventCategory": "internal--click",
         "eventAction": "click-internal--{{ page.url | remove: '/' }}",
         "eventLabel": "click--box-related"
       }
    },
    "clickAnyIntext": {
      "on": "click",
      "selector": "#article-body",
      "request": "event",
      "vars": {
         "eventCategory": "nonadsense--click",
         "eventAction": "click-intext--{{ page.url | remove: '/' }}",
         "eventLabel": "click--any--intext"
       }
    },
    "clickGlossIndepth": {
      "on": "click",
      "selector": "#glossary-indepth",
      "request": "event",
      "vars": {
         "eventCategory": "internal--click",
         "eventAction": "click-internal--{{ page.url | remove: '/' }}",
         "eventLabel": "click--glos--indepth"
       }
    },
    "clickGlossBytag0": {
      "on": "click",
      "selector": "#glossary-bytag0",
      "request": "event",
      "vars": {
         "eventCategory": "internal--click",
         "eventAction": "click-internal--{{ page.url | remove: '/' }}",
         "eventLabel": "click--glos--bytag0"
       }
    },
    "clickSmalladHome": {
      "on": "click",
      "selector": "#at-promo-smallad-home-top",
      "request": "event",
      "vars": {
         "eventCategory": "nonadsense--click",
         "eventAction": "click-smallad",
         "eventLabel": "clickSmalladHome"
       }
    },
    "clickMainHome": {
      "on": "click",
      "selector": "#at-promo-main-home",
      "request": "event",
      "vars": {
         "eventCategory": "nonadsense--click",
         "eventAction": "click-main",
         "eventLabel": "clickMainHome"
       }
    },
    "clickHomeMidAd": {
      "on": "click",
      "selector": "#at-promo-smallad-home-mid",
      "request": "event",
      "vars": {
         "eventCategory": "nonadsense--click",
         "eventAction": "click-long",
         "eventLabel": "clickHomeMidAd"
       }
    },
    "clickHomeSideAd": {
      "on": "click",
      "selector": "#at-promo-nonpost-sidebar-tall",
      "request": "event",
      "vars": {
         "eventCategory": "nonadsense--click",
         "eventAction": "click-tall",
         "eventLabel": "clickHomeSideAd"
       }
    },
    "clickBfxVidTall": {
            "on": "click",
            "selector": "#bfx-vid-tall",
            "request": "event",
            "vars": {
              "eventCategory": "nonadsense--click",
              "eventAction": "click-bfx-vid-tall--{{ page.url | remove: '/' }}",
              "eventLabel": "clickHomeBfxVidTall"
            }
     },
    "clickHomeSideLinks": {
      "on": "click",
      "selector": "#at-promo-nonpost-sidebar-shilllinks",
      "request": "event",
      "vars": {
         "eventCategory": "nonadsense--click",
         "eventAction": "click-shilllinks",
         "eventLabel": "clickHomeSideLinks"
       }
    }
  }
}
</script>
</amp-analytics>
