<article>
<h4 id="whatarecryptocurrencyairdrops">What are cryptocurrency airdrops?</h4>
<p>A token airdrop is a PR tool used in the cryptocurrency space to increase brand awareness of new blockchain projects. Tokens related to new projects are typically distributed as bounties for social media engagement.</p>
<p>Now that Facebook and Google banned ICO advertisement it is likely that companies launching an ICO will make more use of airdrops and bounties as a form of advertisment, at least for some time.</p>
</article>
<article>
<h4 id="whatisthedifferencebetweenaforkandanairdrop">What is the difference between a fork and an airdrop?</h4>
<p>From a user's point of view, in an airdrop every participant who meets the conditions receives the advertised amount of free tokens. In a fork, every holder of another cryptocurrency receives the advertised amount of the forked cryptocurrency without doing anything. The holder may choose to not access the forked coins and ignore the fork completely, they will still be in the holder's possession though.</p>
<p>More technically, airdropped tokens often live on the Neo or Ethereum blockchain, therefore the tokens can be stored in a Neo or Ethereum wallet respectively. In a fork, a new blockchain is created that has the same history as the legacy chain up to the time of the fork. That is why forked blockchains need their own wallets.  </p>
</article>
<article>
<h4 id="whatarecryptocurrencytokengiveawayscontestsandbounties">What are cryptocurrency token giveaways, contests and bounties?</h4>
<p>In a <strong>crypto giveaway</strong> only a small number of participants is randomly drawn and receives the free tokens.</p>
<ul class="popular">
<li class="popular-item">Contrary to that, in an airdrop <em>every</em> participant receives the free tokens.</li>
</ul>
<p>In a <strong>contest</strong>, users submit some form of work (often design work) but the team only rewards the selected best work.</p>
<ul class="popular">
<li class="popular-item">Contrary to that, in a bounty <em>every</em> approved work receives the tokens.</li>
</ul>
</article>
<article>
<h4 id="arecryptoairdropssafe">Are Crypto Airdrops Safe?</h4>
<p>Airdrops, airdrop bounties and crypto giveaways are not inherently risky, as long as the user <strong>does not need to install new software</strong> to participate.</p>
<p>Even so, by <a href="/security/email-reuse">signing up and giving away their email address</a> users are opening themselves to a range of phishing attacks and attempts to hack their cryptocurrency exchange and web wallet accounts.</p>
<p>Cryptocurrency forks are directly risky because to access the forked coins one needs to import private keys into a third party wallet. Therefore <a href="https://electrum.org/bcc2.txt">it is recommended to move the legacy chain coins out to a newly generated legacy wallet</a> before importing the private keys to the forked chain's software.</p>
<p>If it is required to install a specific client to receive airdropped tokens, it is safer to do it on a device that does not have the legacy chain's wallet. It is <a href="/security/virtualbox">only somewhat safe-ish to install the new wallet on a virtual machine</a>.</p>
<p>We do our best to hand-pick and verify all the information about airdrops and forks that we get.</p>
<ul class="popular">
<li class="popular-item">When a project looks slightly fishy, we won't publish it.</li>
<li class="popular-item">When you need to submit your documents to receive an airdrop, we'll warn about it: It is likely someone is just fishing for ID scans to sell them.</li>
<li class="popular-item">Likewise, when you need to install extra software to get the airdrop, we'll warn. The code can carry anything.</li>
</ul>
<p>There is not enough space in the table to expand on the warning, you will get better information from our <a href="https://medium.com/cryptolounge">Medium page "CryptoLounge"</a> where the <a href="https://medium.com/cryptolounge/airdrops/home">airdrops are republished</a>.</p>
<p>However, we still cannot guarantee anything. You should still be careful when claiming coins. The information published here comes without any guarantees from us, you are responsible for your own security.</p>
</article>
