<div class="row container">
  <div class="columns three">
    <h3>Resources</h3>
    <ul>
      <li><a href="/glossary/">Crypto Trading Glossary</a></li>
      <li><a href="/tag/tradingview-script-review/">All Free TradingView Scripts Reviews</a></li>
      <li><a href="/tag/crypto-technical-indicators/">All Technical Indicators Posts</a></li>
    </ul>
  </div>
  <div class="columns three">
    <h3>Promo Codes</h3>
    <ul>
      <li><a class="footer-internal" title="{{site.title}} bitfinex" href="/coupon-bitfinex-5egv78ytlc/">Bitfinex</a> 5egv78ytlc</li>
      <li><a class="footer-internal" title="{{site.title}} bitmex" href="/coupon-bitmex-iyqb44/">BitMEX</a> iyqb44</li>
      <li><a class="footer-internal" title="{{site.title}} independent reserve australian crypto market" href="/coupon-independent-reserve/">Independent Reserve</a></li>
      <li></li>
    </ul>

  </div>
  <div class="columns three">
    <h3>Like us on all the networks</h3>
    <ul itemscope itemtype="http://schema.org/Organization">
      <link itemprop="url" href="https://www.altcointrading.net">
      <li><a itemprop="sameAs" href="https://www.twitter.com/altcointrading_">Twitter</a></li>
      <li><a itemprop="sameAs" href="https://www.reddit.com/r/altcointrader">Reddit</a></li>
      <li><a href="https://medium.com/cryptolounge">Medium</a></li>
    </ul>
  </div>
  <div class="columns three">
    <h3>Contact & Submissions</h3>
    <ul>
      <li><a target="_blank" href="/guestpost/">Submit Guest Post</a></li>
      <li><a target="_blank" href="https://jmt3.typeform.com/to/fOiSfP">Submit Airdrop</a></li>
      <li><a target="_blank" href="/contact/">General contact info</a></li>
    </ul>
  </div>
</div>
