<p>
  Guest posts that aren't promotional content are published for free.
</p>

<p>
<b>Important:</b> We run multiple websites related to blockchain and crypto in addition to altcointrading.net, the decision on which one your submission will be published is ours, only ours, and ours only. <b>If you want to retain editorial control and the right to decide on the location of your submission, opt for paid posting.</b>
</p>

<pre>
Terms and requirements for guest posting:

* minimum of 300 words length
* content related to crypto trading, tech or security
* no scams, ponzi schemes or pump'n'dump groups
* guest post ready and uploaded to docdroid.net
</pre>


<pre>
**Important**: If your guest article features a cryptocurrency we require you to end your article with a disclosure (position in the mentioned cryptocurrency or intention of opening a position within 48 hours after publishing).

Examples:

* Disclosure: I am/we are short TICKER.
* Disclosure: I am/we are long TICKER.
* Disclosure: I/we own TICKER.
* Disclosure: I am/we are not having an open position in TICKER nor the intention to open one within 48 hours of publishing.
</pre>

<a class="button" href="https://jmt3.typeform.com/to/KDUzuV" target="_blank">Go to Typeform</a>

<p>For paid posts & advertising please send an email to <code>jmt@altcointrading.net</code>.</p>
