<div class="row container">
  <div class="columns three">
    <h3>Cryptocurrency Markets Data</h3>
    <ul>
      <li>
        <a title="spreadstreet" href="https://spreadstreet.io" target="_blank" rel="nofollow">Spreadstreet.io (free *.csv datasets)</a>
      </li>
      <li>
        <a title="cryptosignal" href="https://cryptosign.al/" target="_blank" rel="nofollow">Cryptosign.al (charting price vs hash rate)</a>
      </li>
      <li>
        <a title="cointradeanalysis" href="https://cointradeanalysis.ovh/" target="_blank" rel="nofollow">Cointradeanalysis.ovh (exchange monitoring)</a>
      </li>
    </ul>
  </div>
  <div class="columns three">
    <h3>CME & CBOE Futures Monitoring</h3>
    <ul>
      <li>
        <a rel="noopener" target="_blank" href="https://coinloop.io/futures">Price charts for CME and CBOE Bitcoin futures on Coinloop</a>
      </li>
      <li>
        <a rel="noopener" target="_blank" href="http://www.cmegroup.com/trading/equity-index/us-index/bitcoin_product_calendar_futures.html">CME bitcoin futures settlement dates</a>
      </li>
      <li>
        <a rel="noopener" target="_blank" href="http://cfe.cboe.com/cfe-products/xbt-cboe-bitcoin-futures">CBOE bitcoin futures settlement dates</a>
      </li>
    </ul>
  </div>
  <div class="columns three">
    <h3>Like us on all the networks</h3>
    <ul itemscope itemtype="http://schema.org/Organization">
      <link itemprop="url" href="https://www.altcointrading.net">
      <li><a itemprop="sameAs" href="https://t.me/altcointrading_net">Telegram</a></li>
      <li><a itemprop="sameAs" href="https://twitter.com/altcointrading_">Twitter</a></li>
      <li><a itemprop="sameAs" href="https://reddit.com/r/altcointrader">Reddit</a></li>
      <li><a itemprop="sameAs" href="https://www.facebook.com/groups/332750657242745/">Facebook Group: Altcoin Trading Chatroom</a></li>
      <li><a itemprop="sameAs" href="https://www.facebook.com/Altcoin-Trading-World-Network-201445543927265/">Facebook Page</a></li>
    </ul>
  </div>
  <div class="columns three">
    <h3>Contact & Submissions</h3>
    <ul>
      <li><a target="_blank" href="/guestpost/">Submit Guest Post</a></li>
      <li><a target="_blank" href="https://jmt3.typeform.com/to/fOiSfP">Submit Airdrop</a></li>
      <li><a target="_blank" href="https://jmt3.typeform.com/to/eXvdSo">Submit Press Release</a></li>
      <li><a target="_blank" href="/contact/">General contact info</a></li>
    </ul>
  </div>
</div>
