<div class="row container">
  <div class="columns four">
    <h3>Resources</h3>
    <ul>
      <li><a href="/glossary/">Crypto Trading Glossary</a></li>
      <li><a href="/strategy/">Crypto Trading Strategy</a></li>
      <li><a href="/blackfriday/">Eternal Black Friday</a></li>
    </ul>
  </div>
  <div class="columns five">
    <h3>Recommended Trading Platforms</h3>
    <ul>
      <li><a class="footer-internal" title="{{site.title}} bitfinex" href="/coupon-bitfinex-5egv78ytlc/">Bitfinex</a> (promo code 5egv78ytlc)</li>
      <li><a class="footer-internal" title="{{site.title}} bitmex" href="/coupon-bitmex-iyqb44/">BitMEX</a> (promo code iyqb44)</li>
      <li><a class="footer-internal" title="{{site.title}} independent reserve australian crypto market" href="/coupon-independent-reserve/">Independent Reserve</a> (promo code RCZSEV)</li>
      <li></li>
    </ul>

  </div>
  <div class="columns three">
    <h3>Contacts</h3>
    <ul>
      <li><a target="_blank" href="/guestpost/">Guest Post</a></li>
      <li><a target="_blank" href="/contact/">Collabs</a></li>
    </ul>
  </div>
</div>
