<p>
  Guest posts that aren't promotional content are published for free.
  You get your own donation addresses and a bio with links to your blog and social media.
</p>

Terms and requirements for guest posting:

* minimum of 300 words length
* content related to crypto trading, tech or security
* no scams, ponzi schemes or pump'n'dump groups
* guest post ready and uploaded to docdroid.net

<p>Links in guest posts are nofollow.</p>

**Important**: If your guest article features a cryptocurrency we require you to end your article with a disclosure (position in the mentioned cryptocurrency or intention of opening a position within 48 hours after publishing).

Examples:

* Disclosure: I am/we are short TICKER.
* Disclosure: I am/we are long TICKER.
* Disclosure: I/we own TICKER.
* Disclosure: I am/we are not having an open position in TICKER nor the intention to open one within 48 hours of publishing.


<a class="button" href="https://jmt3.typeform.com/to/KDUzuV" target="_blank">Go to Typeform</a>

<p>For sponsored posts, advertising and other business inquiries please send an email to <code>jmt@altcointrading.net</code>.</p>
