<span class="doge-share"></span>
<span class="share-cta">PLZ SHARE THIS POST</span>
<ul class="social share">
  <li>
    <a id="gtm-fbshare" title="Share {{ page.title }} on Facebook" href="https://www.facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Facebook" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>
  </li>
  <li>
    <a id="gtm-twittershare" title="Share {{ page.title }} on Twitter" href="https://twitter.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Twitter" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
  </li>
  <li>
    <a id="gtm-linkedinshare" title="Share {{ page.title }} on Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}" title="Linkedin" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
  </li>
  <li>
    <a id="gtm-redditshare" title="Share {{ page.title }} on Reddit" href="http://www.reddit.com/submit?url={{site.url}}{{site.baseurl}}{{page.url}}&title={{page.title}}" title="Reddit" target="_blank">
      <i class="fa fa-reddit-square"></i>
    </a>
  </li>

</ul>
