{% assign posts_top = site.posts | where: "tags", "top" | sample:8 %}

<div class="container">

  <div class="row space">
    {% if posts_top %}
    This Week's Top Posts:
    {% for post in posts_top %}
    <a href="{{ post.url }}"><u>{{ post.slug | capitalize | replace:"-"," " }}</u></a>&nbsp;
    {% endfor %}
    {% endif %}
  </div>

<div class="row">
  <div class="twelve columns">


    <p>
      Shill links to our <a href="/guides/#trading-platforms"><u>recommended trading platforms</u>:</a>
        <br>
      <a href="/coupon-bitfinex-5egv78ytlc/"><u>Bitfinex Review</u></a> or <b>5egv78ytlc</b><br>
      <a href="/coupon-independent-reserve/"><u>Independent Reserve Review</u></a> or <b>RCZSEV</b><br>
      <a href="/referral-code-deribit/"><u>Deribit Review</u></a> or bit.ly/deribit<br>
    </p>

    <br>
    <div class="row space">
      <div class="twelve columns container-center">
        <h2>1 DOGE = 1 DOGE</h2>
        <p>~ come to the dark side, we have dogies ~</p>
        {% include dogelike.html %}
      </div>
    </div>
    <br>
    &copy; 2016-2021 | <a target="_blank" href="https://www.theoryforce.com">Site architecture & Frontend by TheoryForce</a> |       <a href="/glossary/">Glossary</a> | <a href="/guides/">Guides</a> | <a href="/about-legal/">About & Legal</a> | <a href="/disclaimer/">Disclaimer</a>
    <br>

  </div>
</div>

</div>
