<head>
<meta charset="utf-8">

<link rel="dns-prefetch" href="//fonts.gstatic.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//cdn.ampproject.org" />
<link rel="dns-prefetch" href="//www.google-analytics.com" />
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />

<link rel="preconnect" href="//cdn.ampproject.org">

<link rel="prefetch" href="//fonts.googleapis.com/css?family=Droid+Sans:400,700|Fira+Sans+Condensed:400,700|Alegreya:400i|Passion+One" />
<link rel="prefetch" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="prefetch" href="//www.altcointrading.net/videos/bitfinex-app-walk.mp4">

<link rel="prerender" href="//www.altcointrading.net/airdrops/">
<link rel="prerender" href="//www.altcointrading.net/blackfriday/">

{% unless page.canonical %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% else %}
  <link rel="canonical" href="{{ page.canonical }}">
{% endunless %}

<link rel="alternate" hreflang="en" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/img/favicon.ico">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

<meta name="keywords" content="{% if page.tags[0] %}{% for tag in page.tags %}{{tag | strip_html | strip_newlines }}, {% endfor %}{% endif %}bitcoin price news, bitcoinmarkets, btc markets, crypto trading, cryptocurrency trading">

<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<!-- opengraph -->
<meta property="og:locale" content="en" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{% if page.title %}AltcoinTrading.NET | {{ page.title | markdownify | strip_html | trim | strip_newlines }}{% else %}{{ site.title | strip_html | strip_newlines  }}{% endif %}" />
<meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description | strip_html | strip_newlines }}{% endif %}" />
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="og:site_name" content="AltcoinTrading.NET" />
<meta property="og:updated_time" content="{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% elsif page.update %}{{ page.update }}{% elsif page.date %}{{ page.date | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}" />
<meta property="og:image" content="{% if page.image[0] %}{% unless page.cloud %}{{ site.url }}{{ site.baseurl }}{% endunless %}{{ page.image[0] }}{% else %}/editorial/brand/altcointrading_net-markets.png{% endif %}" />
<meta property="og:image:secure_url" content="{% if page.image[0] %}{% unless page.cloud %}{{ site.url }}{{ site.baseurl }}{% endunless %}{{ page.image[0] }}{% else %}{{site.url}}{{site.baseurl}}/editorial/brand/altcointrading_net-markets.png{% endif %}" />

<!-- article -->
<meta property="article:publisher" content="https://www.facebook.com/Altcoin-Trading-World-Network-201445543927265/" />
<meta property="article:author" content="{% if page.author %}{{ page.author }}{% else %}https://www.facebook.com/Altcoin-Trading-World-Network-201445543927265/{% endif %}" />
{% if page.last_modified_at %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}" />
{% endif %}
<!-- post tags -->
{% if page.tags[0] %}{% for tag in page.tags %}<meta property="article:tag" content="{{ tag }}" />{% endfor %}{% endif %}
<!-- post categories -->
{% if page.categories[0] %}{% for cat in page.categories %}{% if cat contains "trading" %}<meta property="article:section" content="Cryptocurrency Trading" />{% elsif cat contains "basics" %}<meta property="article:section" content="Cryptocurrency Trading 101" />{% elsif cat contains "altcoins" %}<meta property="article:section" content="New Cryptocurrencies" />{% elsif cat contains "exchanges" %}<meta property="article:section" content="Cryptocurrency Exchanges" />{% elsif cat contains "wallets" %}<meta property="article:section" content="Cryptocurrency Wallets" />{% else %}<meta property="article:section" content="Cryptocurrencies" />{% endif %}{% endfor %}{% endif %}

<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@altcointrading_" />
<meta name="twitter:title" content="AltcoinTrading.NET | {{ page.title | markdownify | strip_html | trim | strip_newlines }}" />
<meta name="twitter:description" content="{{ page.description | markdownify | strip_html | trim | strip_newlines }}" />
<meta property="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image[0] }}" />
<meta property="twitter:image:secure_url" content="{{ site.url }}{{ site.baseurl }}{{ page.image[0] }}" />
<meta name="twitter:creator" content="{% if page.author_twitter %}{{ page.author_twitter }}{% elsif page.author %}{{ page.author }}{% else %}@altcointrading_{% endif %}" />


<!--AMP-->
<script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
<!-- amp shares -->
<script async custom-element="amp-social-share" src="https://cdn.ampproject.org/v0/amp-social-share-0.1.js"></script>
<!-- amp embeds -->
{% if page.amptwitter %}
<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>
{% endif %}
{% if page.ampreddit %}
<script async custom-element="amp-reddit" src="https://cdn.ampproject.org/v0/amp-reddit-0.1.js"></script>
{% endif %}
{% if page.ampfacebook %}
<script async custom-element="amp-facebook" src="https://cdn.ampproject.org/v0/amp-facebook-0.1.js"></script>
{% endif %}

<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
<script async custom-element="amp-video" src="https://cdn.ampproject.org/v0/amp-video-0.1.js"></script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<script async custom-element="amp-dailymotion" src="https://cdn.ampproject.org/v0/amp-dailymotion-0.1.js"></script>
<script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>
<!-- ga -->
<script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<script async src="https://cdn.ampproject.org/v0.js"></script>

<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

{% if page.stories %}
<script type="application/ld+json">
{
 "@context":"http:\/\/schema.org",
 "@type":"Organization",
 "url":"{{ site.url | xml_escape }}",
 "sameAs":[
    "https:\/\/www.linkedin.com\/company\/altcointradingnet\/",
    "https:\/\/twitter.com\/altcointrading_",
    "https:\/\/medium.com\/cryptolounge",
    "https:\/\/www.facebook.com\/Altcoin-Trading-World-Network-201445543927265/"
 ],
 "@id":"#organization",
 "name":"AltcoinTrading.NET",
 "logo":{
    "@type":"ImageObject",
    "url":"https://res.cloudinary.com/atnetcloud/image/upload/v1605065641/_branding/atnet-logo.png",
    "width":280,
    "height":280
 },
 "telephone":"+595 21 620 7326",
 "address":{
    "@type":"PostalAddress",
    "streetAddress":"Edificio Citicenter 4th Floor, Av. Francisco Solano Lopez 3794",
    "addressLocality":"Asuncion",
    "addressCountry":"PY",
    "postalCode":"3794"
 }
}
</script>
<script type="application/ld+json">
{
   "@context":"http:\/\/schema.org",
   "@type":"Article",
   "@id":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | xml_escape }}#article",
   "mainEntityOfPage":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | xml_escape }}",
   "publisher":{
      "@id":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | xml_escape }}#organization"
   },
   "headline":"{{ page.title | xml_escape }}",
   "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% elsif page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
   "dateModified": "{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% elsif page.date %}{{ page.date }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
   {% if page.last_modified_at %}"contentReferenceTime": "{{ page.last_modified_at | date_to_xmlschema }}",{% endif %}
   "author":[
      {
         "@type":"Person",
         "name":"{{ page.author_name }}"
      }
   ],
   "description":"{{ page.description | xml_escape }}",
   "articleBody":"{{ page.content | xml_escape }}",
   "isPartOf":{
      "@id":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | xml_escape }}#webpage"
   },
   "image":[
     {% for item in page.image %}"{{ item | prepend: site.baseurl | prepend: site.url | xml_escape }}"{% if forloop.last == false %},{% endif %}
     {% endfor %}
   ]{% if page.about %},
   "about": {
     "@type": "Thing",
     "name": "{{ page.about.name }}",
     "sameAs": [
       {% for item in page.about.sameas %}"{{ item }}"{% if forloop.last == false %},{% endif %}
       {% endfor %}]
   }{% endif %}{% if page.mentions %},
   "mentions":[
      {
         "@type":"Thing",
         "name":"{{ page.mentions.name }}",
         "sameAs":"{{ page.mentions.sameas }}"
      }
   ]{% endif %}
}
</script>
{% else %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  },
  "headline": "{{ page.title }}",
  "datePublished": "{% if page.date %}{{ page.date | date_to_xmlschema }}{% elsif page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",
  "dateModified": "{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% elsif page.date %}{{ page.date }}{% else %}{{ site.time | date_to_xmlschema }}{% endif %}",

  {% if page.last_modified_at %}"contentReferenceTime": "{{ page.last_modified_at | date_to_xmlschema }}",{% endif %}
  "author": {
    "@type": "Person",
    "name": "{{ page.author_name }}"
  },
  "image":[
    {% for item in page.image %}"{{ item | xml_escape }}"{% if forloop.last == false %},{% endif %}
    {% endfor %}
  ],
  {% if page.about %}
  "about": {
    "@type": "Thing",
    "name": "{{ page.about.name }}",
    "sameAs": [
      {% for item in page.about.sameas %}"{{ item }}"{% if forloop.last == false %},{% endif %}
      {% endfor %}]
  },
  {% endif %}
  {% if page.mentions %}
  "mentions":[
     {
        "@type":"Thing",
        "name":"{{ page.mentions.name }}",
        "sameAs":"{{ page.mentions.sameas }}"
     }
  ],
  {% endif %}
   "publisher": {
    "@type": "Organization",
    "name": "AltcoinTrading.NET",
    "logo": {
      "@type": "ImageObject",
      "url":"https://res.cloudinary.com/atnetcloud/image/upload/v1605065641/_branding/atnet-logo.png",
      "width":280,
      "height":280
    }
  },
  "description": "{{ page.description }}"
}
</script>
{% endif %}

<!-- AMP allowed resources -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Fira+Sans+Condensed:400,700|Alegreya:400i|Passion+One' rel='stylesheet'>
<meta name="google-site-verification" content="Ku8wf32B0IxGV7nFSuELD_rO2B1gme3NWUHat4S3QS8" />

<!-- custom resources -->
<style amp-custom>
  {% include css/normalize.min.css %}
  {% include css/skeleton.min.css %}
  {% include css/custom.css %}
  {% include css/mobile.css %}
</style>
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
</head>
