<head>

{% unless page.stories %}<meta name="Googlebot-News" content="noindex, nofollow">{% endunless %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" hreflang="en-us" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% unless page.title %}<link rel="alternate" hreflang="de" href="https://de.altcointrading.net">{% endunless %}
{% if page.german %}<link rel="alternate" hreflang="de" href="https://de.altcointrading.net/{{ page.german }}">{% endif %}

<meta charset="utf-8">
<title>{% if page.title %}{{ page.title | capitalize }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/img/favicon.ico">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="altcoin trading, altcoin wallet, altcoin exchanges">
<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<!-- custom resources -->
<style amp-custom>
  {% include css/normalize.min.css %}
  {% include css/skeleton.min.css %}
  {% include css/custom.css %}
</style>
<!--AMP-->
<script async src="https://cdn.ampproject.org/v0.js"></script>
<!--<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>-->
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
<script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<style>body {opacity: 0}</style>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "mainEntityOfPage": "https://www.altcointrading.net/",
  "name": "AltcoinTrading.net",
  "contentRating": "Mature",
  "author": {
    "@type": "Organization",
    "name": "AltcoinTrading.net",
    "contactPoint": "info@altcointrading.net"
  },
  "publisher": {
    "@type": "Organization",
    "name": "AltcoinTrading.net",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl}}/img/logo.jpg",
      "width": 90,
      "height": 75
    }
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}{{ site.baseurl }}/img/emotions/whales.jpg",
    "height": 700,
    "width": 360
  }
}
</script>
</head>
