<head>
<meta charset="utf-8">
{% unless page.stories %}<meta name="Googlebot-News" content="noindex, nofollow">{% endunless %}

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" hreflang="en" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if page.german %}<link rel="alternate" hreflang="de" href="https://de.altcointrading.net/{{ page.german }}">{% endif %}
{% if page.cz %}<link rel="alternate" hreflang="cs" href="https://altcointrading.cz/{{ page.cz }}/">{% endif %}

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/img/favicon.ico">
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="altcoin trading, altcoin wallet, altcoin exchanges, altcoin trader">
<meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<!-- robots  -->
<meta name="robots" content="noodp,noydir" />
<!-- opengraph -->
<meta property="og:locale" content="en" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title | markdownify | strip_html | trim }}" />
<meta property="og:description" content="{{ page.description | markdownify | strip_html | trim }}" />
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title | markdownify | strip_html | trim }}" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image[0] }}" />
<meta property="og:image:width" content="700" />
<meta property="og:image:height" content="360" />
<!-- article -->
<meta property="article:publisher" content="AltcoinTrading.net" />
<meta property="article:author" content="{% if page.author_name %}{{ page.author_name }}{% else %}AltcoinTrading.net{% endif %}" />
{% if page.date %}<meta property="article:published_time" content="{{ page.date }}" />{% endif %}
{% if page.update %}<meta property="article:modified_time" content="{{ page.update }}" />{% endif %}
<!-- post tags -->
{% if page.tags[0] %}{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}" />{% endfor %}{% endif %}
<!-- post categories -->
{% if page.categories[0] %}{% for cat in page.categories %}
<meta property="article:section" content="{{ cat }}" />{% endfor %}{% endif %}

<!-- twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="{{ page.title | markdownify | strip_html | trim }}" />
<meta name="twitter:title" content="{{ page.description | markdownify | strip_html | trim }}" />
<meta name="twitter:site" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="twitter:image" content="{{ site.url }}{{ site.baseurl }}{{ page.image[0] }}" />
<meta property="twitter:image:secure_url" content="{{ site.url }}{{ site.baseurl }}{{ page.image[0] }}" />
<meta name="twitter:creator" content="{% if page.author_twitter %}{{ page.author_twitter }}{% elsif page.author %}{{ page.author }}{% else %}@tradingfanbois{% endif %}" />


<!--AMP-->
<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
<script async custom-element="amp-analytics"
    src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<style>body {opacity: 0}</style>
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage":{
    "@type":"WebPage",
    "@id":"{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  },
  "headline": "{{ page.title }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ site.url }}{{ site.baseurl }}{{ page.image[0] }}",
    "height": 700,
    "width": 360,
    "associatedArticle": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
    "caption": "{{ page.image_alt[0] }}"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.update  }}",
  "contentReferenceTime": "{{ page.update }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author_name }}",
    "contactPoint": "{{ page.author }}"
  },
  {% if page.about %}
  "about": {
    "@type": "Thing",
    "name": "{{ page.about.name }}",
    "sameAs": [
      {% for item in page.about.sameas %}
      "{{ item }}",
      {% endfor %}
    ]
  },
  {% endif %}
   "publisher": {
    "@type": "Organization",
    "name": "AltcoinTrading.net",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}{{ site.baseurl}}/img/logo.jpg",
      "width": 75,
      "height": 90
    }
  },
  "description": "{{ page.description }}"
}
</script>
<script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
<script async custom-element="amp-dailymotion" src="https://cdn.ampproject.org/v0/amp-dailymotion-0.1.js"></script>

<!-- AMP allowed resources -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Fira+Sans+Condensed:400,700|Alegreya:400i|Passion+One' rel='stylesheet'>


<!-- custom resources -->
<style amp-custom>
  {% include css/normalize.min.css %}
  {% include css/skeleton.min.css %}
  {% include css/custom.css %}
</style>
</head>
