{% assign items = (site.fibs | sort:date) | reverse %}
{% for post in items limit:1 %}
<section class="row homelab">
  <div class="columns twelve">
    <h5 class="post">
      <strong>
        <a class="sidebar-internal" title="{{ post.title }}" href="{{ site.baseurl }}{{ post.url }}">
          <span class="tag custom-note">FIB LEVELS</span>&nbsp;Crypto Market News {% if post.last_modified_at %}<br>{{ post.last_modified_at | date: "%d %b %Y, %R" }} UTC{% endif %}
        </a>
      </strong>
    </h5>
  </div>
  <a class="sidebar-internal" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
   <div class="columns twelve relative">
    {% if post.image[0] %}
    <div class="twelve columns">
        <figure class="thumb">
          <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Cold Storage Security"
          layout="responsive"
          data-original-width="720px" data-original-height="360px"
          width="353px" height="190px">
          </amp-img>
        </figure>
    </div>
    {% endif %}
    <div class="twelve columns alignleft strategy-overlay">
    <p>
      &nbsp;
    </p>
    </div>
   </div>
  </a>
</section>
{% endfor %}
