
<article class="three columns nogutter post-bg-outer"  style="background-image: url({{ post.image[0] }})">
  <div class="row post-bg-inner">


    <div class="twelve columns update-overlay">

      <strong>
        <span class="updated-excerpt">{{ post.date | date_to_string }}</span>

        {% if post.guest %}&nbsp;&middot;&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}
        <a class="updated-title" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
          {{ post.title }}
        </a>
      </strong>
      <div class="updated-tag">
        <strong>
        {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;
        {% elsif post.note %}<span class="tag custom-note">{{ post.note }}</span>&nbsp;
        {% endif %}
        </strong>
      </div>
      <a class="updated-excerpt" target="_blank" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
          {{ post.description }}
          {% if post.update %}&nbsp;&middot;&nbsp;Last update {{ post.update | date: "%d %b %Y" }}{% endif %}
          {% if post.guest %}&nbsp;&middot;&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}
      </a>
    </div>

  </div>
</article>
