
<article class="columns six">
  <h4 class="post">
    <strong>
      {% if post.stories %}<span class="tag">{{ post.genres }}</span>{% endif %}
      <small>{{ post.date | date_to_string }}</small>
      {% if post.guest %}&nbsp;&middot;&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}
      <a href="{{site.url}}{{ post.url }}">
        <br>
        {{ post.title }}
      </a>
    </strong>
  </h4>
  <div class="row">
    {% if post.image[0] %}
    <div class="twelve columns">
      <a target="_blank" href="{{ post.url }}">
        <figure class="thumb">
          <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
          layout="responsive"
          data-original-width="720px" data-original-height="360px"
          width="150px" height="80px">
          </amp-img>
        </figure>
      </a>
    </div>
    {% endif %}
    <div class="twelve columns overlay">
      <a target="_blank" href="{{ post.url }}">
        {{ post.description }}
        {% if post.update %}&nbsp;&middot;&nbsp;<em> Last update {{ post.update | date: "%d %b %Y" }} </em>{% endif %}
        {% if post.guest %}&nbsp;&middot;&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}

      </a>
    </div>
  </div>
</article>
