<section>
  <div class="row sidebar-nl">
    <div class="columns twelve">
      <p>
        <strong>Get 5 weeks of FREE onboarding content about <u>Crypto Trading Strategies</u>.</strong>
        Opt in and choose any option with onboarding:
      </p>
      <p>
        <ul>
          <li>/ All Updates on ATNET</li>
          <li>/ Strategy and OPSEC <b>(With Onboarding)</b></li>
          <li>/ Airdrops & Product Deals (Thu 7AM EST)</li>
        </ul>
      </p>
      <p>
        <a class="optin" target="_blank" href="https://us15.list-manage.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">Get Started</a>
      </p>
    </div>
  </div>
</section>
