<section>
  <div class="row sidebar-nl">
    <div class="columns twelve">
      <p>
        <strong>Subscribe here to get 5 weeks of onboarding content from the <u>Crypto Trading Strategy</u> section.</strong>
        All available preferences:
      </p>
      <p>
        <ul>
          <li>/ Trading blog updates</li>
          <li>/ Strategy and Security (With Onboarding)</li>
          <li>/ Airdrop updates ONLY (Thu 7AM EST)</li>
        </ul>
      </p>
      <p>
        <a class="optin" target="_blank" href="https://us15.list-manage.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">Get Started</a>
      </p>
    </div>
  </div>
</section>
