<div class="altcointrading-strategy-optin">
  <div class="row sidebar-nl">
    <div class="columns twelve">
      <p>
        <strong>Get the <u>Crypto Deals</u> weekly email.</strong>
      </p>
      <p>
        Plain list of live <b>Airdrops & Competitions</b>.
        <br>
        [!] PLUS now in the season:  <b>Crypto Black Friday Deals</b>!
      </p>
      <p>
        <a class="optin" target="_blank" href="https://mailchi.mp/259c9d1f642c/atnetbf">Get Started</a>
        &nbsp;
        <button on="tap:amp-user-optin-strategy.dismiss">Go Away</button>
      </p>
      <p class="doge-like"></p>
      <br>
    </div>
  </div>
</div>
