<li><a title="{{site.title}} All News" href="/all-news/">All News</a></li>
<li><a>|</a></li>
<li><a title="{{site.title}} News" href="https://news.altcointrading.net/"><em><span class="yellow">News</span> </em>Feed</a></li>
<li><a title="{{site.title}} ETH News" href="https://news.altcointrading.net/#/eth/">ETH<em><span class="yellow">News</span></em></a></li>
<li><a>|</a></li>
<li><a title="{{site.title}} Basics" href="/category/101/">101</a></li>
<li><a title="{{site.title}} Security" href="/security/">Security</a></li>
<li><a title="{{site.title}} Strategy" href="/category/trading/">Trading</a></li>
<li><a title="{{site.title}} Exchanges" href="/category/exchanges/">Exchanges</a></li>
<li><a title="{{site.title}} Wallets" href="/category/wallets/">Wallets</a></li>
<li><a title="{{site.title}} Featured Altcoins" href="/category/altcoins/">Featured&nbsp;Altcoins</a></li>
<li><a>|</a></li>
<li><a title="{{site.title}} Airdrops" href="/airdrops/">Airdrops</a></li>
<li><a>|</a></li>
<li><a title="{{site.title}} ETH" href="/coin/eth/">ETH</a></li>
<li><a title="{{site.title}} LTC" href="/coin/ltc/">LTC</a></li>
<li><a title="{{site.title}} XMR" href="/coin/xmr/">XMR</a></li>
<li><a>|</a></li>
<li><a title="{{site.title}} Submit" href="/submit/"><span class="yellow">Submit</span></a></li>
