<li><a href="https://news.altcointrading.net/"><em><span class="yellow">News</span> </em>Feed</a></li>
<li><a href="https://news.altcointrading.net/#/eth/">ETH<em><span class="yellow">News</span></em></a></li>
<li><a>|</a></li>
<li><a href="/category/101/">101</a></li>
<li><a href="/security/">Security</a></li>
<li><a href="/category/trading/">Trading</a></li>
<li><a href="/category/exchanges/">Exchanges</a></li>
<li><a href="/category/wallets/">Wallets</a></li>
<li><a href="/category/altcoins/">Featured&nbsp;Altcoins</a></li>
<li><a>|</a></li>
<li><a href="/airdrops/">Airdrops</a></li>
<li><a>|</a></li>
<li><a href="/coin/eth/">ETH</a></li>
<li><a href="/coin/ltc/">LTC</a></li>
<li><a href="/coin/xmr/">XMR</a></li>
<li><a>|</a></li>
<li><a href="/submit/"><span class="yellow">Submit</span></a></li>
