
<table class="airdrops">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>How to access</th>
    <th>Official URL</th>
    <th>Additional Info</th>
  </tr>
  <tr>
    <td>Weave (STELLAR)</td>
    <td>Pre-reg</td>
    <td>
      New digital token for the VR and augmented reality. Airdrop will be available soon, if you pre-register they'll send you an email alert.
    </td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://weave.wearvr.com/en/air_drop_registration">join</a></td>
    <td><a target="_blank" href="https://weave.wearvr.com/">info</a></td>
  </tr>

  <tr>
    <td>ByWise (Own blockchain)</td>
    <td>Pre-reg</td>
    <td>A new scalable payment blockchain in development. No ICO, coins will be distributed for free to those who sign up. There is a pre-reg open that drops 2 WISE on signup now.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://bywise.org/en/register?invite=dpIjH5ib9o2GrD4QgZeK">join</a></td>
    <td><a target="_blank" href="https://bywise.org">info</a></td>
  </tr>
  <tr>
    <!-- at da -->
    <td>Bethereum Airdrop to token holders (ERC20)</td>
    <td>Starts in January 2019</td>
    <td>The social betting platform Bethereum plans an airdrop in January. This will be part of their loyalty program, rewarding users who hold their Bether tokens.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://gaming.bethereum.com/?modal=register&referral=FWVKUXHE">make an account</a></td>
    <td><a target="_blank" href="https://medium.com/bethereum/the-bether-token-holding-program-airdrop-656f4cda9d1f">info</a></td>
  </tr>
  <tr>
    <td>ZNCoin Weekly Airdrop</td>
    <td>Weekly</td>
    <td>Airdrop gives 5000 ZNCoin for joining the Discord channel, following on Twitter and retweeting a post. Work needs to be reported in forum under the 'join' link. You need a ZNCoin address.</td>
    <td><a rel="noopener" target="_blank" href="https://zncoin.io/community/showthread.php?tid=17">join</a></td>
    <td><a target="_blank" href="https://zncoin.io/community/showthread.php?tid=17">rules</a></td>
  </tr>
  <tr>
    <td>DSTRA / $DST </td>
    <td>Every two weeks</td>
    <td>DSTRA is PoS Scrypt Masternode coin with limited supply that will be used in DEX environment and marketplaces. There are airdrops every two weeks, users need to register via discord.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://discord.gg/FjdgTjs">discord</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3102274.0">ann</a></td>
  </tr>

  <tr>
    <td>Traw Network / $TRAW</td>
    <td>Regular, until 7 December 2018</td>
    <td>TRAW works on a way for small local business to utilize blockchain. Airdrop round 12/40 started 10th June.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://discord.gg/bJVmA5x">via discord</a></td>
    <td><a target="_blank" href="https://www.investfeed.com/trawnetwork">InvestFeed</a></td>
  </tr>
  <tr>
    <td>GnixCoin</td>
    <td>Until November 2018</td>
    <td>GnixCoin is a new anonymous and untraceable crypto based on Crypto Note that is having a sale all the way until November. They don't have a traditionally looking airdrop but everyone who signs up on their website receives 1 token (0.5$ worth) for free without any social media shilling. However, they are their own blockchain and exchange listings are not planned before January 2019.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://gnixcoin.org/?mref=gnixcoin">join</a></td>
    <td><a target="_blank" href="https://www.gnixcoin.org/wp-content/uploads/2018/05/Whitepaper-Gnixcoin.pdf">whitepaper</a></td>
  </tr>
  <tr>
    <td>InnerCore (ERC20)</td>
    <td>Daily</td>
    <td>Innercore network is a platform for easier dApp development. The team started a lotrery where users can win tokens every day for commenting on the bitcointalk ann thread or tweeting about the platform. Join link is a registration where you put your bitcointalk username and ETH address, it also has the link to the ann thread.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://innercore.network/airdrop.html">join</a></td>
    <td><a target="_blank" href="https://innercore.network/">web</a></td>
  </tr>
</table>
