<table class="airdrops">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>How to access</th>
    <th>Official URL</th>
    <th>Additional Info</th>
  </tr>


  <tr>
    <td>Hempcoin / $THC (Fork)</td>
    <td>Moved to Q2 2018</td>
    <td>Hempcoin will fork in second quarter of 2018. The new THC token will be an anonymous coin and feature masternode capabilities. $THC currently trades at Bittrex.</td>
    <td><a rel="nofollow" target="_blank" href="http://hempcoin.org/THC.pdf">hempcoin.org</a></td>
    <td><a rel="nofollow" target="_blank" href="https://twitter.com/TheHempCoin/status/966824266267316224">Twitter</a></td>
  </tr>

</table>
