<table class="airdrops">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>How to access</th>
    <th>Official URL</th>
    <th>Additional Info</th>
  </tr>

  <tr>
    <td>Contract Vault AirDrop / $VLT (ERC20 Airdrop)</td>
    <td>Until 12 May 2018</td>
    <td>Marketplace for legally enforceable smart contracts & contract templates - something for businesses, law firms and individuals. Airdrops to create awareness before Phase I of crowdsale in May 2018. Standard drop is 50 VLT (~5 USD) sign-up and Telegram join. High Reward is 500 VLT (~50 USD) for sign-up, joining the Telegram and a contribution to the token sale. Airdrop is capped at 5 million tokens (over 500k USD).</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.contractvault.io/airdrop">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3223231.0">bitcointalk</a></td>
  </tr>

  <tr>
    <td>NagriCoin/ $NGR</td>
    <td>March - June 2018 (ERC20 Airdrop)</td>
    <td>NGR is a project of a biotechnology company. Nagricoin airdrops 5 NGR for Telegram join. You must stay in the group until the token sale is finished which will be in June 2018. Airdropped tokens will be sent then.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://goo.gl/42eYdj">form</a></td>
    <td><a target="_blank" href="https://t.me/nagricoinchat">t.me</a></td>
  </tr>
  <tr>
    <td>Coin4Favors / $C4F (ERC20 Bounty)</td>
    <td>Until July 2018 or cap hit</td>
    <td>C4F is a blockchain-powered, location aware smartphone app that helps to identify and hire people anywhere in the world to complete a task or mini-job. Something like Fiverr,
      only with it's own game-money instead of the hassle of Paypal KYC. Drops tokens for Reddit posts, Twitter shoutouts and more - up to 100000 C4F depending on the engagement. You need to join their website's list and report your activity to the team. </td>
    <td><a rel="nofollow,noopener" target="_blank" href="http://www.c4f.io?bid=1901242">join</a></td>
    <td><a target="_blank" href="https://medium.com/@Coins4Favors/coins4favors-premium-airdrop-3-6c824f8b8278">ann</a></td>
  </tr>
  <tr>
    <td>CryptoLoans / $LCN (ERC20 Bounty)</td>
    <td>13 March 2018 - 27 June 2018 or hitting the cap</td>
    <td>New updated bounty, see the ann link. Cryptoloans is a token that makes it possible to trade cryptocurrency on credit. They are currently giving away the LCN tokens for social media activity - tweeting, retweeting, blog posting. The amount of tokens depends on your following. No registration is necessary, you just need to report your activity along with your ETH address.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.cryptoloans.top/en">cryptoloans</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3118090">new ann</a></td>
  </tr>

  <tr>
    <td>Genesis / $GEN (Airdrop)</td>
    <td>As available</td>
    <td>If you have a GitHub account older than 1 years old your eligible for a free drop from the Genesis team. The airdrop has been active on Github for a while but is still active - the dropped amount decreases by 1 token each day, 84.28% tokens are still ready to be distributed. Today you receive 112 GEN. It is only done via Github as the project targets developers. To join, star the gist in join link and read the instructions. The rules changed, you now need the Keybase app to join. In your public key gist, use our referral to get extra tokens: <code>*your-key-here*;altcointrading</code></td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://gist.github.com/c-darwin/a9a96a4eaae16c0d410f34e434594132#get-your-tokens-github-user">extra 10 tokens with referral: altcointrading</a></td>
    <td><a target="_blank" href="https://github.com/GenesisCommunity/go-genesis#get-your-tokens-github-user">ann</a></td>
  </tr>
  <tr>
    <td>DSTRA / $DST </td>
    <td>Every two weeks</td>
    <td>DSTRA is PoS Scrypt Masternode coin with limited supply that will be used in DEX environment and marketplaces. There are airdrops every two weeks, users need to register via discord.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://discord.gg/FjdgTjs">discord</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3102274.0">ann</a></td>
  </tr>

  <tr>
    <td>Postponed MoneroV / $XMV (XMR Fork)</td>
    <td>Block 1564965 (cca 30 April 2018)</td>
    <td>Postponed to end of April. XMR holders receive XMV - 1 XMR : 10 XMV. XMV promises lower fees, capped supply and end of botnet abuse. <a href="https://www.reddit.com/r/MoneroV/comments/7x9mja/monerov_airdrop_automatic/du6pdki/">There are privacy risks to this fork</a>.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://monerov.org/announcement-monerov-fork-date-postponed/">monerov.org new ann</a></td>
    <td><a target="_blank" href="https://www.reddit.com/r/MoneroV/">Reddit</a></td>
  </tr>

  <tr>
    <td>Hempcoin / $THC (Fork)</td>
    <td>Moved to Q2 2018</td>
    <td>Hempcoin will fork in second quarter of 2018. The new THC token will be an anonymous coin and feature masternode capabilities. $THC currently trades at Bittrex.</td>
    <td><a rel="nofollow" target="_blank" href="http://hempcoin.org/THC.pdf">hempcoin.org</a></td>
    <td><a rel="nofollow" target="_blank" href="https://twitter.com/TheHempCoin/status/966824266267316224">Twitter</a></td>
  </tr>
</table>
