<amp-user-notification
    layout="nodisplay"
    id="amp-altcointrading-newsletter"
    data-persist-dismissal="true">
    <div class="row">
      <div class="columns ten">
        <strong>Weekly E-mails:&nbsp;</strong>
        Crypto Trading Strategy 5 Weeks of Onboarding Reads. Latest Airdrops (Thu 7 AM EST). Or all of it.
          <br><br>
          &nbsp;<a on="tap:amp-altcointrading-newsletter.dismiss" class="no-optin">Dismiss</a>&nbsp;<a target="_blank" href="https://us15.list-manage.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c" class="optin">Pick Your Preference</a>
      </div>
      <div class="columns two">
        <a target="_blank" rel="noopener" href="https://us15.list-manage.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">
        <amp-img itemprop="image" alt="Altcoin Trading Newsletter"
        src="/cta/atnet_qr.png"
        layout="fixed"
        data-original-width="528px" data-original-height="528px"
        width="50px" height="50px"></amp-img>
        </a>
      </div>
    </div>
</amp-user-notification>
