{% assign handle = page.promoting %}
{% case handle %}
  {% when "trading" %}
    {{ site.tv_1200-628 }}
  {% when "analysis" %}
    <p>{{ site.tv_728-90_animated }}</p>
  {% when "entertainment" %}
    {{ site.ageofrust_vid_700x360 }}
  {% when "security" %}
    {{ site.ledger_728-90_animated }}
  {% when "payments-services" %}
    {{ site.cmama_buy_long }}
  {% when "exchanges" %}
    {{ site.bfx_long }}
  {% else %}
    <amp-auto-ads type="adsense" data-ad-client="ca-pub-6979812205705127"></amp-auto-ads>
{% endcase %}
