{% assign handle = page.promoting %}
{% case handle %}
  {% when "trading" %}
    {{ site.bfx_long }}
    {% assign brand = "independent-reserve" %}

  {% when "analysis" %}
    {{ site.coinrule_blue }}
    {% assign brand = "bitfinex" %}

  {% when "entertainment" %}
    {{ site.cbet_l }}
    {% assign brand = "airvpn" %}

  {% when "security" %}
    {{ site.ledger_728-90_animated }}
    {% assign brand = "ledger" %}

  {% when "onramp" %}
    {{ site.chgl_buy_long }}
    {% assign brand = "independent-reserve" %}

  {% when "payments-services" %}
    {{ site.localcryptos_leader_dark }}
    {% assign brand = "localcryptos" %}

  {% when "exchanges" %}
    {{ site.bfx_long }}
    {% assign brand = "bitfinex" %}

  {% else %}
  {% assign brand = "bitfinex" %}

{% endcase %}
