<section>
<hr class="skinny">
{% assign handle = page.promoting %}
{% case handle %}
  {% when "trading" %}
    {{ site.coinrule_box }}
    <hr class="skinny">
    {{ site.deribit_xs }}
    <hr class="skinny">

  {% when "analysis" %}
    {{ site.tvfx_320-200 }}
    <hr class="skinny">

  {% when "onramp" %}
   {{ site.localcryptos_square }}
   <hr class="skinny">

  {% when "payments-services" %}
    <hr class="skinny">
    {{ site.vtoro }}
    <hr class="skinny">

  {% when "entertainment" %}
    <hr class="skinny">
    {{ site.coinrule_box }}
    <hr class="skinny">
    {{ site.deribit_xs }}
    <hr class="skinny">

  {% when "exchanges" %}
    {{ site.localcryptos_square }}
    <hr class="skinny">
    {{ site.bfx_vid_tall }}
    <hr class="skinny">

  {% when "security" %}
    {{ site.lnx_300-600}}
    <hr class="skinny">
    
  {% else %}
    {{ site.localcryptos_square }}
    <hr class="skinny">

{% endcase %}
</section>
