<section>
<hr class="skinny">
{% assign handle = page.promoting %}
{% case handle %}
  {% when "trading" %}

    {{ site.bfx_336x280 }}
    <hr class="skinny">
    {{ site.tvfx_320-200 }}
    <hr class="skinny">

  {% when "analysis" %}

    {{ site.bfx_336x280 }}
    <hr class="skinny">
    {{ site.mex_336x280 }}

  {% when "payments-services" %}
    <hr class="skinny">
    {{ site.cmama_sell_400x350 }}
    <hr class="skinny">
    {{ site.vtoro }}
    <hr class="skinny">

  {% when "entertainment" %}
    <hr class="skinny">
    {{ site.ageofrust_400 }}
    <hr class="skinny">
    {{ site.tvfx_320-200 }}
    <hr class="skinny">
    <amp-ad width=336 height=280
      type="adsense"
      data-ad-client="ca-pub-6979812205705127"
      data-ad-slot="7619602394">
        <div overflow></div>
    </amp-ad>



  {% when "exchanges" %}
    {{ site.localcryptos_square }}
    <hr class="skinny">
    {{ site.tvlovescrypto }}
    <hr class="skinny">
    {{ site.mex_336x280 }}
    <hr class="skinny">

  {% when "security" %}
    {{ site.3commas_tall }}
    <hr class="skinny">
    {{ site.vtoro}}
    <hr class="skinny">
    {{ site.bf4 }}
    <hr class="skinny">

  {% else %}
    {{ site.localcryptos_square }}
    <hr class="skinny">
    {{ site.mex_336x280 }}
    <hr class="skinny">
    {{ site.bf4 }}
    <hr class="skinny">
    <amp-ad width=336 height=280
      type="adsense"
      data-ad-client="ca-pub-6979812205705127"
      data-ad-slot="7619602394">
        <div overflow></div>
    </amp-ad>
    <hr class="skinny">
    {{ site.vtoro}}
    <hr class="skinny">
{% endcase %}
</section>
