
<div id="at-promo-vertical">
  {% include promoting-tall.html %}
</div>

<div id="sidebar">

  <section>
    {% if page.category %}
    <div class="row">
      <h4 class="tagged-as">More Blog Posts in Category {{ page.category | capitalize }}</h4>
      {% for post in site.posts limit: 5 %}
       {% if post.categories contains page.category %}
        {% include category/all.html %}
       {% endif %}
      {% endfor %}
    </div>
    {% endif %}
  </section>


</div><!-- end sidebar-->

<p>&nbsp;</p>
