<div id="sidebar">
  <section>
    <h3>On Medium.com/CryptoLounge:</h3>
    <amp-iframe
            width=350px height=635px
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            src="https://data.altcointrading.net/drops/index.html">
            <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
    </amp-iframe>
  </section>

  <section>
    <h3>Attention-Worthy:</h3>
    <hr class="skinny">
    {{ site.bf1 }}
    <hr class="skinny">
    {{ site.tvlovescrypto }}
    <hr class="skinny">
    {{ site.mex_336x280 }}
    <hr class="skinny">
  </section>
</div><!-- end sidebar-->
