<div id="sidebar" class="sidebar-article">

  <section>
    <div id="at-promo-vertical">
      {% include promoting-tall.html %}
    </div>
  </section>

  {% if page.categories %}
  {% assign cat_related = site.strategy | where: "categories", page.categories[0] | sample: 5 %}
  {% endif %}
  {% if cat_related[0] %}
  &nbsp;
  <section>
    <div class="row box-lvl-b" id="side-cat-related">
      <h4>More Strategies in <b>{{ page.categories[0] | replace: "-", " " }}</b></h4>
      {% for post in cat_related %}
        {% include category/tall.html %}
      {% endfor %}
      <p>
        <a class="btn" href="/blog/trading/">See All</a>
      </p>
    </div>
  </section>
  {% endif %}

  {% if brand %}
  {% assign brand_howtos = site.howto | where: "tags", brand | sample: 3 %}
  <div class="clearfix"></div>
  <section class="related-stacked">
    {% if brand_howtos[0] %}
    <div class="row box-lvl-a"  id="side-brand-howto">
      <h4>You might need these <b>guides</b>:</h4>
      {% for post in brand_howtos %}
        {% include category/stacked.html %}
      {% endfor %}
      <p>
        <a class="btn" href="/guides/">See All</a>
      </p>
    </div>
    {% endif %}
  </section>
  {% endif %}




</div><!-- end sidebar-->

<p>&nbsp;</p>
