<div id="sidebar">
  <section>
    {{ site.mex_336x280 }}
  </section>
  <section>
    {{ site.cbet_b }}
  </section>
  <section id="at-promo-nonpost-sidebar-shilllinks">
     <h3>Fee Discount Shill Links:</h3>
      <ul class="airdrops">
        <li>
          <a rel="nofollow" target="_blank" href="http://bit.ly/the-cat-mouse-game">Bitfinex Referrer Code</a> <b>5egV78YtlC</b> (6% fee discount, no minimum deposit)
        </li>
        <li>
          <a  target="_blank" rel="nofollow" title="bitmex cryptocurrency exchange coupons" href="http://bit.ly/melancholic-100x">Bitmex Referrer Code</a> <b>iYQB44</b> (10% fee discount)
        </li>
        <li>
          <a  target="_blank" rel="nofollow" title="coinmama cryptocurrency exchange coupons" href="http://bit.ly/coinmutter">Coinmama Referrer Code</a> fny3000 + <b>5% discount 190TY584</b>
        </li>
      </ul>
  </section>
  <section>
    {{ site.vtoro}}
  </section>
</div><!-- end sidebar-->
