<div id="sidebar">
  <section>
    <ul class="divided">
      <li>
        <div>
          <iframe data-aa='147074' src='https://ad.a-ads.com/147074?size=336x280' scrolling='no' style='width:336px; height:280px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        </div>
      </li>
      <li>
        <h3>Coupon Codes For Crypto Exchanges:</h3>
        <ul>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.bitfinex.com/?refcode=5egV78YtlC" >BITFINEX COUPON <b>5egV78YtlC</b> (10% off fee)</a></li>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.bitmex.com/register/iYQB44">BITMEX COUPON <b>iYQB44</b> (10% off fee)</a></li>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.coinmama.com/?ref=fny3000">COINMAMA fny3000 + <b>5% discount 190TY584</b></a></li>
        </ul>
      </li>
      <li>
      <h3>Hardware Wallet for altcoins:</h3>
        {{ site.ads.trezorbox }}
        <br>
        <a href="/trezor-multicoin/">Trezor supports altcoins ZCASH, DASH, ETH and LTC.</a>
      </li>
      <li>
      <h3>Hassle-free profit taking to virtual Credit Card:</h3>
        <div>
          {{ site.ads.acashgreen }}
        </div>
      </li>
      <h3>Bitcoin News:</h3>
        <ul>
          <li><a href="https://www.reddit.com/r/bitcoinmarkets" target="_blank">/r/bitcoinmarkets</a></li>
          <li><a href="https://www.reddit.com/r/cryptomarkets" target="_blank">/r/cryptomarkets</a></li>
          <li><a href="http://www.altcointoday.com">AltcoinToday</a></li>
          <li><a href="http://www.coindesk.com/category/technology/altcoins/">Coindesk</a></li>
        </ul>
      <li>
        <h3>Algo Trading</h3>
        <ul>
          <li><a target="_blank" href="https://cryptotradingtools.com">Crypto Trading Tools</a></li>

        </ul>
      </li>

      <li>
        <h3>Bitcoin Cold Storage:</h3>
        <div>
          {% banner300 https://www.ledgerwallet.com/images/promo/ledger-500x500-01.jpg https://www.ledgerwallet.com/r/e274 %}
        </div>
      </li>

      <li>
        <div>
          <iframe data-aa='147074' src='https://ad.a-ads.com/147074?size=336x280' scrolling='no' style='width:336px; height:280px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        </div>
      </li>

      <h3>Follow this site</h3>

      {{ site.ads.feeds }}

      <h3>Latest comments</h3>

      <li>
        <script src="https://altcointrading.disqus.com/recent_comments_widget.js?num_items=5&hide_avatars=1&excerpt_length=120" charset="utf-8"></script>
      </li>


    </ul>
  </section>
</div>
