<div id="sidebar">
  <section>
    <ul class="divided">
      <li>
        <div>
          <iframe data-aa='147074' src='https://ad.a-ads.com/147074?size=336x280' scrolling='no' style='width:336px; height:280px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        </div>
      </li>
      <li>
        <h3>Nitrogen Special Offer with NHL:</h3>
        <div>
          {% banner300 https://nitrogensports.eu/r/607690 https://www.altcointrading.net/img/ads/btc-poker-freeroll_350x300.png %}
        </div>
      </li>
      <li>
      <div>
        <iframe style='border:0;height:310px;width:300px;' src='https://jsonp.afeld.me/?url=http://api.altcoinwisdom.com/widget.html'></iframe>
      </div>
      </li>
      <li>
        <h3>Data</h3>
        <p>
          JSON or other data feeds around altcoin trading and altcoin markets that are available for free for you to pull and work with.
        </p>
        <ul>
          <li><a target="_blank" href="https://cryptotradingtools.com">Crypto Trading Tools</a></li>
          <li>
          <a target="_blank" href="http://backtesting.bitcoinfutures.info/daily.json">JSON / Reddit: /r/bitcoinmarkets daily trading thread</a>
          </li>
          <li>
            <a target="_blank" href="https://jsonp.afeld.me/?url=http://api.altcoinwisdom.com/widget.html">HTML / Market Data: Poloniex altcoin prices widget via HTTPS proxy</a>
          </li>
          <li>
            <a href="http://backtesting.bitcoinfutures.info/premium.json">JSON / Market Data: Bitcoin Futures Premium (OkCoin). Tons of redundant data, consider yourself warned.</a>
          </li>
          <li>
            <a href="http://backtesting.bitcoinfutures.info/poloniex.json">JSON / Reddit: Top level posts from bitcoin subreddits mentioning Poloniex.</a>
          </li>
        </ul>
      </li>
      <li>
      <h3>Hassle-free profit taking to virtual Credit Card:</h3>
        <div>
          {{ site.ads.acashgreen }}
        </div>
      </li>
      <h3>Bitcoin News:</h3>
        <ul>
          <li><a href="https://www.reddit.com/r/bitcoinmarkets" target="_blank">/r/bitcoinmarkets</a></li>
          <li><a href="https://www.reddit.com/r/cryptomarkets" target="_blank">/r/cryptomarkets</a></li>
        </ul>
      <li>
        <h3>Referral Codes For Fee Discount:</h3>
        <ul>
          <li>BITFINEX CODE 5egV78YtlC</li>
          <li>BITMEX CODE iYQB44</li>
          <li>COINMAMA fny3000</li>
        </ul>
      </li>
      <li>
        <h3>Bitcoin Cold Storage:</h3>
        <div>
          {% banner300 https://www.ledgerwallet.com/images/promo/ledger-500x500-01.jpg https://www.ledgerwallet.com/r/e274 %}
        </div>
      </li>
    </ul>
  </section>
</div>
