<div id="sidebar">
  <section>

    <div class="smallad row" id="bf-updates">
      {% include home/bf-updated-feed.html %}
    </div>

    <section>
      {% include block_top.html %}
    </section>

    <h3>Attention-Worthy:</h3>

    <p>Crypto Black Friday</p>
    {{ site.bf2 }}
    &nbsp;

    <p>Bitfinex 6% Fee Discount</p>
    {{ site.bfx_336x280 }}
    &nbsp;

    <p>LocalCryptos True no-KYC market</p>
    {{ site.localcryptos_square }}
    &nbsp;

    <p>Cloudbet BTC/BCH Bonus</p>
    {{ site.cbet_b }}

    <p>&nbsp;</p>
  </section>
</div><!-- end sidebar-->
