<div id="sidebar" class="sidebar-article">

  <section>
    <div class="row box-lvl-b">
      <h4>Crypto Trading Tools, <b>FREE & FREEmium</b></h4>
      <div class="row clearfix">
        <div class="columns three">
          <a class="cat-internal-link" title="List of Crypto Trading Tools" href="/tools/">
            <figure class="thumb">
              <amp-img itemprop="image" src="https://res.cloudinary.com/atnetcloud/image/upload/v1600151757/atnet/blog_trading/tools_tmb2d2.jpg" alt="List of Crypto Trading Tools" layout="responsive" data-original-width="720px" data-original-height="360px" width="150px" height="80px">
              </amp-img>
            </figure>
          </a>
        </div>
        <div class="columns nine">
          <a class="index-internal" href="/tools/" title="List of Crypto Trading Tools">
            <span class="tag custom-note">list</span>&nbsp;
            <b>Tools for Traders and Hodlers</b>
          </a>
        </div>
      </div><!-- item row -->
      &nbsp;

      <p>
        <a class="btn" href="/tools/">Get Tools</a>
      </p>
    </div>
  </section>

  <section>
    <div id="at-promo-vertical">
      {% include promoting-tall.html %}
    </div>
  </section>

  {% if page.categories %}
  {% assign cat_related = site.strategy | where: "categories", page.categories[0] | sample: 5 %}
  {% endif %}
  {% if cat_related[0] %}
  &nbsp;
  <section>
    <div class="row box-lvl-b" id="side-cat-related">
      <h4>More Strategies in <b>{{ page.categories[0] | replace: "-", " " }}</b></h4>
      {% for post in cat_related %}
        {% include category/tall.html %}
      {% endfor %}
      <p>
        <a class="btn" href="/blog/trading/">See All</a>
      </p>
    </div>
  </section>
  {% endif %}

  {% if brand %}
  {% assign brand_howtos = site.howto | where: "tags", brand | sample: 3 %}
  <div class="clearfix"></div>
  {% if brand_howtos[0] %}
  &nbsp;
  <section class="related-stacked">
    <div class="row box-lvl-a"  id="side-brand-howto">
      <h4>You might need these <b>guides</b>:</h4>
      {% for post in brand_howtos %}
        {% include category/stacked.html %}
      {% endfor %}
      <p>
        <a class="btn" href="/guides/">See All</a>
      </p>
    </div>
  </section>
  {% endif %}
  {% endif %}




</div><!-- end sidebar-->

<p>&nbsp;</p>
