<div id="sidebar">
  <section>
    <h3>Attention-Worthy:</h3>

    <p>Bitfinex Fee Discount</p>
    {{ site.bfx_336x280 }}
    &nbsp;

    <ul class="popular">
      <li class="popular-item">
        <a href="/bitfinex-app/">Quick hack to secure your Bitfinex App</a>
      </li>
    </ul>

    <p>BitMEX Fee Discount</p>
    {{ site.mex_336x280 }}
    &nbsp;

    <p>Eternal Black Friday</p>
    {{ site.bf2 }}
    &nbsp;

    <p>Cloudbet BTC/BCH Bonus</p>
    {{ site.cbet_b }}

    <p>&nbsp;</p>
  </section>
</div><!-- end sidebar-->
