<p>Airdrops are now ordered from top to bottom by newest added.</p>

<table class="airdrops">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>How to access</th>
    <th>Official URL</th>
    <th>Additional Info</th>
  </tr>


<tr>
  <td>OctoBit</td>
  <td>As available</td>
  <td>Multicoin platform and wallet. 62 MM OctoBitCoin will be distributed in the airdrop campaign for your user info. Payouts are between 25 and 100 tokens per action, you need to sign up for the wallet and link your telegram, bitcointalk etc in settings. Pays out into wallet immediately.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://octobit.io/ref5b0d6e60a6ab4">join</a></td>
  <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=4183451.0">payouts</a></td>
</tr>

<tr>
  <td>InnerCore (ERC20)</td>
  <td>Once per UTC day</td>
  <td>Innercore network is a platform for easier dApp development. The team started a lottery where you can win tokens every day for commenting on the bitcointalk ann thread or tweeting about the platform. Join link is a registration where you put your bitcointalk username and ETH address, it also has the link to the ann thread.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://innercore.network/airdrop.html">join</a></td>
  <td><a target="_blank" href="https://innercore.network/">web</a></td>
</tr>

<tr>
  <td>Eatchain / $EATC (ERC20)</td>
  <td>Until 10 July 2018</td>
  <td>EATC is a blockchain to develop organic agriculture. They drop 100 tokens for social media tasks - simple Twitter and Telegram joins. The drop is worth 7.6 USD at the ICO price. </td>
  <td><a rel="nofollow,noopener" target="_blank" href="http://airdrop.eatchain.tech?ref=a3349738e7eead18f195d75c7f3ce7a8">join</a></td>
  <td><a target="_blank" href="http://eatchain.tech">web</a></td>
</tr>

  <tr>
    <td>Airdrop to Counterparty holders</td>
    <td>31 May 2018</td>
    <td>Coinweb will drop tokens to all $XCP holders on the last day of May. This appears to be a big deal: Coinweb was launched by Jan-Petter Janssen, the former community director and developer at Counterparty.</td>
<td><a target="_blank" href="https://coinweb.io">web</a></td>
<td><a target="_blank" href="https://coinweb.io/files/coinweb_litepaper.pdf">litepaper</a></td>
  </tr>

<tr>
  <td>LockTrip / $LOC</td>
  <td>TBA</td>
  <td>LockTrip announced on May 20 they are building an AirDrop interface that should go live any day. We'll update this post if it does.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="#">TBA</a></td>
  <td><a target="_blank" href="https://medium.com/@LockChainCo/500-000-locktrip-airdrop-announcement-58aafcb39ba5">medium</a></td>
</tr>

<tr>
  <td>TaTaTu (ERC20)</td>
  <td>Before 31 May 2018</td>
  <td>TaTaTu is entertainment platform on the blockchain that rewards tokens for consuming and sharing content. Drops tokens for social engagement reported via bitcointalk.</td>
<td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfAtJR-mPuuL5Wd0mO56R_rhNKBQ19uAxwE6N863_KTkUrORQ/viewform?c=0&w=1">join</a></td>
<td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3800874.0">bitcointalk</a></td>
</tr>
<tr>
  <td>UMC / $UMC (ERC20)</td>
  <td>14 May - 24 May 2018</td>
  <td>Universal Marketing Company is a blockchain project to create advertising for instant messaging. Drops $1 USD work of tokens for social media follows (Twitter, Telegram, FB), must be reported via bitcointalk. The drop will be paid within 60 days after the end of their token sale.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/1jzvEIAtlWVt4MXy20JGTeb6t073lw3U1GKOlJPuUBMo/viewform?edit_requested=true">join</a></td>
  <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3804323.0">bitcointalk</a></td>
</tr>
  <tr>
    <td>Modex (ERC20)</td>
    <td>As available</td>
    <td>Modex is a smart contract marketplace where developers can easily monetize their skills and project managers can get the SC their project needs. 5 tokens are dropped for Telegram join, username needs to be added as a comment on Bitcointalk.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="http://Modex.ref-r.com/c/i/18151/11311179">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3814333.0;all">bitcointalk</a></td>
  </tr>
  <tr>
    <td>DecoNetwork / $DCO (ERC20)</td>
    <td>As available</td>
    <td>Deco Network is a blockchain project for programmers. It's meant as a crossover between a repository and a marketplace - so that coders can sell their code in a scalable way as a product to someone who can use it as a building block for their own project. The coin is a utility token to access the platform. Drops tokens for simple social media engagement, balance is updated via dashboard automatically.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://bounty.deco.network/register?invite_code=bdb5d4b5-3857-423a-b091-08c878d13002">You get 50 extra DCO with our shill link.</a></td>
    <td><a target="_blank" href="https://deco.network/">web</a></td>
  </tr>

<tr>
  <td>DirectHome / $DIREC (ERC20)</td>
  <td>Before 15 May 2018</td>
  <td>The real estate blockchain project drops tokens for Telegram join and Twitter follow - you need to verify your ID though. You need to sign up as for ICO and click "Airdrop" in the upper menu to report your handles for check. Tokens will be distributed after their ICO (After 15 July 2018)</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://directhome.co/users/sign_up?ref=dire12nq">join</a></td>
  <td><a target="_blank" href="https://directhome.co/">web</a></td>
</tr>

<tr>
  <td>Articlex Airdrop Phase 1 (ERC20)</td>
  <td>Before 15 May 2018</td>
  <td>Publishing platform where blogging can be monetized easily via tokens. Articlex drops 80 tokens (about 1.6 USD) for an engagement action such as Telegram join. The action verifies immediately but tokens are only added as dashboard balance, not sent to your ETH address. There are more airdrop rounds running parallel with the ICO until August 20th but the amount of tokens lowers. </td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://ico.articlex.io/register?ref=119718">join</a></td>
  <td><a target="_blank" href="">web</a></td>
</tr>

<tr>
  <td>ZiChain (ERC20)</td>
  <td>Capped</td>
  <td>A crypto asset management token ZiChain drops coins for Telegram and Bitcointalk engagement. The goal is 5000 participants and every person could receive 1400 ZCN after 29 July 2018.</td>
<td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/1kyaWcsNh85lkRmQxi4wtDfH_s45D8gCmvdVkKqfyHGs/viewform?edit_requested=true">form</a></td>
<td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1VTmU-JfMN2uuLP-A53cj9PTv5LX03YHNmuHpTHHUQFM/edit?usp=drivesdk">spreadsheet</a></td>
</tr>
  <tr>
    <td>Touch Social / $TST (ERC20)</td>
    <td>Capped at 250k TST</td>
    <td>A social network that let's you lease your personal data in a way that you make the profit, not a third company. Drops 50 TST for Telegram and Reddit engagement. Warning: In spite of being an ERC20, urges users to install proprietary wallet which shouldn't be necessary. </td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.reddit.com/r/TouchSocial/comments/8e97eb/25000_tst_official_airdrop_thread/">join</a></td>
    <td><a target="_blank" href="https://www.touchsocial.io/">web</a></td>
  </tr>

<tr>
  <td>Nocta / $NOCTA</td>
  <td>19 April - 20 May 2018</td>
  <td>Decentralized platform that connects sex workers with consumers. Drops up to 3750 NOCTA per user for social media activity.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeQqH1s5mJIilbaTsaqHLnYlUojraIiJBnO6iS-jkQQPEg58g/viewform">join</a></td>
  <td><a target="_blank" href="https://www.nocta.co/">web</a></td>
</tr>
<tr>
  <td>CryptoLoans / $LCN (ERC20 Bounty)</td>
  <td>13 March 2018 - 27 June 2018 or hitting the cap</td>
  <td>New updated bounty, see the ann link. Cryptoloans is a token that makes it possible to trade cryptocurrency on credit. They are currently giving away the LCN tokens for social media activity - tweeting, retweeting, blog posting. The amount of tokens depends on your following. No registration is necessary, you just need to report your activity along with your ETH address.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://www.cryptoloans.top/en">cryptoloans</a></td>
  <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3118090">new ann</a></td>
</tr>
<tr>
  <td>Coin4Favors / $C4F (ERC20 Bounty)</td>
  <td>Until July 2018 or cap hit</td>
  <td>C4F is a blockchain-powered, location aware smartphone app that helps to identify and hire people anywhere in the world to complete a task or mini-job. Something like Fiverr,
    only with it's own game-money instead of the hassle of Paypal KYC. Drops tokens for Reddit posts, Twitter shoutouts and more - up to 100000 C4F depending on the engagement. You need to join their website's list and report your activity to the team. </td>
  <td><a rel="nofollow,noopener" target="_blank" href="http://www.c4f.io?bid=1901242">join</a></td>
  <td><a target="_blank" href="https://medium.com/@Coins4Favors/coins4favors-premium-airdrop-3-6c824f8b8278">ann</a></td>
</tr>
<tr>
  <td>ITIS Network / $ITIS</td>
  <td>16 April - end of presale</td>
  <td>A new coin with POW/POS and masternodes, claiming to be linked to a pet charity (10K coins at least to have a masternode). Itis is giving away both bounties and airdrops. In the simplest tier you get 50 ITIS for spreading the coin ann thread.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://bitcointalk.org/index.php?topic=3297019.0">ann thread</a></td>
  <td><a target="_blank" href="http://itis.network/">web</a></td>
</tr>

  <tr>
    <td>Axers (ERC20 airdrop)</td>
    <td>From 15 April 2018, capped at 500 users</td>
    <td>Startup investment platform Axers drops 100 tokens for social media engagement drops ERC20 for the join of their Telegram and social media engagement. Report via form.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSepofchOwMutiVjH25NYe_WVN7np0YerP5O1DCl9o1b_kUG1A/viewform">form</a></td>
    <td><a target="_blank" href="https://axers.org">web</a></td>
  </tr>
  <tr>
    <td>Skycoin Bounty</td>
    <td>As available</td>
    <td>Skycoin project aims to create an infinitely scalable blockchain. They are currently having a host of translation and content creation bounties, connect with the team via their telegram channel.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.skycoin.net/blog/statement/skycoin-bounty-program-1/">web</a></td>
    <td><a target="_blank" href="https://t.me/skycoinbounty">t.me</a></td>
  </tr>
<tr>
  <td>Genesis / $GEN (Airdrop)</td>
  <td>As available</td>
  <td>If you have a GitHub account older than 1 years old your eligible for a free drop from the Genesis team. The airdrop has been active on Github for a while but is still active - the dropped amount decreases by 1 token each day, 84.28% tokens are still ready to be distributed. Today you receive 112 GEN. It is only done via Github as the project targets developers. To join, star the gist in join link and read the instructions. The rules changed, you now need the Keybase app to join. In your public key gist, use our referral to get extra tokens: <code>*your-key-here*;altcointrading</code></td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://gist.github.com/c-darwin/a9a96a4eaae16c0d410f34e434594132#get-your-tokens-github-user">extra 10 tokens with referral: altcointrading</a></td>
  <td><a target="_blank" href="https://github.com/GenesisCommunity/go-genesis#get-your-tokens-github-user">ann</a></td>
</tr>
<tr>
  <td>DSTRA / $DST </td>
  <td>1st airdrop 8 April, repeats bi-weekly</td>
  <td>DSTRA is PoS Scrypt Masternode coin with limited supply that will be used in DEX environment and marketplaces. There are airdrops every two weeks, users need to register via discord.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://dstra.io/airdrop-round-1-is-here/">1st airdrop info</a></td>
  <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3102274.0">ann</a></td>
</tr>
<tr>
  <td>OrganicCo / $ORC (ERC20)</td>
  <td>23 April - 7 May 2018</td>
  <td>OrganicCo is a British LTD that started a two-week link airdrop program to increase their visibility. The project is a fund that is meant to raise capital in the space of green technology and to reinvest into the field again. The drop promises 10 ORC, tokens will be first distributed by the end of August though. The requirements are combined social media engagement on several platforms.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdle9-ZgXhSaDw6z7rYQQUBdDsO908kP_kAOOp1WPadxUmvYw/viewform">form</a></td>
  <td><a target="_blank" href="https://organicco.uk">web</a></td>
</tr>
<tr>
  <td>Contract Vault AirDrop / $VLT (ERC20 Airdrop)</td>
  <td>Until 12 May 2018</td>
  <td>Marketplace for legally enforceable smart contracts & contract templates - something for businesses, law firms and individuals. Airdrops to create awareness before Phase I of crowdsale in May 2018. Standard drop is 50 VLT (~5 USD) sign-up and Telegram join. High Reward is 500 VLT (~50 USD) for sign-up, joining the Telegram and a contribution to the token sale. Airdrop is capped at 5 million tokens (over 500k USD).</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://www.contractvault.io/airdrop">join</a></td>
  <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3223231.0">bitcointalk</a></td>
</tr>
<tr>
  <td>Smoke Network / $SMOKE</td>
  <td>Until 3 May 2018</td>
  <td>The Smoke Network drops tokens for easy social media engagement, distribution in Q3 2018.</td>
  <td><a rel="nofollow,noopener" target="_blank" href="https://wn.nr/HckLJG">join</a></td>
  <td><a target="_blank" href="https://smoke.network/">web</a></td>
</tr>
<tr>
  <td>Vikky / $VIK (ERC20)</td>
  <td>Until 1 May 2018</td>
  <td>Vikky drops 250 VIK tokens for combined social media engagement on Telegram, Facebook, Twitter and Youtube - see the form for instructions. Vikky is a gig-economy platform on the blockchain for small jobs based on current location. </td>
<td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/18YqV2-uLtz0DiYKJQllA05KJjAZwkint9sGsxFjdMCk/viewform?edit_requested=true">form</a></td>
<td><a target="_blank" href="https://vikky.io/">web</a></td>
</tr>
  <tr>
    <td>NagriCoin/ $NGR</td>
    <td>March - June 2018 (ERC20 Airdrop)</td>
    <td>NGR is a project of a biotechnology company. Nagricoin airdrops 5 NGR for Telegram join. You must stay in the group until the token sale is finished which will be in June 2018. Airdropped tokens will be sent then.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://goo.gl/42eYdj">form</a></td>
    <td><a target="_blank" href="https://t.me/nagricoinchat">t.me</a></td>
  </tr>
  <tr>
    <td>HedgeCoin / $HCL (Bounty)</td>
    <td>As available</td>
    <td>Trading services platform. Currently offers bounties that need to be reserved and gives 1000 HCL for a translation gig.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://bitcointalk.org/index.php?topic=3212586.0">join</a></td>
    <td><a target="_blank" href="https://hedgecoincapital.com/">web</a></td>
  </tr>

</table>
