<p>Airdrops are now ordered from top to bottom by newest added.</p>

<table class="airdrops">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>How to access</th>
    <th>Official URL</th>
    <th>Additional Info</th>
  </tr>

  <tr>
    <td>PollToken / $POLL (Competition)</td>
    <td>Single day April 6</td>
    <td>PollToken organizes a competition where on April 6 three users will be randomly drawn out of their Telegram user base to get free POLL tokens - 5k, 2.5k and 1k. POLL is an ERC20 for a public opinion network platform. You need to join telegram AND sign up via the "web" link to enter your ETH address.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://t.me/clearpoll_clearify">t.me</a></td>
    <td><a target="_blank" href="http://polltokens.io/">web</a></td>
  </tr>

  <tr>
    <td>Shopiblock / $SHB (Capped ERC20 Airdrop)</td>
    <td>31 March - 15 April 2018</td>
    <td>Shopiblock is a decentralized White-label SaaS provider. Drops 1000 SHB tokens for social media follows as listed in the form. Capped at 90 000 000 SHB tokens.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.shopiblock.io/airdrop/0xE23eC55ddF7340e210d1F72525a952a967ddc4AB">form</a></td>
    <td><a target="_blank" href="https://www.shopiblock.io/">web</a></td>
  </tr>

  <tr>
    <td>Playhall / $PHT (ERC20 Bounty)</td>
    <td>April 2018</td>
    <td>Platform for skilled games on the blockchain. Drops tokens for social media activity - you need to sign up and be active in Telegram and post into the official ann thread. Capped at 3000 users to receive 200 PHT but it's currently at about 700 only - <a href="https://docs.google.com/spreadsheets/d/1BbpiUhilGyCxjG_y4ai63n1ezzMe_Lp0rMnrBqAXbgk/edit#gid=1010196969">see here</a>.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/1TqmCCFWKG30e4G__zzSIKhzdrySeQvPt7hZUSU_1uw0/viewform?edit_requested=true">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=2785312.0">ann thread</a></td>
  </tr>

  <tr>
    <td>Contract Vault AirDrop / $VLT (ERC20 Airdrop)</td>
    <td>Until 12 May 2018</td>
    <td>Marketplace for legally enforceable smart contracts & contract templates - something for businesses, law firms and individuals. Airdrops to create awareness before Phase I of crowdsale in May 2018. Standard drop is 50 VLT (~5 USD) sign-up and Telegram join. High Reward is 500 VLT (~50 USD) for sign-up, joining the Telegram and a contribution to the token sale. Airdrop is capped at 5 million tokens (over 500k USD).</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.contractvault.io/airdrop">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3223231.0">bitcointalk</a></td>
  </tr>


  <tr>
    <td>DeepOnion / $ONION (Airdrop)</td>
    <td>Every Friday until 13th April 2018</td>
    <td>DeepOnion has regular airdrops for social media activity. Read the conditions, it is not really "for free".</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://deeponion.org/airdrop.html">deeponion</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=2683530.0">bitcointalk</a></td>
  </tr>

  <tr>
    <td>MunchCoin / $MUNCH (Capped ERC20 Airdrop)</td>
    <td>Until 21 April 2018</td>
    <td>Food pass on the blockchain. Airdrops 5 tokens for Telegram and Twitter follow & retweet, more for additional activity. Airdropped coins will be divided among top 4000 users.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://munchcoin.airdropmadness.com/?refer=341">join</a></td>
    <td><a target="_blank" href="https://munchcoin.co/">web</a></td>

  </tr>
  <tr>
    <td>NagriCoin/ $NGR</td>
    <td>March - June 2018 (ERC20 Airdrop)</td>
    <td>NGR is a project of a biotechnology company. Nagricoin airdrops 5 NGR for Telegram join. You must stay in the group until the token sale is finished which will be in June 2018. Airdropped tokens will be sent then.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://goo.gl/42eYdj">form</a></td>
    <td><a target="_blank" href="https://t.me/nagricoinchat">t.me</a></td>
  </tr>
  <tr>
    <td>Coin4Favors / $C4F (ERC20 Bounty)</td>
    <td>Until July 2018 or cap hit</td>
    <td>C4F is a blockchain-powered, location aware smartphone app that helps to identify and hire people anywhere in the world to complete a task or mini-job. Something like Fiverr,
      only with it's own game-money instead of the hassle of Paypal KYC. Drops tokens for Reddit posts, Twitter shoutouts and more - up to 100000 C4F depending on the engagement. You need to join their website's list and report your activity to the team. </td>
    <td><a rel="nofollow,noopener" target="_blank" href="http://www.c4f.io?bid=1901242">join</a></td>
    <td><a target="_blank" href="https://medium.com/@Coins4Favors/coins4favors-premium-airdrop-3-6c824f8b8278">ann</a></td>
  </tr>

  <tr>
    <td>HedgeCoin / $HCL (Bounty)</td>
    <td>As available</td>
    <td>Trading services platform. Currently offers bounties that need to be reserved and gives 1000 HCL for a translation gig.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://bitcointalk.org/index.php?topic=3212586.0">join</a></td>
    <td><a target="_blank" href="https://hedgecoincapital.com/">web</a></td>
  </tr>

  <tr>
    <td>CryptoLoans / $LCN (ERC20 Bounty)</td>
    <td>13 March 2018 - 27 June 2018 or hitting the cap</td>
    <td>New updated bounty, see the ann link. Cryptoloans is a token that makes it possible to trade cryptocurrency on credit. They are currently giving away the LCN tokens for social media activity - tweeting, retweeting, blog posting. The amount of tokens depends on your following. No registration is necessary, you just need to report your activity along with your ETH address.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.cryptoloans.top/en">cryptoloans</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3118090">new ann</a></td>
  </tr>

  <tr>
    <td>Postponed MoneroV / $XMV (XMR Fork)</td>
    <td>Block 1564965 (cca 30 April 2018)</td>
    <td>Postponed to end of April. XMR holders receive XMV - 1 XMR : 10 XMV. XMV promises lower fees, capped supply and end of botnet abuse. <a href="https://www.reddit.com/r/MoneroV/comments/7x9mja/monerov_airdrop_automatic/du6pdki/">There are privacy risks to this fork</a>.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://monerov.org/announcement-monerov-fork-date-postponed/">monerov.org new ann</a></td>
    <td><a target="_blank" href="https://www.reddit.com/r/MoneroV/">Reddit</a></td>
  </tr>

  <tr>
    <td>Hempcoin / $THC (Fork)</td>
    <td>Moved to Q2 2018</td>
    <td>Hempcoin will fork in second quarter of 2018. The new THC token will be an anonymous coin and feature masternode capabilities. $THC currently trades at Bittrex.</td>
    <td><a rel="nofollow" target="_blank" href="http://hempcoin.org/THC.pdf">hempcoin.org</a></td>
    <td><a rel="nofollow" target="_blank" href="https://twitter.com/TheHempCoin/status/966824266267316224">Twitter</a></td>
  </tr>

  <tr>
    <td>TEU / $TEU (ERC20 Bounty) [suspended]</td>
    <td>Before 12 April 2018</td>
    <td>TEU is a token used for bookings in a novel shipping industry system. Drops points instantly for social media engagement, rewards in $TEU go to users above certain point levels. The token should be listed on EtherDelta and COSS soon.</td>
    <td><a rel="nofollow" target="_blank" href="http://vy.tc/etELq29">vy.tc</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=2057994.0">bitcointalk</a></td>
  </tr>

</table>
