<p>Airdrops are now ordered from top to bottom by newest added.</p>


<table class="airdrops">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>How to access</th>
    <th>Official URL</th>
    <th>Additional Info</th>
  </tr>
  <tr>
    <td>MOBI Developer Bounty (Stellar)</td>
    <td>Before July 1st 2018</td>
    <td>MOBI issued a developer bounty - they will pay out 75K MOBI tokens to implement WeChat, KakaoTalk, Line, and Reddit support. Mobius is an asset on the Stellar blockchain that provides protocols to close the gaps between blockchains. It trades on KuCoin or Gate.io. The bounty is worth about 3400 USD at the time of writing.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://medium.com/mobius-network/announcing-the-mobius-tip-bot-e3ed2f460ed6">ann</a></td>
    <td><a target="_blank" href="https://mobius.network">web</a></td>
  </tr>
  <tr>
    <td>PRiVCY 3rd airdrop / $PRIV</td>
    <td>23 June 2018, rounds run until 20 October 2018</td>
    <td>PRiVCY is a new PoW/PoS privacy coin with cheap tx fees, integrated with TOR and Stealth Addresses. Airdrop runs in rounds, the earlier you get in the more coins you get. Token is promised to trade on Crex24 ASAP. The coin was shilled by John McAfee and is getting listed on a new cryptotrading outfit, the <a rel="nofollow,noopener" target="_blank" href="https://www.cryptaldash.com/token?ref=168511">Cryptaldash</a>. Warning: You need to install the proprietary wallet.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="http://privcy.io">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=4393794.msg39537349#msg39537349">rules</a></td>
  </tr>
  <tr>
    <td>Bethereum Worldcup Contest (ERC20)</td>
    <td>Bounty until 23 June 2018, contest until 1 July 2018</td>
    <td>The social betting platform Bethereum has a social media bounty still ongoing under the link "bounty" that gives 100-500 BETH tokens for social media love - we have reported this before. The payout is max 10 USD at current ETH prices, Bethereum only completed pre-ICO and does not trade anywhere. The platform is a working demo though and so they are now launching a new competition campaign with the World Cup. If you sign up for the betting platform you automatically get 2000 betting points bonus with minimum bet of 100 points. Top 2000 active users will automatically enter a competition for 50x 10K tokens and 1x 1MM tokens that will be drawn by a smart contract for transparency. Top 300 active users will get a reward automatically. The bounty and the contest need separate registrations.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://bounty.bethereum.com?referralcode=AHBDMRB">bounty</a></td>
    <td><a target="_blank" href="https://worldcup.bethereum.com/">contest</a></td>
  </tr>
  <tr>
    <td>Blockonomics / $BCK (ERC20)</td>
    <td>13 June - 15 August 2018</td>
    <td>Blockonomics started couple years back as a wallet and <a href="https://www.blockonomics.co/merchants?ref=3CVhP9YSFkiQHhwEMpAvfR9KUuBfCitD">BTC address watcher</a>, now evolved into a platform for direct Bitcoin payments. Issuing an ERC20 token, they drop 5MM BCK for first 10K participants. You need to join the Telegram channel and write a constructive message, activity is reported via Google form. They also have a bounty campaign for blogs, social media and video content - social media bounty requires weekly reporting <a href="https://bitcointalk.org/index.php?topic=4460139.660">on bitcointalk</a>.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScbk8zqSDRzZcB3geiBDflCtWGikgRg_x4F4CsjAjSHfVUvEw/viewform">form</a></td>
    <td><a target="_blank" href="https://t.me/BlockonomicsICO">t.me</a></td>
  </tr>
  <tr>
    <td>Connecty Round 2 (ERC20)</td>
    <td>13 June 2018 until 5K participants fill up</td>
    <td>Connecty.io is focused on the knowledge economy, connecting the knowledge (scientists or experts) with the innovative world (VCs or startups). They are in a token sale right now and doing an airdrop for visibility. The drop gives up to 35 EUR value, depending on your social media participation. Work needs to be reported via ann thread on bitcointalk no later than 25 June.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScsoLqqSipdBgyLjeTpx8joCVLHPk-bVLxkQiTbGaUWhVFIjg/viewform">form</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=4467721">ann</a></td>

  </tr>
  <tr>
    <td>UpStake / $UPS</td>
    <td>Capped at 5 MM tokens</td>
    <td>A fixed price increase token. Drops 100 UPS for simple social media engagement. They are working on their own exchange (trading is not live until ICO soft cap is reached) so selling the token shouldn't be a problem.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://upstake.com/landing/main?sponsor=atnetchris">join exchange</a></td>
    <td><a target="_blank" href="http://t.me/upstakeairbot?start=RlOGvkPBDUCR">airdrop bot, links to join under Groups</a></td>
  </tr>
  <tr>
    <td>Traw Network / $TRAW</td>
    <td>Weekly, until 7 December 2018</td>
    <td>TRAW works on a way for small local business to utilize blockchain. Airdrop round 12/40 started 10th June. You need to have a TRAW address, it is their own blokchain.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://discord.gg/bJVmA5x">via Discord</a></td>
    <td><a target="_blank" href="https://www.investfeed.com/trawnetwork">InvestFeed</a></td>
  </tr>
  <tr>
    <td>Infinivi</td>
    <td>June 2018</td>
    <td>Football-related project. Drops for social media joins, you need to leave a comment on bitcointalk ann thread.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://bitcointalk.org/index.php?topic=4426470.0">form</a></td>
    <td><a target="_blank" href="https://infinivi.io">web</a></td>
  </tr>
  <tr>
    <td>Fulcrum Chain / $FLC</td>
    <td>9 June 2018</td>
    <td>Blockchain for businesses, aiming at large scale operations. Drops 2000-4000 tokens for social media joins.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScNctfAKhqvfpkQQXhkK9gvWL0mp-dEiM4pNduyjW6giN9ugQ/viewform">form</a></td>
    <td><a target="_blank" href="#">web</a></td>
  </tr>
  <tr>
    <td>RewardsToken</td>
    <td>Until 27 June 2018</td>
    <td>Token for Rewards.com offers a tokenized loyalty program solution to provide the first consumer and retail-focused rewards token platform. Drops 20-60 USD worth of token at ICO price for Telegram join and some social media likes.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://referral.rewardstoken.io?kid=PK4RA">join</a></td>
    <td><a target="_blank" href="https://www.rewardstoken.io">web</a></td>

  </tr>
  <tr>
    <td>TipSmart</td>
    <td>As available</td>
    <td>A solution for "dust" aka small amounts of cryptos in wallets. Drops for social media engagement.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://docs.google.com/forms/d/1HPSJ-wo9s-xkEbVj4nJRw1v2ph4wG9HxyGUVHR9RuPI/viewform?edit_requested=true">form</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=4034241.0">rules</a></td>

  </tr>
  <tr>
    <td>PRiVCY / $PRIV</td>
    <td>Starting 9 June 2018, until 20 October 2018</td>
    <td>PRiVCY is a new PoW/PoS privacy coin with cheap tx fees, integrated with TOR and Stealth Addresses. Airdrop runs in rounds, the earlier you get in the more coins you get. Token is promised to trade on Crex24 ASAP. Warning though: You need to install their QT wallet.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="http://privcy.io">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=4393794.msg39537349#msg39537349">rules</a></td>
  </tr>
  <tr>
    <td>Kryptono / $KNOW</td>
    <td>Until 30 July 2018</td>
    <td>The new Kryptono.exchange is dropping their KNOW tokens to promote the platform launch from June 1st. There are a competitions and daily draws now in June and an airdrop: 50 tokens for every signup, 500 tokens for deposit and 1000 tokens for KYC (limited availability). You can use KNOW to pay trading fees on the platform with a discount or you can exchange them for BTC, ETH, USDT, TRX and couple other coins. Currently, the minimum drop of 50 KNOW is worth 10 USDT.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://kryptono.exchange/k/reg?r=EPQN2R">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=2130449.0;prev_next=next">details</a></td>
  </tr>
  <tr>
      <td>Covesting</td>
      <td>The first 25,000 users registered</td>
      <td>Covesting is a new trading platform that lets you algorithmically copytrade - copy the trades of a more experienced trader. While they do not have a traditional airdrop, they do give you 300 USD worth of fees to get you start trading. Just sign up and wait for an email that will explain it. Also check out their crypto intelligence section, it aggregates trading ideas and news from all over the internet.</td>
      <td><a rel="nofollow,noopener" target="_blank" href="https://www.covesting.io/?ref=20838">join</a></td>
      <td><a target="_blank" href="https://covesting.io/">web</a></td>
  </tr>
  <tr>
    <td>GnixCoin</td>
    <td>Until November 2018</td>
    <td>GnixCoin is a new anonymous and untraceable crypto based on Crypto Note that is having a sale all the way until November. They don't have a traditionally looking airdrop but everyone who signs up on their website receives 1 token (0.5$ worth) for free without any social media shilling. However, they are their own blockchain and exchange listings are not planned before January 2019.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://gnixcoin.org/?mref=gnixcoin">join</a></td>
    <td><a target="_blank" href="https://www.gnixcoin.org/wp-content/uploads/2018/05/Whitepaper-Gnixcoin.pdf">whitepaper</a></td>
  </tr>
  <tr>
    <td>OctoBit</td>
    <td>As available</td>
    <td>Multicoin platform and wallet. 62 MM OctoBitCoin will be distributed in the airdrop campaign for your user info. Payouts are between 25 and 100 tokens per action, you need to sign up for the wallet and link your telegram, bitcointalk etc in settings. Pays out into wallet immediately.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://octobit.io/ref5b0d6e60a6ab4">join</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=4183451.0">payouts</a></td>
  </tr>

  <tr>
    <td>InnerCore (ERC20)</td>
    <td>Once per UTC day</td>
    <td>Innercore network is a platform for easier dApp development. The team started a lotrery where users can win tokens every day for commenting on the bitcointalk ann thread or tweeting about the platform. Join link is a registration where you put your bitcointalk username and ETH address, it also has the link to the ann thread.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://innercore.network/airdrop.html">join</a></td>
    <td><a target="_blank" href="https://innercore.network/">web</a></td>
  </tr>

  <tr>
    <td>Eatchain / $EATC (ERC20)</td>
    <td>Until 10 July 2018</td>
    <td>EATC is a blockchain to develop organic agriculture. They drop 100 tokens for social media tasks - simple Twitter and Telegram joins. The drop is worth 7.6 USD at the ICO price. </td>
    <td><a rel="nofollow,noopener" target="_blank" href="http://airdrop.eatchain.tech?ref=a3349738e7eead18f195d75c7f3ce7a8">join</a></td>
    <td><a target="_blank" href="http://eatchain.tech">web</a></td>
  </tr>
  <tr>
    <td>NagriCoin/ $NGR</td>
    <td>March - June 2018 (ERC20 Airdrop)</td>
    <td>NGR is a project of a biotechnology company. Nagricoin airdrops 5 NGR for Telegram join. You must stay in the group until the token sale is finished which will be in June 2018. Airdropped tokens will be sent then.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://goo.gl/42eYdj">form</a></td>
    <td><a target="_blank" href="https://t.me/nagricoinchat">t.me</a></td>
  </tr>
  <tr>
    <td>Coin4Favors / $C4F (ERC20 Bounty)</td>
    <td>Until July 2018 or cap hit</td>
    <td>C4F is a blockchain-powered, location aware smartphone app that helps to identify and hire people anywhere in the world to complete a task or mini-job. Something like Fiverr,
      only with it's own game-money instead of the hassle of Paypal KYC. Drops tokens for Reddit posts, Twitter shoutouts and more - up to 100000 C4F depending on the engagement. You need to join their website's list and report your activity to the team. </td>
    <td><a rel="nofollow,noopener" target="_blank" href="http://www.c4f.io?bid=1901242">join</a></td>
    <td><a target="_blank" href="https://medium.com/@Coins4Favors/coins4favors-premium-airdrop-3-6c824f8b8278">ann</a></td>
  </tr>
  <tr>
    <td>CryptoLoans / $LCN (ERC20 Bounty)</td>
    <td>13 March 2018 - 27 June 2018 or hitting the cap</td>
    <td>New updated bounty, see the ann link. Cryptoloans is a token that makes it possible to trade cryptocurrency on credit. They are currently giving away the LCN tokens for social media activity - tweeting, retweeting, blog posting. The amount of tokens depends on your following. No registration is necessary, you just need to report your activity along with your ETH address.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://www.cryptoloans.top/en">cryptoloans</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3118090">new ann</a></td>
  </tr>

  <tr>
    <td>Genesis / $GEN (Airdrop)</td>
    <td>As available</td>
    <td>If you have a GitHub account older than 1 years old your eligible for a free drop from the Genesis team. The airdrop has been active on Github for a while but is still active - the dropped amount decreases by 1 token each day, 84.28% tokens are still ready to be distributed. Today you receive 112 GEN. It is only done via Github as the project targets developers. To join, star the gist in join link and read the instructions. The rules changed, you now need the Keybase app to join. In your public key gist, use our referral to get extra tokens: <code>*your-key-here*;altcointrading</code></td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://gist.github.com/c-darwin/a9a96a4eaae16c0d410f34e434594132#get-your-tokens-github-user">extra 10 tokens with referral: altcointrading</a></td>
    <td><a target="_blank" href="https://github.com/GenesisCommunity/go-genesis#get-your-tokens-github-user">ann</a></td>
  </tr>
  <tr>
    <td>DSTRA / $DST </td>
    <td>Every two weeks</td>
    <td>DSTRA is PoS Scrypt Masternode coin with limited supply that will be used in DEX environment and marketplaces. There are airdrops every two weeks, users need to register via discord.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://discord.gg/FjdgTjs">discord</a></td>
    <td><a target="_blank" href="https://bitcointalk.org/index.php?topic=3102274.0">ann</a></td>
  </tr>

  <tr>
    <td>Postponed MoneroV / $XMV (XMR Fork)</td>
    <td>Block 1564965 (cca 30 April 2018)</td>
    <td>Postponed to end of April. XMR holders receive XMV - 1 XMR : 10 XMV. XMV promises lower fees, capped supply and end of botnet abuse. <a href="https://www.reddit.com/r/MoneroV/comments/7x9mja/monerov_airdrop_automatic/du6pdki/">There are privacy risks to this fork</a>.</td>
    <td><a rel="nofollow,noopener" target="_blank" href="https://monerov.org/announcement-monerov-fork-date-postponed/">monerov.org new ann</a></td>
    <td><a target="_blank" href="https://www.reddit.com/r/MoneroV/">Reddit</a></td>
  </tr>

  <tr>
    <td>Hempcoin / $THC (Fork)</td>
    <td>Moved to Q2 2018</td>
    <td>Hempcoin will fork in second quarter of 2018. The new THC token will be an anonymous coin and feature masternode capabilities. $THC currently trades at Bittrex.</td>
    <td><a rel="nofollow" target="_blank" href="http://hempcoin.org/THC.pdf">hempcoin.org</a></td>
    <td><a rel="nofollow" target="_blank" href="https://twitter.com/TheHempCoin/status/966824266267316224">Twitter</a></td>
  </tr>

  <tr>
    <td>Everipedia (EOS Airdrop)</td>
    <td>Before 1 June 2018</td>
    <td>The drop will occur before the EOS blockchain release but date is yet to be specified. This project is the next generation Wikipedia rebuilt on blockchain with no ads and everything under CC license.</td>
    <td><a rel="nofollow" target="_blank" href="https://docs.google.com/document/d/1wYc3MAJV1YY6zspfTriLs-PyE-IbMK_Qm0astviiswE/edit">FAQ</a></td>
    <td><a rel="nofollow" target="_blank" href="https://twitter.com/everipedia">Twitter</a></td>
  </tr>

  <tr>
    <td>Scatter/RIDL (EOS Airdrop)</td>
    <td>Will be credited on the EOS chain</td>
    <td>RIDL is an identity management layer. Users get 40 RIDL on the EOS blockchain when it launches but need to document themselves to claim. </td>
    <td><a rel="nofollow" target="_blank" href="https://docs.google.com/document/d/1P6Oz08vNjrJO1H3HmBkuh4BIVm3-0YAe4nqo-xfT4v0/edit">FAQ</a></td>
    <td><a rel="nofollow" target="_blank" href="https://twitter.com/Scatter_EOS">Twitter</a></td>
  </tr>

</table>
