<ul>
  <li><a href="#past">Past Crypto Black Fridays</a>
    Deals in <b><a href="#past2020">2020</a></b> &middot; <b><a href="#past2019">2019</a></b> &middot; <b><a href="#past2018">2018</a></b> &middot; <b><a href="#past2017">2017</a></b>
  </li>
  <li>
    <a href="#anticipated">Eternal Black Friday Deals</a>
    <ul>
    {% for item in eter %}
    <li><a href="#eternal-{{ item.tags[0] }}">{{ item.tags[0] | replace: '-', ' ' | capitalize }}</a></li>
    {% endfor %}
    </ul>
  </li>
  <li>
    <br>
    <a href="/coupon-independent-reserve/" target="_blank">
    Scouting <b>crypto wallet deals</b> for your <b>DCA</b> stash?
    <br>
    <br>
    [!] Auto-DCA at <b>Independent Reserve</b></a>
  </li>
  <li>
    <br>
    <a href="/coupon-bitfinex-5egv78ytlc/" target="_blank">Here for the <b>TradingView PRO deals</b>?
    <br>
    <br>
    [!] You will need that <b>6% off at Bitfinex</b>, mate</a>
    <br>
    <br>
  </li>
  <!--
  <li><a href="#regular"><b>[!]</b> Eternal Black Friday Staples: NO RUSH HERE, these brands discount after Black Friday too.</a>
    <ul>
    {% for item in eter %}
    <li><b><a href="#eternal-{{ item.tags[0] }}">{{ item.tags[0] | replace: '-', ' ' }}</a></b></li>
    {% endfor %}
    </ul>
  </li>
  -->
</ul>
