<ul>
  <li>
    <a href="#live"><b>Crypto Black Friday 2020</b>: Live Deals</a>
    <ul>

    {% for item in live %}
    <li><a href="#live-{{ item.tags[0] }}">{{ item.tags[0] | capitalize }}</a></li>
    {% endfor %}
    <li><a href="#timeline">[!] 2020 Timeline</a></li>

    </ul>
  </li>
  <li><a href="#products"><b>[?]</b> What to Buy on Black Friday: Brands Overview</a></li>
  <li>
    <a href="#anticipated">Anticipated Black Friday Deals 2020</a>
    <ul>
    {% for item in anti %}
    <li><a href="#anicipated-{{ item.tags[0] }}">{{ item.tags[0] | replace: '-', ' ' | capitalize }}</a></li>
    {% endfor %}
    </ul>
  </li>
  <li><a href="#past">Past Crypto Black Fridays</a>
    <ul>
    <li><b><a href="#past2019">2019 Deals</a></b></li>
    <li><b><a href="#past2018">2018 Deals</a></b></li>
    <li><b><a href="#past2017">2017 Deals</a></b></li>
    </ul>
  </li>
  <li><a href="#regular"><b>[!]</b> Eternal Black Friday Staples: NO RUSH HERE, these brands discount after Black Friday too.</a>
    <ul>
    {% for item in eter %}
    <li><b><a href="#eternal-{{ item.tags[0] }}">{{ item.tags[0] | replace: '-', ' ' }}</a></b></li>
    {% endfor %}
    </ul>
  </li>
</ul>
