<div id="anticipated"></div>

<hr>
<blockquote>
  Black Friday 2020: Anticipated <b>Black Friday Deals</b> in Crypto
</blockquote>
<hr>

<p>
  Here are the <b>anticipated crypto deals</b> for BlackFriday {{ site.time | date: '%Y' }}. We are listing here all the most popular products that crypto traders usually want to get during Black Friday.
</p>
<p>
  In the rest of this bloody long post on AltcoinTrading.NET you can also learn of what kind of offers we got last year during <b>Black Friday 2019, 2018 and 2017</b>. Successful promo campaigns are most likely to repeat (or rhyme) in November {{ site.time | date: '%Y' }}.
</p>

{% for item in anti %}
<hr id="anicipated-{{ item.tags[0] }}">
<h3>{{ item.title }}</h3>
<article>{{ item.content }}</article>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
<hr>
{% endfor %}
