<h2 class="tagged-as">Past Crypto Black Friday:<br>Deals you missed in 2017-2020</h2>

<p>Hello crypto deal hunters. Now that crypto hardware wallets and charting apps have been around for a few years, this is not our first rodeo.</p>

<p>Every year, the most demanded crypto trading services and products came up with interesting bundle and discount offers in the weeks leading up to Black Friday, just to get the attention of the crypto crowd.</p>



<h3 id="past2019">Crypto Black Fridays Deals 2020</h3>
{% assign past = site.ebf | where: "categories", "2020" | reverse %}

<b>Jump to Black Friday deal details:</b>
<ul>
  {% for item in past %}
  <li><a href="#past2020-{{ item.tags[0] }}">{{ item.tags[0] | replace: '-', ' ' | capitalize }}</a></li>
  {% endfor %}
</ul>
{% for item in past %}
<h4 id="past2020-{{ item.tags[0] }}">{{ item.title }}</h4>
<p>{{ item.content }}</p>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
{% endfor %}

<h3 id="past2019">Crypto Black Fridays Deals 2019</h3>
{% assign past = site.ebf | where: "categories", "2019" | reverse %}

<b>Jump to Black Friday deal details:</b>
<ul>
  {% for item in past %}
  <li><a href="#past2019-{{ item.tags[0] }}">{{ item.tags[0] | replace: '-', ' ' | capitalize }}</a></li>
  {% endfor %}
</ul>
{% for item in past %}
<h4 id="past2019-{{ item.tags[0] }}">{{ item.title }}</h4>
<p>{{ item.content }}</p>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
{% endfor %}

<h3 id="past2018">Crypto Black Fridays Deals 2018</h3>
{% assign past = site.ebf | where: "categories", "2018" | reverse %}

<b>Jump to Black Friday deal details:</b>
<ul>
  {% for item in past %}
  <li><a href="#past2018-{{ item.tags[0] }}">{{ item.tags[0] |replace: '-', ' ' | capitalize }}</a></li>
  {% endfor %}
</ul>

{% for item in past %}
<h4 id="past2018-{{ item.tags[0] }}">{{ item.title }}</h4>
<p>{{ item.content }}</p>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
{% endfor %}

<h3 id="past2017">Crypto Black Fridays Deals 2017</h3>
{% assign past = site.ebf | where: "categories", "2017" | reverse %}


<b>Jump to Black Friday deal details:</b>
<ul>
  {% for item in past %}
  <li><a href="#past2017-{{ item.tags[0] }}">{{ item.tags[0] | replace: '-', ' ' | capitalize }}</a></li>
  {% endfor %}
</ul>

{% for item in past %}
<h4 id="past2017-{{ item.tags[0] }}">{{ item.title }}</h4>
<p>{{ item.content }}</p>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
{% endfor %}
