<h2 class="tagged-as">Past Black Friday Offers: What we got in the past years</h2>

Hello Black Friday 2020 shoppers. Now that crypto hardware wallets and charting apps have been around for a few years, this is not our first rodeo.

Every year, the most demanded crypto trading services and products came up with interesting bundle and discount offers in the weeks leading up to Black Friday, just to get the attention of the crypto crowd.

<h3 id="past2019">Crypto Black Fridays Deals 2019</h3>
{% assign past = site.ebf | where: "categories", "2019" | reverse %}
{% for item in past %}
<h4>{{ item.title }}</h4>
<p>{{ item.content }}</p>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
{% endfor %}

<h3 id="past2018">Crypto Black Fridays Deals 2018</h3>
{% assign past = site.ebf | where: "categories", "2018" | reverse %}
{% for item in past %}
<h4>{{ item.title }}</h4>
<p>{{ item.content }}</p>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
{% endfor %}

<h3 id="past2017">Crypto Black Fridays Deals 2017</h3>
{% assign past = site.ebf | where: "categories", "2017" | reverse %}
{% for item in past %}
<h4>{{ item.title }}</h4>
<p>{{ item.content }}</p>
<div class="meta">
  <p>Tagged as {% for tag in item.tags %}<span class="tag article-tags">#{{tag | upcase}}</span>&nbsp;{% endfor %}</p>
</div>
{% endfor %}
