@media (max-width: 667px) {
  .mobile-only {display: block}
  .desktop-only {display: none}
}
@media (min-width: 667px) {
  .mobile-only {display: none}
  .desktop-only {display: block}
}

.pagination {
    color: #001f3f;
    font-family: "Fira Sans Condensed";
    font-size: 16px;
    display: block;
    left: 0;
    font-weight: 800;
    margin-bottom: 10px;
    background: #fff;
    clear: both;
}
.pagination > .prev {
  padding: 0 20px;
  float: left;
  border-left: 5px solid #ffdc00;
  width: 39%;
}
.pagination > .next {
  padding: 0 20px;
  float: right;
  border-right: 5px solid #ffdc00;
}

h3.home-bottom {
  text-transform: capitalize;
    margin: 40px 0 10px;
    font-size: 21px;
    color: #000b17;
    font-family: "Droid Sans",sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
}

h1.post-main {
    background: transparent;
    color: #000b17;
    border-left: 5px solid #000b17;
    padding: 3rem;
    font-size: 4rem;
}
.maincontent h5.category-post {
  border-right: 5px solid #7A838D;
  border-left: none;
}

.google-news-tag {
  display: block;
  background: #ffdc00;
  padding: 4px 15px;
  color: #fff;
  font-size: 100%;
  font-weight: 600;
  position: relative;
  top: 0;
  width: auto;
  float: left;
}
.maincontent ul {
    list-style: square;
    padding-left: 17px;
}
.maincontent ul li a {
  color: #6a6e73;
  border-bottom: 2px solid rgba(122,131,141,.64);
}

.popular-security > span {
    background: #fddc33;
    display: inline-block;
    padding: 1px 5px;
    font-size: 80%;
    position: relative;
    top: -2px;
    color: #fff;
}

input, select, textarea {width: 100%}

.relative{position: relative;}

section em{font-family:"Alegreya",serif;font-style:italic;font-size: 115%;color: #000b17;}

ul.airdrops {list-style: disc;margin-left: 22px;}
ul.airdrops a {text-decoration: underline;}
#sidebar table.airdrops {display:block;width:100%;font-family:'Courier New', monospace}
#sidebar table.airdrops tr,
#sidebar table.airdrops th,
#sidebar table.airdrops td {display:block;width:100%;padding:0 5px;border: none;}
#sidebar table.airdrops tr:nth-of-type(1){background: #7a838d;padding: 10px 5px;color: white;}
#sidebar table.airdrops tr:nth-of-type(2n){background: #f9f9f9;}
#sidebar table.airdrops tr > td:nth-of-type(1) {color:#001f3f;font-weight: 800}

#sidebar .strategy-overlay {
    position: absolute;
    max-width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.14);
    bottom: 9px;
    height: 190px;
    color: white;
    font-weight: 400;
}
#sidebar .strategy-overlay p {margin: 10px 0;}

.maincontent table.airdrops{table-layout: fixed;width: 100%;white-space: pre-wrap;}
table.airdrops a{border-bottom: 2px solid #7A838D}

blockquote {font-family: 'Courier New', monospace;font-style: normal;font-size: inherit;color: #001f3f;border-left: 5px solid #fddc33;padding-left: 2rem;margin-left: 0;line-height: 1.1;}

.homelab, .homelab * {text-align: left;margin-bottom: 4px;line-height: 1.1;}
.alignleft, .alignleft > p {text-align: left}
ul.social{list-style:none;font-size:37px;margin-bottom:-3px}ul.social li{display:inline-block}.mailchimpfix{width: auto;float: left;margin-right: 30px;margin-bottom: 0;clear: both;display: block;}.warning{position:relative;left:-10px}#side2 ul li a,#sidebar ul.sq li a,.stripe .hl a,a,nav.main a{text-decoration:none}.adfix,.clearfix{clear:both}body{font-family:'Droid Sans',sans-serif;color:#413F4F}h1,h2,h3,h4,h5,h6{font-family:'Fira Sans Condensed',serif}
hr.home{border-top: 1px solid #001f3f;}.textlogo{display:block;float:none;padding-top:6px}.maincontent h3{margin-top:0;background:rgba(122,131,141,.64);color:#fff;padding:5px 10px 3px;margin-left:-10px;font-size:2.3rem}.maincontent p a{border-bottom:2px solid #7A838D}.maincontent img a{border-bottom:0 solid #7A838D}.nomargintop{margin-top:0}ul{list-style:circle}ul>li>a.coin{background:#7a838d;color:#fff;padding:5px 10px}.warning{background:#FF4136;color:#fff;padding:1em 2em;margin:1em 0 2em;width:auto}  .logo {width: 75px;float: none;margin: 0 auto;}#altindexbox{text-align: right;margin-top: 10px;}#togglemenu{clear: both;display: block;margin: -30px 0 -10px;float: left;width: 100%;}span#note, span.note {color: #001f3f;font-family: "Fira Sans Condensed";font-size: 16px;display: block;left:0;font-weight: 800;border-left: 5px solid #ffdc00;margin-bottom: 10px;background: #fff;clear: both;}
.tooltip-label,h4.post{text-transform: capitalize;background:rgb(249, 249, 249);color: #7A838D;border-left: 5px solid #7A838D;}
h4.post-main {background: rgba(122, 131, 141, 0.21);color: #000b17;border-left: 5px solid #000b17;}
.tooltip-label{font-size:1em;padding:.4em;cursor:pointer;display:inline-block;margin-bottom:1em;margin-top:10px;font-weight:400}.tooltip-input{display:none;visibility:hidden}.tooltip-content{margin-bottom:1.5em}.tooltip-input:not(checked)~.tooltip-content{display:none}.tooltip-input:checked~.tooltip-content{display:block}h4.post{margin-top:0;margin-bottom:0;padding:5px 10px 3px}a.last{color:#fff;background:#FF4136;padding:5px}.exa{background:#001f3f;color:#fff}.exa{padding:10px}a{color:#001f3f}a:hover{color:rgba(0,31,63,.77)}img.post{max-width:100%}span#note,span.note{padding:3px 10px;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}ul.navi li,ul.navi li:first-of-type{padding-left:0}nav.main{line-height:2.4;font-size:1.8rem;font-family:"Droid Sans",sans-serif}nav.main a{color:#001f3f}nav.main a:hover{color:#001f3f;font-weight:800}ul.navi{display:inline}ul.navi li{list-style-type:none;display:inline-block;font-size:1.5rem;margin-right:10px;font-weight:800;margin-bottom:.3rem}nav ul ul{display:none;margin-left:0;position:absolute;top:70px;background:rgba(255,255,255,.7);border:1px solid #000;padding:1px 10px;z-index:10}.adfix,figure.thumb,nav ul ul li{display:block;position:relative}nav ul li:hover>ul{display:block}nav ul ul li{float:none;padding:0}nav ul ul li a{font-size:1.3rem}#side2 ul li,#sidebar ul.sq li{list-style-type:square;font-size:1.3rem}ul.divided li{list-style-type:none}ul.divided li div{text-align:center}#sidebar h3,#sidebar h3 a{font-size: 2.0rem;color: #001f3f;background: 0 0;padding: 5px 0;font-weight:400;border-bottom: 5px solid #001f3f;}#sidebar iframe,#sidebar img{width:99%;border:0}#side2 h3,#side2 h3 a{font-size:1.8rem;color:#fff;background:#111;padding:5px 15px}.container{max-width:1200px}.stripe{margin:0 auto;padding:20px 0 0;color:#7A838D;background:#fff;width:100%}.stripe .hl a{font-family:'Fira Sans Condensed',serif;float:left;margin-bottom:0;font-size:4rem;line-height:1.3;letter-spacing:-.1rem;color:#001f3f;font-weight:800}.stripe p{color:#aaa;margin-bottom:0}figure.border,figure.post{max-width:100%;margin:0 0 30px}.stripe small{float:left;display:block;width:100%}figure.border{border:2px dotted #7A838D}figure.thumb{width:auto;height:auto;clear:both;max-width:100%;padding:0;margin:0;text-align:right}.notopmargin{margin-top:0}.shifted-left{margin-left:0}.text-center{text-align:center}.footer{line-height:50px;border-top:2px solid #7A838D;font-size:80%}
.contacticon .center{font-size:30px;text-align:center;display:block;}.contacticon a, #socicons a{border-bottom: none}figure.chart{margin:1.5em 0}figure.noborder{max-width:100%;margin:0 0 30px;border:0 dotted #7A838D}.adfix{float:left;width:100%;margin-bottom:1.5em}@media (min-width:550px){h4{font-size:2.3rem}}@media (min-width:750px){#togglemenu{display:none}}@media (max-width:750px){#desktopmenu{display:none}.swapper{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-orient:vertical;-moz-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-moz-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;align-items:flex-start}#new-posts{-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;order:1}#popular-posts{-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;order:2}}

@media (max-width:500px){figure.thumb{max-width:100%;margin:0;}ul.navi {display: block;}.stripe small,ul.navi li{padding-left:0}.stripe .hl a,.stripe small{width:100%;text-align:center}ul.navi li{min-width:100%;text-align:center}figure,img{max-width:100%}.tooltip-label-menu{font-size:1em;background:#000b17;padding:.4em;cursor:pointer;display:block;margin-bottom:2em;color:#fff;margin-top:0;font-weight:400}}

h3.popular{width:100%;float:left;margin-right:15px;}

.row.home-top-new{margin-bottom: 20px;}
.row.home-top-new > article > .row {position: relative;}
.row.home-top-new > article > .row > .overlay {position: absolute;
    max-width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.14);
    bottom: 0;
    color: white;
    font-weight: 800;}
.row.home-top-new > article > .row > .overlay > a {color: white;text-decoration: none;}
.row.home-top-new > article > .row > .overlay > a:hover {color: rgb(249, 249, 249)}
.overlay > a > em {color: white;}


h5.post {
  padding: 4px 10px;
    text-transform: capitalize;
    background: rgb(249, 249, 249);
    color: #7A838D;
    border-left: 5px solid #7A838D;
    font-size: 21px;
}
.row.home-latest{margin-bottom:20px;border-top:2px solid #7a838d;border-bottom: 1px solid #e6e4e4;}
.row.home-latest .columns {margin-left:0}
.row.home-latest .seven.columns {width: 60.666667%;}
.home-latest-excerpt{margin:-5px 15px 15px 15px}

.yellow {color:#ffdc00;}
.tag {display:inherit;background:#ffdc00;padding:1px 7px;color:#fff;font-size:80%;font-weight:200;position:relative;top:-2px}
.custom-note {background:#CDDC39;}
.custom-note.bg-red {background: #FF4136}

.post-content .guest{color:rgba(122, 131, 141, 0.81)}
.post-content .guest > a {color:rgba(122, 131, 141, 0.81);text-decoration: underline;}


.security-bg, .sec-latest {
    position: relative;
    z-index: 1;
    max-width: 100%;
}
.security-olay {
    position: absolute;
    z-index: 99;
    max-width: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.security-olay h2 {
  padding: 15px;
    color: white;
    text-transform: uppercase;

}
.security-olay h2 a {
  color: #CDDC39
}
.security-olay .home-latest-excerpt {
  color: white;
    font-size: 23px;
    line-height: 1.3;
    font-weight: 800;
}

#altcointrading-security .google-news-tag {
  display: block;
  background: #ffdc00;
  padding: 4px 15px;
  color: #fff;
  font-size: 100%;
  font-weight: 600;
  position: relative;
  top: 0;
  width: auto;
  float: left;
}
#altcointrading-security .maincontent ul {
    list-style: square;
    padding-left: 35px;
}

/* Strategy */

#altcointrading-strategy .google-news-tag {
  display: block;
  background: #ffdc00;
  padding: 4px 15px;
  color: #fff;
  font-size: 100%;
  font-weight: 600;
  position: relative;
  top: 0;
  width: auto;
  float: left;
}
#altcointrading-strategy .maincontent ul {
    list-style: square;
    padding-left: 17px;
}
#altcointrading-strategy ul.social,
#altcointrading-strategy ul.social a {
    list-style: none;
    font-size: 15px;
    margin-bottom: -3px;
    color: #413F4F;
    padding-top: 33px;
}
#altcointrading-strategy ul.social li {margin-right: 10px}
#altcointrading-strategy li.cta {font-size: 15px; font-family: "Courier New", "courier", monospace; font-weight: 400}

#altcointrading-strategy h1.post-main {margin-bottom: 0}

/* 101 - updated */

.nogutter{margin:0;padding:0;position:relative;margin-bottom:20px}
.nogutter.four.columns {width: 33.333%;}
.nogutter.three.columns {width: 25%;}
.nogutter * {color:white}
.post-bg-outer {height:400px}
.post-bg-inner {height:400px;background:rgba(0,0,0,0.3);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.post-bg-inner:hover{background:rgba(0,0,0,0.1);}
.update-overlay {position: absolute;padding: 5px}
.update-overlay * {color: white;line-height: 1.1}
.updated-title{display: block;float: left;font-size: 22px}
a.updated-title:hover {color:rgb(249, 249, 249)}
.updated-excerpt{display: block;float: left;line-height: 1.3;font-size: 13px;font-family: 'Courier New', 'Courier', monospace;padding:5px 13px}
a.updated-excerpt:hover{color:white}
.updated-tag{padding: 15px;
    display: inline-block;
    margin-bottom: -10px;}


@media(min-width:480px){
  .logo {
    width: 75px;float: none;margin: 0 auto;
  }
  .textlogo {
    display: block;
    float: none;
    margin: 6px auto;
    text-align: center;
  }
  .stripe {
    margin: 0 auto;
    padding: 20px 0 0 0;
    color: #7A838D;
    background: #fff;
    border-bottom: none;
  }
  .stripe .hl a {
    font-family: 'Fira Sans Condensed',serif;
    float: none;
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
    color: #001f3f;
    font-weight: 800;
    margin: 0 auto;
    text-align: center;
  }
  nav.main {
    line-height: 3.4;
    font-size: 0.8rem;
    font-family: "Fira Sans Condensed",sans-serif;
  }
  ul.navi {
    display: block;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #7A838D;
    margin-bottom: 16px;
    text-transform: capitalize;
  }
  #altindexbox {
    position: relative;
    right: 0;
  }
  #popular-posts h3 {
    font-size: 2.0rem;
    margin-bottom:0
  }
  #popular-posts p {margin-bottom: 0.8rem}
  figure.textflow {
    display: block;
    width: 200px;
    float: left;
    margin-right: 20px;
  }
}

@media (max-width: 480px){
  body {
    color: #010a16;
    font-size: 18px;
  }
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
    display: block;
  }
  th:first-child, td:first-child {
      padding-left: 5px;
  }
  tr:nth-last-of-type(2n+1){background: rgb(249, 249, 249)}
  table:not(.airdrops) th {background: #ffdc00;color:#fff}
 .row.home-top-new > article > .row > .overlay {bottom: 0;font-size: 14px;}
 .row.home-latest .seven.columns {width: 100%;}
 #popular-posts{max-width: 100%}
 .row.home-top-new{margin-bottom: 0}
 .row.home-latest {
   margin-bottom: 25px;
    border-top: none;
    border-bottom: 1px solid #7a838d;
    padding-bottom: 25px;
 }
 .tag {padding: 3px 25px}
 h5.post {
    padding: 4px 15px;
    background: transparent;
    font-size: 25px;
  }
  .home-latest-excerpt {
    margin: -15px 0 5px 0;
    font-size: 16px;
    color: #021f40;
    font-weight: 600;
  }
  section em {
    font-family: inherit;
    font-style: normal;
    font-size: inherit;
    color: #7a838d;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: uppercase;
  }
  h4.post-main {
    background: transparent;
    font-size: 40px;
  }
  .maincontent h3 {
    background: transparent;
    color: #010a16;
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: 800;
  }
  .tooltip-label {
    background: transparent;
    color: #7A838D;
    border-left: none;
    text-transform: uppercase;
  }
}



/*=================================*/

/* strategy specific */
.strategy-content blockquote {
    font-family: 'Passion+One';
    font-style: initial;
    font-size: 32px;
    color: #001f3f;
    border-left: none;
    padding: 3rem;
    margin-left: 0;
    line-height: 1.3;
    text-align: center;
    font-weight: 800;
}
.strategy-content h1, .strategy-content h2, .strategy-content h3,
.strategy-content h4, .strategy-content h5, .strategy-content h6 {
    text-transform: uppercase;
    font-weight: 600;
    color: #021f40;
}
.strategy-content h1 {font-size: 4rem}
.strategy-content h2 {font-size: 3.5rem}
.strategy-content h3 {
    font-size: 3rem;
    background: #fff;
    padding: 25px 30px;
    border-left: 5px solid #021f40;
    text-transform: capitalize;
    margin-left: 1px;}
.strategy-content h4 {font-size: 2.5rem}
.strategy-content h5 {font-size: 2rem}


@media (max-width: 480px) {
 .security-bg {height: 420px;background: #929292;}
 .security-olay h2 a {font-size: 2rem;}
 .security-olay .home-latest-excerpt {font-size:2rem;padding:15px;}

 #sidebar .strategy-overlay {
   font-weight: 400;
    line-height: 1;
    font-size: 14px;
    height: auto;
 }
 #sidebar .strategy-overlay p {margin: 10px 0;}
}


.securitycontent img {max-width: 100%}
.securitycontent article ul > li > a {text-decoration: underline}

/* HIDDEN */

.hidden {display:none}
