{% if page.tags contains "top" %}
<div class="clearfix row box-lvl-c" id="blackfriday-cta">
  <div class="row">
    <h5>A <em>Tool</em> Mentioned Here Is On <b>Black Friday Sale</b> Right Now!</h5>
  </div>
  <div class="row home-glossary">
    <div class="columns twelve">
        {% if page.tags contains "ledger" %}
           {{ site.bf.ledger1 }}
        {% elsif page.tags contains "tensorcharts" %}
           {{ site.bf.tcharts1 }}
        {% elsif page.tags contains "tradingview" %}
           {{ site.bf.tv1 }}
        {% else %}
           {{ site.bf.billfodl1 }}
        {% endif %}

    </div>
  </div>
</div>
{% endif %}
