<b>IMPORTANT! BitMEX platform is unreliable in 2020.</b>
<ul class="popular">
  <li class="popular-item">
    For <a href="/glossary/perps/">perpetual swap</a>, use <a href="http://bit.ly/at-bybit-2020-drops">Bybit</a> (<-- 10 USD signup bonus with this link).
  </li>
  <li class="popular-item">
    For futures trading, use <a href="http://bit.ly/at-bfx-banner2020">Bitfinex</a> (<-- 6% fee discount with this link).
  </li>
  <li class="popular-item">
    For options trading, use <a href="http://bit.ly/deribit">Deribit</a>.
  </li>
</ul>
