<div class="row" id="top-wallets">
  <div class="columns six">
    <div class="here-box quiterelated">
      <h5>Commercial</h5>
      <a href="https://bit.ly/lnx_at_altcoinwallets" target="_blank" rel="nofollow">
        Ledger Nano X
        <br>
        Top Commercial Altcoin Wallet
      </a>
    </div>
  </div>
  <div class="columns six">
    <div class="here-box quiterelated">
      <h5>Free</h5>
      <a href="https://www.exodus.io/" target="_blank" rel="nofollow">
        Exodus
        <br>
        Top Free Altcoin Wallet App
      </a>
    </div>
  </div>
</div>

<br><br>
