---
layout: default-news
---

<div class="container" id="altcointrading-trading">
  <div class="row">

    <section class="altcointrading-blog-header">
      <div class="row">
       <div class="seven columns">
          <h1 class="post post-main">[ATNET Crypto Trading Glossary]&nbsp;<strong>{{ page.title }}</strong></h1>
          {% include article/meta.html %}

       </div>
       <div class="five columns">
         {% include article/twitters.html %}
       </div>
      </div>
    </section>

    <div class="row">
      <div class="columns eight">

        <section class="altcointrading-blog-body">
            <article class="maincontent altcointrading-blog-head">
              <div class="columns twelve strategy-hook">

                <blockquote cite="{{ page.url | prepend: site.url }}">
                  {% if page.hook %}{{ page.hook }}{% else %}{{ page.description }}{% endif %}
                </blockquote>
                <figure class="noborder main-post-image">
                  <amp-img itemprop="image" src="{{ page.image[0] }}" alt="Crypto Trading Glossary"
                  layout="responsive" data-original-width="700px" data-original-height="360px"
                  width="700px" height="360px">
                  </amp-img>
                </figure>
              </div>

            </article>
            <article class="maincontent altcointrading-blog-content" id="block-intext">
              <div class="strategy-content intext" id="article-body">
                {{ content }}
  					  </div><!-- strategy content -->
            </article>

              {% if page.indepth %}
              <article class="maincontent altcointrading-blog-content">
                <div class="glossary-indepth">
                  <p>
                    <a href="{{page.indepth}}" class="button">Read the in-depth article about <u>{{page.title }}</u></a>
                  </p>
                </div>
              </article>
              {% endif %}


          </section>


        </div><!-- 8 -->
        <div class="four columns nomargintop">
          <aside>
            {% include sidebar-glossary.html %}
          </aside>
        </div><!-- 4 -->
      </div><!-- row-->
      <div class="row">
        <p>&nbsp;</p>
        {% include article/cta.html %}
        <p>&nbsp;</p>
        <div id="at-promo-horizontal">
          {% include promoting-horizontal.html %}
        </div>

      </div>
  </div><!-- row -->
</div><!-- container -->

</div>
</div>
