---
layout: default-news
---

<div class="container" id="altcointrading-trading">
  <div class="row">

    <div class="row post-content">

      <amp-ad type="adsense"
        width=729 height=90
        data-ad-client="ca-pub-6979812205705127"
        data-ad-slot="4431753151"
        data-auto-format="rspv"
        data-full-width>
          <div overflow></div>
      </amp-ad>

     <div class="seven columns">
        <h1 class="post post-main"><strong>{{ page.title }}</strong>&nbsp;-&nbsp;#CryptoTrading</h1>
     </div>
     <div class="columns five">
       <div class="clearfix"></div>
       {% include article/twitters.html %}
       <div class="clearfix"></div>
     </div>
    </div>

      <div class="row">
        <div class="columns eight">
          <article class="maincontent">

            <div class="columns twelve strategy-hook">
              <blockquote cite="{{ page.url | prepend: site.url }}">
                {% if page.hook %}
                {{ page.hook }}
                {% else %}
                {{ page.description }}
                {% endif %}
              </blockquote>
              {% include article/meta.html %}
            </div>
            <div class="strategy-content">
              {{ content }}
            <hr>
            <p>
            <b>Shill Links:</b><br>

            Binance (newly added margin trading) @ <a rel="nofollow" target="_blank" href="http://bit.ly/china-margin">bit.ly/china-margin</a>
            BitMEX (10% fee off) @ <a rel="nofollow" target="_blank" href="http://bit.ly/melancholic-100x">bit.ly/melancholic-100x</a><br>

            TradingView (~ 50% off in BTC) @ <a rel="nofollow" target="_blank" href="http://bit.ly/tradingview-moon">bit.ly/tradingview-moon</a><br>
            TensorCharts @ <a rel="nofollow" target="_blank"  href="http://bit.ly/tensor-charts">bit.ly/tensor-charts</a><br>

            Conbase (no offer but you still click this lol) @ <a rel="nofollow" target="_blank" href="http://bit.ly/plebtier">bit.ly/plebtier</a><br>
            EthFinex (NEC token rebates for MM) @ <a rel="nofollow" target="_blank" href="http://bit.ly/ethfinex">bit.ly/ethfinex</a><br>

            </p>
            <hr>

            {% include home/airdrops.html %}

            <div class="bottom strategy-content">
              {% include article/editor.html %}
              {% include article/author.html %}
            </div>

					 </div><!-- strategy content -->
          </article>
          <section>

            {% if page.series %}
            {% for series in page.series %}
            <div class="row tagfeed-items">
              <h2 class="tagged-as">More in #{{ page.tag | upcase }}: Series {{ series | upcase }}</h2>
              {% for post in site.posts %}
               {% if post.series contains series %}
               <div class="columns six">
                 {% include home/columnupdates.html %}
               </div>
               {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
            {% else %}

            <div class="row tagfeed-items">
              <h2 class="tagged-as">#DEX Series - The Business Of Decentralized Trading</h2>
              {% for post in site.posts %}
               {% if post.series contains "dex" %}
               <div class="columns six">
                 {% include home/columnupdates.html %}
               </div>
               {% endif %}
              {% endfor %}
            </div>

            {% endif %}

          </section>
        </div>
        <div class="four columns nomargintop">
          <div>
            {% if page.canonical %}
            <p>
              <a href="{{page.canonical}}">Originally published by <b>{{page.author_name}}</b>.</a>
            </p>
            {% endif %}
            {% amp700 noborder {{page.image[0]}} {{page.image_alt[0]}} %}
            {% include article/related.html %}
          </div>
          <br>
          <div class="clearfix"></div>
          {% include dogeshare.html %}
          <div class="clearfix"></div>
          <div class="smallad">
             {% include home/smallad.html %}
          </div>
          {% include sidebar-post.html %}
        </div>
      </div>
  </div>
</div>
</div>
</div>
