---
layout: default-news
---



<div class="container" id="altcointrading-trading">
  <div class="row">

    <section class="altcointrading-blog-header">
      <div class="row">
       <div class="seven columns">
          <h1 class="post post-main"><strong>{{ page.title }}</strong> - #CryptoTrading</h1>
       </div>
       <div class="five columns">
         {% include article/twitters.html %}
       </div>
      </div>
    </section>

    <div class="row">
      <div class="columns eight">

        <section class="altcointrading-blog-body">
            <article class="maincontent altcointrading-blog-head">
              <div class="columns twelve strategy-hook">

                {% include article/meta.html %}

                <blockquote cite="{{ page.url | prepend: site.url }}">
                  {% if page.hook %}{{ page.hook }}{% else %}{{ page.description }}{% endif %}
                </blockquote>
              </div>

            </article>
            <article class="maincontent altcointrading-blog-content">
              <div id="at-promo-horizontal">
                {% include promoting-horizontal.html %}
              </div>
              <div class="strategy-content intext" id="article-body">
                {{ content }}
  					  </div><!-- strategy content -->

              <div class="meta">
                <p>
                <span class="soften">Category: {{page.categories[0] | capitalize | replace: "-"," " }}</span>
                &middot;
                <span class="soften">Label: {{ page.note }}</span>
                &middot;
                <span>Author: {{ page.author_name | capitalize }}</span> <a target="_blank" href="{{page.author}}">(contact author)</a>
                </p>

              </div>
            </article>
          </section>


        </div><!-- 8 -->
        <div class="four columns nomargintop">
          <aside>

            <div>
              {% if page.canonical %}
              <p>
                <a href="{{page.canonical}}">Originally published by <b>{{page.author_name}}</b>. Reposted with permission</a>
              </p>
              {% endif %}
              <figure class="noborder main-post-image">
                <amp-img itemprop="image" src="{{ page.image[0] }}" alt="Altcoin Trading Blog"
                layout="responsive" data-original-width="720px" data-original-height="360px"
                width="720px" height="360px">
                </amp-img>
              </figure>
              {% include article/related.html %}
            </div>

            <div class="">
              {% include callouts/thistool.html %}
            </div>

            {% include sidebar-article.html %}

            <div class="clearfix"></div>
            <div class="smallad" id="at-promo-smallad-post">
               {% include home/smallad.html %}
            </div>

            <div class="clearfix"></div>
            <div id="at-promo-tv-tall">
              {{ site.tv_300-600_animated }}
            </div>


            <div class="clearfix"></div>
            {% include dogeshare.html %}

          </aside>
        </div><!-- 4 -->
      </div><!-- row-->

  <div class="row">
    {% if page.series contains "ScriptSpotlight" %}
          {% include article/cta.html %}
    {% endif %}

    <section class="altcointrading-blog-airdrops">
      <p>&nbsp;</p>
      {% include home/airdrops.html %}
    </section>


  </div>

</div>

  </div><!-- row -->
</div><!-- container -->

</div>
</div>
