---
layout: default-news
---
<div class="container">
  <div class="row">

   <div class="eight columns">
     <div class="shifted-left">
       {{ site.ads.aads728 }}
     </div>
       <span id="note">
         <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time>
       </span>
       <h4 class="post">
          <strong>
            {{ page.title }}
          </strong>
        </h4>
        {% if page.update %}
        <small>
          <time datetime="{{ page.update | date_to_xmlschema }}">
            Last Update: {{ page.update | date: "%d %b %Y" }}
          </time>
        </small>
        {% endif %}
        <article class="maincontent">

          {{ content }}

          {% if page.comments %}

          <br>

          <h4 class="post comment">Comment on "{{ page.title }}"</h4>

            <div id="disqus_thread"></div>
             <script>
                (function() {
                var d = document, s = d.createElement('script');
                s.src = 'https://altcointrading.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
              </script>
             <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

          <br>

          {% endif %}

        </article>
    </div>
    <div class="four columns nomargintop">
      {% include sidebar.html %}
    </div>
  </div>

  <script id="dsq-count-scr" src="//altcointrading.disqus.com/count.js" async></script>
