---
layout: default
---
<div class="container">
  <div class="row">

   <div class="eight columns">

      <p>{{ site.tv_728-90_static }}</p>

      <h1 class="post post-main">{{ page.title | capitalize }}</h1>
      <h3 class="post"><small>{{ page.description }}</small></h3>
      <hr>
      <article class="maincontent">
          {{ content | replace: '<a href="http', '<a target="_blank" href="http' }}
      </article>
    </div>
    <div class="four columns notopmargin">
      {% include sidebar.html %}
    </div>
  </div>
