---
layout: default
---

<div class="container">
  <div class="row">
    <div class="seven columns">
      <p>{{ site.localcryptos_banner }}</p>
    </div>
    <div class="five columns">
     <h2 class="post">
      <strong>{{ page.title | upcase }}</strong>
     </h2>
     <h4>
       <small>{{ page.description }}</small>
     </h4>
     <hr>
    </div>
  </div>
  <div class="row">
    <div class="columns twelve">
      <article class="maincontent col-guides">
        <div class="postslist">
          {% include lps/guides-feed.html %}
        </div>
        <div class="intro">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>
