---
layout: default
---

<div class="container">
  <div class="row">
    <div class="seven columns">
      <p>{{ site.localcryptos_banner_512 }}</p>
    </div>
    <div class="five columns">
     <h2 class="post">
      <strong>{{ page.title | upcase }}</strong>
     </h2>
     <h4>
       <small>{{ page.description }}</small>
     </h4>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="columns twelve">
      <article class="maincontent col-guides">

        <div class="row">
          {% assign howto_posts = site.howto | sort:date | reverse %}


          <h2 class="tagged-as">In AltcoinTrading How-To & Guides:</h2>


          <span class="note" id="onramp">Crypto Trading 101 Guides</span>
          <ul>
            {% for post in howto_posts %}
            {% if post.categories contains "crypto-trading-101" %}
            <li class="popular-item">
              <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
                <span class="tag lvl-a">Noobs</span> | <b>{{ post.title }}</b>{% if post.last_modified_at %} on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <span class="note" id="onramp">Guides to onramping from fiat into crypto</span>
          <ul>
            {% for post in howto_posts %}
            {% if post.categories contains "onramp" %}
            <li class="popular-item">
              <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
                <span class="tag lvl-a">Onramping</span> | <b>{{ post.title }}</b>{% if post.last_modified_at %} on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>


<div class="row box-lvl-a">
  <h4>Recommended trading platforms</h4>
  <p>Why are they recommended and what they do best:</p>
  {% for post in howto_posts %}
    {% if post.categories contains "trading-platforms" %}
    <h5>
      <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
        <span class="tag lvl-ab">{{ post.note }}</span> <b>{{ post.title }}</b>
      </a>
    </h5>
    <p>{{ post.description }}</p>
    <p></p>
    {% endif %}
  {% endfor %}
</div>

<br><br>

          <span class="note" id="technical">How to manage crypto wallets and trading apps (super basic level)</span>
          <ul>
            {% for post in howto_posts %}
            {% if post.categories contains "technical" %}
            <li class="popular-item">
              <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
                <span class="tag lvl-c">Technical</span> | <b>{{ post.title }}</b>{% if post.last_modified_at %} on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>


        </div>
        <div class="row" id="guidespage-interlink1">
          {% assign interlink = page.interlink1 %}
          {% include article/interlink-generic.html %}
        </div>
        <div class="row intro">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>
