---
layout: default
---
<div class="container">
  <div class="row">

   <div class="eight columns">

      <p>{{ site.ledger_728-90_animated }}</p>

       <h2 class="col-page">{{ page.title }}</h2>
       <h3 class="col-page">{{ page.description }}</h3>
        <article class="maincontent">
          {{ content | replace: '<a href="http', '<a rel="nofollow" target="_blank" href="http' }}
        </article>
    </div>
    <div class="four columns notopmargin">
      {% include sidebar.html %}
    </div>
  </div>
  <style>
    h2.col-page{
        background: #021f40;
        color: #fff;
        padding: 10px 15px;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    h3.col-page{
        color: #021f40;
        font-size: 20px;
        padding: 10px 15px;
        text-transform: capitalize;
    }
  </style>
