---
layout: default
---

<div class="container">
  <div class="row">
    <div class="seven columns">
      <p>{{ site.localcryptos_banner }}</p>
    </div>
    <div class="five columns">
     <h2 class="post">
      <strong>{{ page.title | upcase }}</strong>
     </h2>
     <h4>
       <small>{{ page.description }}</small>
     </h4>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="columns twelve">
      <article class="maincontent col-guides">

        <div class="row">
          {% assign howto_posts = site.howto | sort:date | reverse %}

          <span class="note">From AltcoinTrading How-To and 101 Sections:</span>
          <ul>
            {% for post in howto_posts %}
            <li class="popular-item">
              <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">#101 | <b>{{ post.title }}</b>{% if post.last_modified_at %} on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}</a>
            </li>
            {% endfor %}
          </ul>

        </div>
        <div class="row postslist">
          <span class="note">Posted in Crypto Trading Blog & tagged as Guide:</span>

          {% include lps/guides-feed.html %}
        </div>
        <div class="row intro">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>
