---
layout: default
---

  <div class="container">
    <div class="row">
      <div class="three columns">
        {% include security-practical.html %}
      </div>
      <div class="nine columns">
        {{ site.bfx_long }}
      </div>
    </div>
    <div class="row">
     <div class="twelve columns">
       <h2 class="post" hidden>{{ page.title }}</h2>
        <article class="maincontent col col-security">
         {% include lps/security-feed.html %}
        </article>
      </div>
    </div>
  </div>
