---
layout: default
---

  <div class="container">
    <div class="row">
      <div class="three columns">
        <span class="note">Also for Crypto Traders:</span>
        <ul>
          <li class="popular-item">
            <a href="/tag/tradingview-script-review/">TradingView Script Reviews</a>
          </li>
          <li class="popular-item">
            <a href="/strategy/">Crypto Trading Strategy</a>
          </li>
          <li class="popular-item">
            <a href="/guides/">How-To Guides (onramping, tech, exchanges)</a>
          </li>
        </ul>

      </div>
      <div class="nine columns">
        <p>{{ site.3commas_long }}</p>
      </div>
    </div>



    <div class="row">
     <div class="twelve columns">
       <h3 class="post">
        <strong>{{ page.title | upcase }}</strong>
       </h3>
       <div class="strategy-content">

         <div class="blockquote">
           {{ page.description }}
         </div>
       </div>
      <hr>

      <section class="maincontent col col-strategy" id="strategies-labeled">

        <div class="row">
          <div class="six columns">
            <div class="intro">
                {{ content }}
            </div>
          </div>
          <div class="six columns">
            <h4>Latest entries in ATNET Glossary</h4>
            {% assign ordered = site.glossary | sort: "date" | reverse %} <!-- sort:"note" -->
            {% for post in ordered limit:5 %}
              <p>
                <span class="tag lvl-{{post.note}}">{{post.note}}</span> <a href="{{post.url}}">{{ post.title}}</a>
                &middot; {{post.hook}}
              </p>
            {% endfor %}
            <div class="row">
              <p>
                <a class="btn" href="#all">All Glossary Entries</a>
              </p>
            </div>

          </div>
        </div>

        {% include article/cta.html %}

        <div class="row">
          <div class="columns eight offset-by-two" id="all">
            <br>

            {% assign bycat = site.glossary | where: "categories", "crypto-jargon" | sort: "title"  %} <!-- sort:"note" -->
            <h4><b>ATNET Glossary /</b> General Crypto Jargon</h4>
            {% for post in bycat %}
              <p>
                <span class="tag lvl-{{post.note}}">{{post.note}}</span> <a href="{{post.url}}">{{ post.title}}</a>
                &middot; {{post.hook}}
              </p>
            {% endfor %}
            {% assign bycat = site.glossary | where: "categories", "defi" | sort: "title"  %} <!-- sort:"note" -->
            <h4><b>ATNET Glossary /</b> DeFi Glossary</h4>
            {% for post in bycat %}
              <p>
                <span class="tag lvl-{{post.note}}">{{post.note}}</span> <a href="{{post.url}}">{{ post.title}}</a>
                &middot; {{post.hook}}
              </p>
            {% endfor %}
            {% assign bycat = site.glossary | where: "categories", "technical-analysis" | sort: "title" %} <!-- sort:"note" -->
            <h4><b>ATNET Glossary /</b> Chart Patterns & TA</h4>
            {% for post in bycat %}
              <p>
                <span class="tag lvl-{{post.note}}">{{post.note}}</span> <a href="{{post.url}}">{{ post.title}}</a>
                &middot; {{post.hook}}
              </p>
            {% endfor %}
            {% assign bycat = site.glossary | where: "categories", "technique" | sort: "title" %} <!-- sort:"note" -->
            <h4><b>ATNET Glossary /</b> Trading Techniques & Methods, Beyond TA</h4>
            {% for post in bycat %}
              <p>
                <span class="tag lvl-{{post.note}}">{{post.note}}</span> <a href="{{post.url}}">{{ post.title}}</a>
                &middot; {{post.hook}}
              </p>
            {% endfor %}


          </div>

        </div>


      </section>


      </div>

    </div>


  </div>
