---
---

{% assign modified = site.posts | sort: last_modified_at | reverse %}
{% assign strat = site.strategy %}
{% assign sec = site.security %}
{% assign posts = site.posts | sort: date | reverse %}

<!DOCTYPE html>
<html amp lang="en">
{% include head.html %}
<body>
{% include 0-ga.html %}
<amp-user-notification
  layout=nodisplay
  id="amp-user-optin-strategy"
  data-persist-dismissal="false"
  >
  {% include mail_popup_strat.html %}
</amp-user-notification>


{% include header.html %}
{{ content }}

<div class="clearfix"></div>

<section id="bottom" class="atnet-home-bottom space">
 {% include contacts.html %}
</section>

<footer>
  <div class="footer">
    {% include footer.html %}
  </div>
</footer>
</body>
</html>
