<!DOCTYPE html>
<html amp lang="en-us">
{% include head.html %}
<body>

{% include header.html %}
{{ content | replace: '<a href="http', '<a rel="nofollow" target="_blank" href="http' }}
<footer>
  <div class="footer">
    {% include footer.html %}
  </div>
</footer>
<!-- AMP allowed resources -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Fira+Sans+Condensed:400,700|Alegreya:400i' rel='stylesheet'>
</body>
</html>
