---
layout: compress
---
<!DOCTYPE html>
<html amp lang="en">
{% include head.html %}
<body>
<amp-analytics type="googleanalytics">
<script type="application/json">
{
  "vars": {
    "account": "UA-73503011-2"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
</amp-analytics>
<!-- Cointraffic -->
<!--<script async src="//appsha1.cointraffic.io/js/?wkey=RCH5ZI"></script>-->

{% include header.html %}
{{ content | replace: '<a href="http', '<a rel="noopener" target="_blank" href="http' }}

<div class="clearfix"></div>

<section id="bottom" class="atnet-home-bottom space">
 {% include contacts.html %}
</section>

<footer>
  <div class="footer">
    {% include footer.html %}
  </div>
</footer>
</body>
</html>
