---
---
{% assign modified = site.posts | sort: last_modified_at | reverse %}
{% assign strat = site.strategy %}
{% assign sec = site.security %}

<!DOCTYPE html><html amp lang="en">
{% include head-news.html %}
<body>
  <amp-auto-ads type="adsense" data-ad-client="ca-pub-6979812205705127"></amp-auto-ads>
  <amp-analytics type="googleanalytics" data-permit-notification-id="amp-privacy">
  <script type="application/json">
  {
    "vars": {
      "account": "{{ site.ga }}"
    },
    "triggers": {
      "trackPageview": {
        "on": "visible",
        "request": "pageview"
      },
    "clickBannerHorizontal": {
        "on": "click",
        "selector": "#at-promo-horizontal",
        "request": "event",
        "vars": {
          "eventCategory": "nonadsense--{{ page.url | remove: '/' }}",
          "eventAction": "click-horizontal",
          "eventLabel": "id--at-promo-horizontal"

          }
   },
   "clickBannerVertical": {
          "on": "click",
          "selector": "#at-promo-vertical",
          "request": "event",
          "vars": {
            "eventCategory": "nonadsense--{{ page.url | remove: '/' }}",
            "eventAction": "click-vertical",
            "eventLabel": "id--at-promo-vertical"

          }
    },
    "clickBannerTVTall": {
            "on": "click",
            "selector": "#at-promo-tv-tall",
            "request": "event",
            "vars": {
              "eventCategory": "nonadsense--{{ page.url | remove: '/' }}",
              "eventAction": "click-tv-tall",
              "eventLabel": "id--at-promo-tv-tall"
            }
     },
     "click on smallad-post trigger": {
              "on": "click",
              "selector": "#at-promo-smallad-post",
              "request": "event",
              "vars": {
                "eventCategory": "nonadsense--{{ page.url | remove: '/' }}",
                "eventAction": "click-post-smallad",
                "eventLabel": "id--at-promo-smallad-post"
        }
     }
    }
  }
  </script>
  </amp-analytics>
  <amp-user-notification
      layout="nodisplay"
      id="amp-altcointrading-newsletter"
      data-persist-dismissal="true">
      <div class="row">
        <div class="columns ten">
          <strong>Weekly E-mails:&nbsp;</strong>
          Crypto Trading Strategy 5 Weeks of Onboarding Reads. Latest Airdrops (Thu 7 AM EST). Or all of it.
            <br><br>
            <a on="tap:amp-altcointrading-newsletter.dismiss" class="no-optin">Dismiss</a>
            &nbsp;
            <a target="_blank" href="http://bit.ly/atnet-nl" class="optin">Pick Your Preference</a>
        </div>
        <div class="columns two">
          <a target="_blank" href="http://bit.ly/atnet-nl">
          <amp-img itemprop="image" alt="Altcoin Trading Newsletter"
          src="/cta/atnet_qr.png"
          layout="fixed"
          data-original-width="528px" data-original-height="528px"
          width="50px" height="50px"></amp-img>
          </a>
        </div>
      </div>
  </amp-user-notification>

  <amp-user-notification
    layout=nodisplay
    id="amp-privacy"
    data-persist-dismissal="true">
    <small>This site uses cookies (<a href="/about-legal/">More</a>).</small>
   <button on="tap:amp-privacy.dismiss">Fine</button>
  </amp-user-notification>

{% include header.html %}
{{ content }}

<div class="clearfix"></div>

<footer>
  <div class="footer">
    {% include footer.html %}
  </div>
</footer>
</body>
</html>
