---
layout: default-news
---
<div class="container">
  <div class="row">
    <div class="columns eight">
      <h1 class="post post-main">
         <strong>
           {{ page.title }}
         </strong>
       </h1>
    </div>
    <div class="columns four">
      <!-- hero image -->
      <amp-img itemprop="image"
      src="{{page.image[0]}}"
      alt="{{page.image_alt[0]}}" data-original-width="700px"
      data-original-height="497px" layout="responsive" width="700px" height="497px">
      </amp-img>
      <br>
    </div>
  </div>
  <div class="row desktop-only">
    {% include article/cta.html %}
  </div>

  {% assign anti = site.ebf | where: "categories", "anticipated" | reverse %}
  {% assign eter = site.ebf | where: "categories", "eternal-black-friday" | reverse  %}
  {% assign live = site.ebf | where: "categories", "live" | reverse %}

  <div class="row mobile-only" id="ebf-nav-mobile">
    <div role="button" on="tap:sidebar-ebf.toggle" tabindex="0">
      <i class="fa fa-bars" aria-hidden="true"></i> Eternal Black Friday Menu
    </div>
  </div>
  <amp-sidebar  class="mobile-only" id="sidebar-ebf" layout="nodisplay" side="right">
    <br>
    <br>
    {% include ebf/0-nav.html %}
    <br>
    <div role="button" aria-label="close sidebar" on="tap:sidebar-ebf.toggle" tabindex="0"><p>✕ close</p></div>
  </amp-sidebar>

  <div class="row">
    <article class="maincontent">
      <div class="row strategy-content intext" id="ebf-row">

        <div class="columns nine" id="ebf-deals">

          {{ content }}

           <div id="live">
           {% include ebf/live.html %}
           </div><!--live-->

           {% include ebf/interlink.html %}

           <div id="anticipated">
           {% include ebf/anticipated.html %}
           </div>

           <div id="past">
           {% include ebf/past.html %}
           </div>

           <div id="regular">
           {% include ebf/eternal.html %}
           </div>

           <div id="products">
           {% include ebf/brands-overview.html %}
           </div>

         <blockquote>Anything you want to add? Tweet at us @altcointrading_</blockquote>
         <p>&nbsp;</p>

       </div>
        <div class="columns three" id="ebf-nav">
          <div class="desktop-only" id="ebf-menu-sticky">
           {% include ebf/0-nav.html %}
          </div>
        </div>

      </div>
    </article>
  </div>
</div>

{% include ebf/brands-jsonld.html %}
