---
layout: default-news
---
<div class="container">
  <div class="row">
   <div class="eight columns post-content">
       {% if page.stories %}<div class="google-news-tag">{{ page.genres }}</div>&nbsp;{% endif %}
       <span id="note">
         {% if page.last_modified_at %}<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last Update {{ page.last_modified_at | date: "%d %b %Y at %R" }} UTC</time>.&nbsp;
         {% elsif page.update %}<time datetime="{{ page.update | date_to_xmlschema }}">Last Update {{ page.update | date: "%d %b %Y at %R" }} UTC</time>.&nbsp;{% endif %}
         Published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y at %R" }} UTC</time>
         {% if page.author %}{% unless page.guest %}<span class="guest">&nbsp;&middot;&nbsp;By <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endunless %}{% endif %}
         {% if page.guest %}<span class="guest">&nbsp;&middot;&nbsp;Guest post by <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}
       </span>
       <h4 class="post post-main">
          <strong>
            {{ page.title }}
          </strong>
        </h4>
        <div class="alt-langs">
        {% if page.cz %}<a class="alt-cs" href="https://altcointrading.cz/{{page.cz}}/">[CZ]</a>{% endif %}
        &nbsp;
        </div>
        <br>
        <article class="maincontent">
          <div>
            {% amp700 border {{page.image[0]}} {{page.image_alt[0]}} %}
          </div>
          <p>
            <em>
              Image: {{page.image_alt[0]}}
            </em>
          </p>
          <p>
            <a target="_blank" href="http://altcointrading.us15.list-manage1.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">Subscribe to news alerts, airdrop alerts or strategy and security news. (Or all of that).</a>
          </p>
          <hr>
          <div>
            {% include dogeshare.html %}
          </div>

          <hr>

          <div>
            {{ content | strip | replace: '<a href="http', '<a rel="noopener" target="_blank" href="http' }}
          </div>
          {% if page.guest %}
          <div>
            <hr>
            This is a guest article by <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a>. Views expressed in this article are author's own.
          </div>
          {% endif %}
          <hr>
          {% if page.series %}
          <div class="related">
            <h4>All articles from this series:</h4>
            <ul>
              {% for post in site.posts  %}
               {% if post.series contains page.series %}
               <li>
                 <a href="{{ post.url }}">{{ post.title }}</a>
               </li>
               {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}

          <hr>
          {% if page.related %}
          <div class="related">
            <p><strong>Related posts:</strong></p>
            <ul>
              {% for line in page.related %}{% for item in line %}<li><a href="{{ item[1] }}">{{ item[0] }}</a></li>{% endfor %}{% endfor %}
            </ul>
          </div>
          {% endif %}
          <hr>
          <div>
            {% include dogeshare.html %}
          </div>

          <hr>

          </p>



          {% if site.strategy_callout %}
          <section class="sidebar-nl container-center">
          {{ site.strategy_callout }}
          <p>To get an email alert <a target="_blank" href="http://altcointrading.us15.list-manage1.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">opt-in and choose "Trading strategy & security"</a></p>
          </section>
          <br>
          {% else %}
          {{ site.shill_links }}
          {% endif %}


          {% if page.comments %}

          <h4 class="post comment" id="comments">Comments</h4>

          <div id="disqus_thread"></div>
          <script>
           disqus_config = function () {
          this.page.url = "{{page.url | prepend: site.url }}";  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = "{{page.identifier}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://altcointrading.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

          <p></p>

          {% else %}

          <p></p>

          <hr>

          <p>Comments are disabled for this article.</p>

          <hr>

          {% endif %}

          <hr>
          <div class="">
            <p>Read about our <a href="/about-legal/">content policy</a>.</p>
          </div>
          <hr>

          {% if page.editor_name %}
          <br>
          <section class="altcointradingnet-bio container-center">
          <p><strong>Edited by: {{ page.editor_name }}</strong></p>
          <p>
            {% if page.editor_name contains "Marc" %}
            {{ site.bio.marc }}
            {% else %}
            {{ site.bio.jmt }}
            {% endif %}
          </p>
          </section>
          <br>
          {% endif %}

          <section class="altcointradingnet-bio">
            <p>
              <strong>About the author</strong>
            </p>
            <p>
              Written by <a rel="nofollow,noopener" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a>
            </p>
            <div>
              {% for item in site.author_details %}
                {% if page.author_name contains item.name %}
                  {% include bios/template.html %}
                {% endif %}
              {% endfor %}
            </div>
            <p>Opinions are author's own.</p>
          </section>

        </article>
    </div>
    <div class="four columns nomargintop">
      {% include sidebar.html %}
    </div>
  </div>
</div>
