---
layout: default
---

{% assign blogitems = site.posts | sort: date | reverse %}
{% assign stratitems = site.strategy | sort: date | reverse %}
{% assign glositems = site.glossary | sort: date | reverse  %}
{% assign howtoitems = site.howto | sort: date | reverse %}


<div class="container">

  <div class="row top">
     <!-- 4 strategy posts here -->
     <div class="columns eight">
       <div class="row">
         {% for post in stratitems offset: 0 limit: 2 %}
             <div class="columns six">{% include home/columnstrat.html %}
               <p>{{ post.description }}</p>
             </div>
         {% endfor %}
       </div>
       <div class="row">
         {% for post in stratitems offset: 2 limit: 2 %}
             <div class="columns six">{% include home/columnstrat.html %}
               <p>{{ post.description }}</p>
             </div>
         {% endfor %}
       </div>
       <div class="row">
         <div class="columns six offset-by-four">
           <a href="/strategy/" class="btn">Crypto Trading Strategy</a>
         </div>
         <br>
         <br>
         <br>
       </div>
     </div>
     <!-- 1 promo, 1 latest post -->
     <div class="columns four">
        <div id="at-promo-main-home">
          {{ site.bfx_336x280 }}
        </div>
        <br>
        <div class="at-home-latestblog box-lvl-a">
          {% for post in blogitems offset: 0 limit: 1 %}
             {% include home/columnupdates.html %}

            {% if post.related %}
            Also Read: <br>
            <ul class="list-lvl-a">
              {% for line in post.related %}{% for item in line %}
              <li>[+] <a href="{{ item[1] }}">{{ item[0] }}</a></li>
              {% endfor %}{% endfor %}
            </ul>
            {% endif %}

          {% endfor %}
        </div>
    </div>

  </div><!-- / row-->
  <div class="row">
      <h2 class="tagged-as clear">ATNET Crypto Glossary</h2>
  </div>
  <div class="row home-glossary">
    {% for post in glositems offset: 0 limit: 4 %}
      <div class="columns three">
        {% include home/lineupdates.html %}
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="columns six offset-by-four">
      <a href="/glossary/" class="btn">Crypto Trading Glossary</a>
    </div>
    <br>
    <br>
  </div>

  <div class="row">
      <h2 class="tagged-as clear">ATNET How-To Guides</h2>
  </div>
  <div class="row home-glossary">
    {% for post in howtoitems offset: 0 limit: 4 %}
      <div class="columns three">
        {% include home/lineupdates.html %}
      </div>
    {% endfor %}
  </div>


  <div class="row">
    <br>
    <br>
    <div id="at-promo-smallad-home-mid" class="columns eight offset-by-two">
      {{ site.tv_728-90_static }}
    </div>
    <br>
  </div>

  <div class="row">

   <div class="eight columns">

    <section id="home-airdrops">
      <br>
      <div id="at-home-drops" class="smallad">
        {% include home/airdrops.html %}
      </div>
    </section>

    <section id="home-howto">
      <br>
      <div class="row">

          <span class="note note-subtle">Most Read in How-To:</span>
          <ul>
            {% for post in howtoitems limit:3 %}
            <li class="subtle-item">
              <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">#{{ post.categories[0] | upcase }} | <b>{{ post.title }}</b>{% if post.last_modified_at %} updated on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}</a>
            </li>
            {% endfor %}
          </ul>

      </div>
    </section>
    <section id="home-security">
      <br>
      <span class="note note-subtle">Crypto OPSEC and security:</span>
      <ul class="popular">
        {% for post in site.security offset:0 limit:4 %}
          <li class="subtle-item">
            <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">#{{ post.categories[0] | upcase }} | <b>{{ post.title }}</b>{% if post.last_modified_at %} updated on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section id="new-posts">

      <div id="paginated-tradingblog">
        <h2 class="tagged-as clear">All from AltcoinTrading.NET Blog</h2>
      </div>

      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}#paginated-tradingblog"><< Previous</a>
        {% else %}
          <span><< Previous</span>
        {% endif %}
        <span class="page_number "> (Page{{ paginator.page }} of {{ paginator.total_pages }}) </span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}#paginated-tradingblog">Next >></a>
        {% else %}
          <span class=" ">Next >></span>
        {% endif %}
      </div>

      {% for post in paginator.posts %}
        <div class="row home-latest">

          <div class="row">
            <div class="seven columns">
              <h5 class="post">
                <strong>
                  {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;
                  {% elsif post.note %}<span class="tag custom-note {{ post.noteclass }}">{{ post.note }}</span>&nbsp;
                  {% endif %}
                  <small>{{ post.date | date: "%d %b %Y" }} </small>
                  <br>
                  <a  class="index-internal"  href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                </strong>
              </h5>
            </div>
            {% if post.image[0] %}
            <div class="five columns">
              <a  class="index-internal" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                <figure class="thumb">
                  <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
                  layout="responsive"
                  data-original-width="720px" data-original-height="360px"
                  width="150px" height="80px">
                  </amp-img>
                </figure>
              </a>
            </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="twelve columns">
              <div class="home-latest-excerpt">
                {% if post.last_modified_at %}<b>UPDATE {{ post.last_modified_at | date: "%d %b %y" }}</b> - {% endif %}{{ post.description }}
              </div>
            </div>
          </div>

        </div>
      {% endfor %}

    </section><!-- // new-posts -->



    <div class="clearfix"></div>
  </div><!--8-->
   <div class="four columns notopmargin">
      <br>
      <div class="clearfix"></div>
      {% include category/cat-meta.html %}
      <div class="clearfix"></div>
      <br>
      <div class="smallad" id="at-promo-smallad-home-top">
         {% include home/smallad.html %}
      </div>
      {% include sidebar.html %}
   </div>

  </div><!-- row -->


      </div>
    </div>
  </div>
</div>
<!-- container -->
