---
layout: default
---

{% assign blogitems = site.posts | sort: date | reverse %}
{% assign stratitems = site.strategy | sort: date | reverse %}
{% assign glositems = site.glossary | sort: date | reverse  %}
{% assign howtoitems = site.howto | sort: date | reverse %}


<div class="container">

  <div class="row top">
     <!-- 4 strategy posts here -->
     <div class="columns eight">
       <div class="row">
         {% for post in stratitems offset: 0 limit: 2 %}
             <div class="columns six intro">{% include home/columnstrat.html %}
               <p>
                 {{ post.description }}
                 <br>
                 <span class="tags">{% for tag in post.tags limit:3 %}#{{tag|upcase}} {% endfor %}</span>
                 <span class="soften">Updated {{ post.last_modified_at | date: "%d %b %Y" }}</span>
                 <br>
               </p>
             </div>
         {% endfor %}
       </div>
       <div class="row">
         {% for post in stratitems offset: 2 limit: 2 %}
           <div class="columns six intro">{% include home/columnstrat.html %}
             <p>
               {{ post.description }}
               <br>
               <span class="tags">{% for tag in post.tags limit:3 %}#{{tag|upcase}} {% endfor %}</span>
               <span class="soften">Updated {{ post.last_modified_at | date: "%d %b %Y" }}</span>
               <br>
             </p>
           </div>
         {% endfor %}
       </div>
       <div class="row">
         {{ site.localcryptos_leader_dark }}
       </div>

     </div>
     <!-- 1 promo, 1 latest post -->
     <div class="columns four">
       <div class="at-home-latestblog">
         {% for post in blogitems offset: 0 limit: 1 %}
            {% include home/columnupdates.html %}
           {% if post.related %}
           Also Read: <br>
           <ul class="list-lvl-a">
             {% for line in post.related %}{% for item in line %}
             <li>[+] <a href="{{ item[1] }}">{{ item[0] }}</a></li>
             {% endfor %}{% endfor %}
           </ul>
           {% endif %}

         {% endfor %}
       </div>
        <div id="at-promo-main-home">
          {{ site.bfx_vid_tall }}
          <div class="clearfix"></div>
        </div>
        <br>

    </div>

  </div><!-- / row-->
  <div class="clearfix"></div>
  <div class="row">
      <h5 class="post">ATNET Crypto Glossary</h5>
  </div>
  <div class="row home-glossary">
    {% for post in glositems offset: 0 limit: 4 %}
      <div class="columns three">
        {% include home/lineupdates.html %}
      </div>
    {% endfor %}
    <div class="row">
      <a href="/glossary/" class="btn">Crypto Trading Glossary</a>
      <p>&nbsp;</p>
    </div>
  </div>


  <div class="row">
      <h5 class="post">ATNET How-To Guides</h5>
  </div>
  <div class="row home-glossary">
    {% for post in howtoitems offset: 0 limit: 4 %}
      <div class="columns three">
        {% include home/lineupdates.html %}
      </div>
    {% endfor %}
    <div class="row">
      <a href="/guides/" class="btn">Crypto How-To Guides</a>
    </div>
  </div>


  <div class="row">

   <div class="eight columns">

     <section>
       <div class="row">
         {{ site.bfx_long }}
       </div>
     </section>
    <section id="home-airdrops">
      <br>
      <div id="at-home-drops">
        {% include home/airdrops.html %}
      </div>
    </section>
    <section id="new-posts">
      <div id="paginated-tradingblog">
        <h2 class="tagged-as clear">AltcoinTrading.NET Blog</h2>
      </div>
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}#paginated-tradingblog"><< Previous</a>
        {% else %}
          <span><< Previous</span>
        {% endif %}
        <span class="page_number "> (Page{{ paginator.page }} of {{ paginator.total_pages }}) </span>
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}#paginated-tradingblog">Next >></a>
        {% else %}
          <span class=" ">Next >></span>
        {% endif %}
      </div>
      {% for post in paginator.posts %}
        {% include block-post-sleek.html %}
      {% endfor %}
    </section><!-- // new-posts -->
    <div class="clearfix"></div>
  </div><!--8-->
   <div class="four columns notopmargin">
      <div id="at-promo-smallad-home-top">
         {% include home/smallad.html %}
      </div>
      {% include sidebar.html %}
      <br>
      <div class="clearfix"></div>
      {% include category/cat-meta.html %}
      <div class="clearfix"></div>
      <br>
   </div>

  </div><!-- row -->


      </div>
    </div>
  </div>
</div>
<!-- container -->
