---
layout: default
---
  <div class="container">
    <div class="row">

     <div class="eight columns">
      <h3 class="post"><strong>{{ page.title | upcase }}</strong> - <small>{{ page.description }}</small></h3>
      <hr>
      <article class="maincontent">
       {{ content }}
      </article>


    </div><!-- main cols -->
    <div class="four columns nomargintop">
      {% include sidebar.html %}
    </div>

    </div>
  </div>
  <article class="">
     {% include contacts.html %}
    <footer>
      <div class="footer">
        {% include footer.html %}
      </div>
    </footer>
  </article>
  <article class="maincontent">
    {{ site.tv_1200-628 }}
  </article>
