---
layout: default-news
---


<div class="container" id="altcointrading-strategy">
  <div class="row">

     <div class="twelve columns post-content">

       {% if page.stories %}<div class="google-news-tag">{{ page.genres }}</div>&nbsp;{% endif %}
       <span id="note">
         {% if page.last_modified_at %}<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last Update {{ page.last_modified_at | date: "%d %b %Y at %R" }} UTC</time>.&nbsp;{% endif %}
         Published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y at %R" }} UTC</time>
         {% if page.author %}<span class="guest">&nbsp;&middot;&nbsp;By <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}
       </span>
       <h1 class="post post-main atnet-press-release">
          <strong>
            {{ page.title }}
          </strong>
        </h1>
				<br>
				<div class="press-contact">
					<p>Press contact: {{ page.contact }}</p>
				</div>
      </div>
      <div class="row">
        <div class="columns eight">
	        <div>
	          {% amp700 border {{page.image[0]}} {{page.image_alt[0]}} %}
	        </div>
          <article class="maincontent">
            <div class="strategy-content press-content">
              {{ content | replace: '<a href="http', '<a rel="nofollow,noopener" target="_blank" href="http' }}
							<section class="sidebar-nl container-center">
									Publishing of press releases and industry news should not be taken for endorsement from AltcoinTrading.NET or its editors.
							</section>
						 <br>

             <section class="altcointradingnet-bio">
               <p>
                 <strong>About the author</strong>
               </p>
               <p>
                 Written by <a rel="nofollow,noopener" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a>
               </p>
               <div>
                 {% for item in site.author_details %}
                   {% if page.author_name contains item.name %}
                     {% include bios/template.html %}
                   {% endif %}
                 {% endfor %}
               </div>
               <p>Opinions are author's own.</p>
             </section>

             {% if page.editor_name %}
             <br>
             <section class="altcointradingnet-bio container-center">
             <p><strong>Edited by: {{ page.editor_name }}</strong></p>
 						<p>
               {% if page.editor_name contains "Marc" %}
               {{ site.bio.marc }}
               {% else %}
               {{ site.bio.jmt }}
               {% endif %}
             </p>
 						</section>
 						<br>
             {% endif %}

						{% if page.comments %}
						<h2 id="comments">Comments</h2>
						<div id="disqus_thread"></div>
						<script>
						var disqus_config = function () {
						this.page.url = "{{site.url}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
						this.page.identifier = "strategy{{page.identifier}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
						};
						(function() { // DON'T EDIT BELOW THIS LINE
						var d = document, s = d.createElement('script');
						s.src = 'https://altcointrading.disqus.com/embed.js';
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
						})();
						</script>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
						<p></p>
						{% else %}
						<p>&nbsp;</p>
						<hr>
						<p>Comments are disabled for this article.</p>
						<hr>
						{% endif %}
					</div><!-- press content -->
          </article>
        </div>
        <div class="four columns nomargintop">
          {% include sidebar.html %}
        </div>
      </div>
  </div>
</div>
</div>
</div>
