---
layout: default-news
---

<div class="container" id="altcointrading-strategy">
  <div class="row">

     <div class="twelve columns post-content">

       <h1 class="post post-main">
          <strong>
            {{ page.title }}
          </strong>
        </h1>

        <br>

       {% if page.stories %}<div class="google-news-tag">{{ page.genres }}</div>&nbsp;{%else %}<span class="google-news-tag">{{ page.note }}</span>&nbsp;{% endif %}
       <span class="note">
         {% if page.last_modified_at %}<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last Update {{ page.last_modified_at | date: "%d %b %Y at %R" }} UTC</time>.&nbsp;{% endif %}
         Published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y at %R" }} UTC</time>
         {% if page.author %}<span class="guest">&nbsp;&middot;&nbsp;By <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}
         {% if page.guest %}<span class="guest">&nbsp;&middot;&nbsp;Guest post by <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}
       </span>

        <br>
        <div>
          {% amp700 border {{page.image[0]}} {{page.image_alt[0]}} %}
        </div>
      </div>
      <div class="row">
        <div class="columns eight">
          <article class="maincontent">

            <div class="row">
              <div class="columns six">

                <div class="sidebar-nl container-center">
      						 <b>Crypto Trading Strategy</b> - 5 Weeks of Onboarding Reads: <a target="_blank" href="http://eepurl.com/cOgd6P"><u>Subscribe</u></a> and select "All Posts" or "Strategy & Security" as your preference.
                 </div>

              </div><!--1st-->
              <div class="columns six desktop-only"><!-- disable on phones -->
                 {% include dogeshare.html %}
              </div><!--2nd-->
            </div>

            <hr>
            <div class="strategy-content">
            {{ content }}
            <hr>
              <p>
                <b>Shill Links:</b>
                <br>
                BitMEX (10% fee off) @ <a rel="nofollow" target="_blank" href="http://bit.ly/melancholic-100x">bit.ly/melancholic-100x</a><br>
                TradingView (~ 50% OFF when paid in BTC) @ <a rel="nofollow" target="_blank" href="http://bit.ly/tradingview-moon">bit.ly/tradingview-moon</a><br>
                Conbase (no offer but people still click this lol) @ <a rel="nofollow" target="_blank" href="http://bit.ly/plebtier">bit.ly/plebtier</a><br>
              </p>
            <hr>
            {% if page.editor_name %}
            <br>
              <section class="altcointradingnet-bio container-center">
                <p>
                  <strong>Edited by: {{ page.editor_name }}</strong>
                </p>
      					<p>
                  {% if page.editor_name contains "Marc" %}
                    {{ site.bio.marc }}
                    {% else %}
                    {{ site.bio.jmt }}
                  {% endif %}
                </p>
  						</section>
						<br>
            {% endif %}



						{% if site.strategy_callout %}
						<section class="sidebar-nl container-center">
						{{ site.strategy_callout }}
						<p>To get an email alert <a target="_blank" href="http://altcointrading.us15.list-manage1.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">opt-in and choose "Trading Strategy & Security"</a></p>
						</section>
						<br>
            {% else %}
            <br>
            {{ site.shill_links }}
            <br>
            <br>
						{% endif %}

            <section class="altcointradingnet-bio">
              <p>
                <strong>About the author</strong>
              </p>
              <p>
                Written by <a rel="nofollow,noopener" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a>
              </p>
              <div>
                {% for item in site.author_details %}
                  {% if page.author_name contains item.name %}
                    {% include bios/template.html %}
                  {% endif %}
                {% endfor %}
              </div>
            </section>

					 </div><!-- strategy content -->
          </article>
        </div>
        <div class="four columns nomargintop">
          {% include sidebar-drops.html %}

        </div>
      </div>
  </div>
</div>
</div>
</div>
