---
layout: default-news
---

<!-- Cointraffic -->
<script async src="//appsha1.cointraffic.io/js/?wkey=RCH5ZI"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function($) {

	$.get("https://api.teletext.io/api/v1/geo-ip", function(response) {
		var country = response["alpha2"];
  	console.log(country);
		// ZA, IN, KR
		if ( (country == 'ZA') || (country == 'IN') || (country == 'KR') ) {
			$("#ad-generic").addClass("hidden");
		} else {
			$("#ad-iq").addClass("hidden");
		}
	});


});
</script>

<div class="container" id="altcointrading-strategy">
  <div class="row">

     <div class="twelve columns post-content">

       <div class="row">
         <div class="columns seven">
					 <div id="ad-generic">
					 	{{ site.ads.binance728 }}
					 </div>
					 <div id="ad-iq">
					 	{{ site.ads.iqcrypto728 }}
					 </div>

       	 </div><!--1st-->
         <div class="columns five">
  			    {% include dogeshare.html %}
         </div><!--2nd-->
       </div>

       {% if page.stories %}<div class="google-news-tag">{{ page.genres }}</div>&nbsp;{% endif %}
       <span id="note">
         {% if page.last_modified_at %}<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">Last Update {{ page.last_modified_at | date: "%d %b %Y at %R" }} UTC</time>.&nbsp;{% endif %}
         Published <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y at %R" }} UTC</time>

         {% if page.author %}<span class="guest">&nbsp;&middot;&nbsp;By <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}

         {% if page.guest %}<span class="guest">&nbsp;&middot;&nbsp;Guest post by <a rel="nofollow" target="_blank" href="{{ page.author }}">{{ page.author_name }}</a></span>{% endif %}
       </span>
       <h1 class="post post-main">
          <strong>
            {{ page.title }}
          </strong>
        </h1>
        <br>
        <div>
          {% amp700 border {{page.image[0]}} {{page.image_alt[0]}} %}
        </div>
      </div>
      <div class="row">
        <div class="columns eight">
          <article class="maincontent">
            <div class="shifted-left">
              {{ site.ads.aads728 }}
            </div>
            <p>
              <a title="{{ site.title }} Subscribe" target="_blank" href="http://altcointrading.us15.list-manage1.com/subscribe?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">Subscribe to the Altcoin Trading newsletter.</a> (Newsletter <a target="_blank" href="http://us15.campaign-archive1.com/home/?u=b5cca524e997c8e12f8ad51e1&id=9b56578f1c">Archive</a>)
            </p>
            <hr>
            <div class="strategy-content">
              {{ content | replace: 'BitMEX ', site.ref.bitmex | replace: 'Ledger wallet ', site.ref.ledger | replace: '<a href="http', '<a rel="nofollow" target="_blank" href="http' }}
            </div>
            <p>
              <em>
                Join our Telegram group: <a title="{{ site.title }} Telegram" target="_blank" href="https://t.me/altcointrading_net"><i class="fa fa-telegram"></i> altcointrading_net</a>
              </em>

            </p>
            <p>
              {% if page.stories %}
              <p>
                <a title="Author of {{ page.title }} {{ page.author }}" rel="nofollow" target="_blank" href="{{ page.author }}">Author</a> | Filed under <strong>{{ page.genres }}</strong> {% if page.tickers %}| Related tickers: <strong>{{ page.tickers }}</strong>{% endif %}
              </p>

              <script type="application/ld+json">
              {
                "@context": "http://schema.org",
                "@type": "Person",
                "name": "{{ page.author_name }}",
                "url": "https://www.altcointrading.net",
                "sameAs": [
                  "{{ page.author }}"
                ]
              }
              </script>

              {% endif %}

            </p>

          </article>
        </div>
        <div class="four columns nomargintop">
          {% include sidebar.html %}
        </div>
      </div>
  </div>
