---
layout: default-news
---
{% for tag in site.tags %}{% if tag contains page.tag %}
    {% assign pages_list = tag[1] %}
{% endif %}{% endfor %}
{% if page.strategy %}
  {% assign strat_list = site.strategy | where:"tags",page.tag | sort: last_modified_at | reverse %}
{% endif %}
<div class="container">
  <br>
  {% if page.tag contains "tradingview" %}
        {% include article/cta.html %}
  {% endif %}
  <br>
  <div class="row">
      <div class="columns four">
        {% include sidebar.html %}
      </div>
      <div class="columns eight tagfeed-items">
        <h2 class="tagged-as clear">All tagged as #{{ page.tag }}</h2>
        {% if page.content %}
        <section class="tag-intro">
          {{ content }}
        </section>
        {% endif %}


        {% if page.strategy %}
        <p>
          <span class="note" id="feed--{{ page.tag }}">#{{ page.tag | capitalize }} in EXTRAS / Trading Strategy</span>
        </p>
        {% for post in strat_list%}
        <div class="row cat-updates">

          <div class="six columns">
            <h5 class="category-post post">
              <strong>
                <a class="index-internal"  href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </strong>
              <p>{{ post.description }}</p>
            </h5>
          </div>
          <div class="six columns">
            <a  class="index-internal" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
              <figure class="thumb">
                <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
                layout="responsive"
                data-original-width="720px" data-original-height="360px"
                width="150px" height="80px">
                </amp-img>
              </figure>
            </a>
          </div>

        </div>
        {% endfor%}
        {% endif %}

        <p>
          <span class="note" id="feed--{{ page.tag }}">All about #{{ page.tag | capitalize }} in the trading blog & script reviews</span>
        </p>

        {% for post in pages_list limit:1 offset:0 %}
            <div class="row cat-updates">
            {% if post.image[0] %}
            <div class="twelve columns">
              <a  class="index-internal" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
                <figure class="thumb">
                  <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
                  layout="responsive"
                  data-original-width="720px" data-original-height="360px"
                  width="150px" height="80px">
                  </amp-img>
                </figure>
              </a>
            </div>
            {% endif %}
              <div class="twelve columns">
                <h5 class="category-post post">
                  <strong>
                    {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;{% elsif post.note %}<span class="tag custom-note {{ post.noteclass }}">{{ post.note }}</span>&nbsp;{% endif %}
                    <small>&nbsp;last update {{ post.last_modified_at | date: "%d %b %Y, %R" }} UTC</small>
                    <a class="index-internal"  href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </strong>
                  <p>{{ post.description }}</p>
                </h5>
              </div>
            </div>
        {% endfor %}

    <div class="row">
      {% for post in pages_list limit:2 offset:1 %}
            <div class="columns six">
              {% if post.title != null %}
              {% if group == null or group == post.group %}
              {% include home/columnupdates.html %}
              {% endif %}
              {% endif %}
            </div>
      {% endfor %}
      {% for post in pages_list limit:2 offset:3 %}
            <div class="columns six">
              {% if post.title != null %}
              {% if group == null or group == post.group %}
              {% include home/columnupdates.html %}
              {% endif %}
              {% endif %}
            </div>
        {% endfor %}
        {% for post in pages_list limit:2 offset:5 %}
              <div class="columns six">
                {% if post.title != null %}
                {% if group == null or group == post.group %}
                {% include home/columnupdates.html %}
                {% endif %}
                {% endif %}
              </div>
          {% endfor %}
        {% assign pages_list = nil %}
      </div>

      {% if page.category %}
      {% assign related = site.posts | where: "categories", page.category | sample: 3 %}
      <div class="row">
        <p>
          <span class="note">Related #{{ page.category | upcase }}</span>
        </p>
        {% for post in related %}
          {% include category/all.html %}
        {% endfor %}
      </div>
      {% endif %}



    </div><!--8-->



  </div>
</div>

<div class="clearfix"></div>
