<!DOCTYPE html>
<html amp lang="en-us">
{% include head.html %}
<body>
{% include header.html %}
<div class="container">
  <div class="row">
   <div class="eight columns swapper">
     <p>
       <span id="note"><em>Time</em> Killing Gossip | Altcoin Trading</span>
     </p>
     <p>{{ content }}</p>
     {% include gossip.html %} 
     {{ site.ads.aads728 }}
    </div>
    <div class="four columns notopmargin">
    {% include sidebar.html %}
  </div>
</div>
<footer>
  <div class="footer">
    {% include footer.html %}
  </div>
</footer>
</body>
</html>
