<div class="row cat-updates">
{% if post.image[0] %}
<div class="twelve columns">
  <a  class="index-internal" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
    <figure class="thumb">
      <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
      layout="responsive"
      data-original-width="720px" data-original-height="360px"
      width="150px" height="80px">
      </amp-img>
    </figure>
  </a>
</div>
{% endif %}
  <div class="twelve columns">
    <h5 class="category-post post">
      <strong>
        {% if post.note %}<span class="tag custom-note lvl-a">{{ post.note }}</span>&nbsp;{% endif %}
        {% if post.categories %}<small>{{ post.categories[0] }}</small>&nbsp;{% endif %}
        <br>
        <a class="index-internal"  href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
          {{ post.title }}
        </a>
        <small>Updated&nbsp;{{ post.last_modified_at | date: "%d %b '%y" }}&nbsp;</small>
      </strong>
    </h5>
  </div>
</div>
