<div class="row cat-updates">
  <div class="twelve columns">
    <h5 class="category-post post">
      <strong>
        {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;
        {% elsif post.note %}<span class="tag custom-note {{ post.noteclass }}">{{ post.note }}</span>&nbsp;
        {% endif %}
        {% if post.categories %}<small>#{{ post.categories[0] }}</small>&nbsp;{% endif %}
        <small>&nbsp;{{ post.last_modified_at | date: "%d %b '%y, %R" }}&nbsp;UTC</small>
        {% if post.guest %}&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}
        <br>
        <a  class="index-internal"  href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </strong>
    </h5>
  </div>
</div>
