{% assign howto_posts = site.howto | sort:date | reverse %}

<span class="note">TradingView FREE Script Reviews:</span>
<ul>
  <li class="popular-item">
    <a href="/tag/tradingview-script-review/" title="best free tradingview scripts">TradingView Script Spotlight</a>
  </li>
</ul>
<span class="note">Latest in How-To & Guides:</span>
<ul>
  {% for post in howto_posts limit:1 %}
  <li class="popular-item">
    <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">#101 | <b>{{ post.title }}</b>{% if post.last_modified_at %} on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}</a>
  </li>
  {% endfor %}
</ul>
<span class="note">Explore Related Tags:</span>
<ul class="popular">
  <li class="popular-item">
    <a href="/tag/wyckoff-trading/">Tagged: Wyckoff Trading</a>
  </li>
  <li class="popular-item">
    <a href="/tag/tradingview-script-review/">Tagged: TradingView Scripts</a>
  </li>
  <li class="popular-item">
    <a href="/tag/crypto-technical-indicators/">Tagged: Technical Indicators</a>
  </li>
</ul>
