{% assign daysToSec = 699048 %}
{% assign pageTime = post.last_modified_at | date: '%s' | times: 1 %}
{% assign endTime = 'now' | date: '%s' | minus: daysToSec | times: 1 %}

{% if post.title != null %}
{% if pageTime > endTime %}
<span class="note" id="updated-{% increment counter %}">
  <a href="{{ post.url }}">{{ post.title }}</a>
</span>
<p>
  <strong>Updated at {{ post.last_modified_at | date: "%d %b %Y, %R" }} UTC in #{{ category[0] | upcase }}</strong> - {{ post.description }} | First published {{ post.date | date: "%d %b %Y" }}.
</p>
{% endif %}
{% endif %}
