---
layout: default
title: "Cryptocurrencies Trading Blog 2018 | Altcoin Trading Tools and Strategies"
description: "Tools for cryptocurrency trading, fundamental news analyses, guides to technical analysis."
permalink: "/blog/trading/"
category: "trading"
featured_series: ["ScriptSpotlight", "dex"]
related:
- {"Crypto Scalping with TensorCharts": "/strategy/scalping/"}
- {"Technical Analysis: Divergences (With a Graphic Cheatsheet)": "/divergences/"}
- {"Database of Blockchain Gaming Startups at The Business Of Crypto": "/blockchain-tech-companies/"}
---
{% assign strategy_items = (site.strategy | sort: date) | reverse %}
<div class="container" id="crypto-trading-blog">
    <div class="row top twelve columns">
              <div class="columns four">
                <p>&nbsp;</p>
                  {% include updates/recently_box.html %}
                  <hr class="skinny">
                  {{ site.brave_xs }}
                  <hr class="skinny">
                  {{ site.deribit_xs }}
                  <hr class="skinny">
              </div>
            {% for post in site.posts %}
             {% if post.pinned %}
              <div class="columns five">
                <h4 class="featured">Featured in Trading Blog</h4>
                {% include home/columnupdates.html %}
                <p>{{ post.description }}</p>
                <p>
                  Written by <a rel="nofollow,noopener" target="_blank" href="{{ page.author }}">{{ page.author_name | capitalize }}</a> on {{ post.last_modified_at | date: "%d %b %Y, %R" }} UTC {% if post.categories %} in <b>#{{ post.categories[0] | upcase }}</b>{% endif %}
                </p>
                {% if post.related %}
                <span class="note">Related to this article</span>
                <ul class="popular">
                  {% for line in post.related %}{% for item in line %}
                  <li class="popular-item"><a href="{{ item[1] }}">{{ item[0] }}</a></li>
                  {% endfor %}{% endfor %}
                </ul>
                {% endif %}
              </div>
              {% endif %}
            {% endfor %}
            {% for post in site.posts offset: 1 limit: 1 %}
              <div class="columns three atnet-second">
                {% include home/columnupdates.html %}
                <div class="smallad">
                   {% include home/smallad.html %}
                </div>
              </div>
            {% endfor %}
    </div>
    <div class="row">
      <div class="twelve columns tools">

        <div class="clearfix">&nbsp;</div>
        <section class="row">

          <div class="columns nine">
            <p>{{ site.tv_728-90_static }}</p>

            <ul class="popular">
              {% for post in site.posts offset:2 limit:5 %}
              <li class="popular-item">
              <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
                <b>{{ post.title }}</b>
                {% if post.last_modified_at %} Last update on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}
                <br>
                {% for tag in post.tags %}
                  <span>&nbsp;#{{tag | upcase }}</span>
                {% endfor %}
              </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="columns three">
            <p><span class="note">Trading Platforms We Support:</span></p>
            <ul class="popular">
              <li class="popular-item">
                BitMEX:
                <li><a rel="nofollow" href="https://www.bitmex.com/register/iYQB44">[Fee Discount]</a>
                 -
                <a rel="nofollow" href="/coupon-bitmex-iyqb44/">Review</a></li>
              </li>
              <li class="popular-item">
                CryptoFacilities:
                <li><a rel="nofollow" href="http://bit.ly/cryptofacilities">[Fee Discount]</a>
                 -
                <a rel="nofollow" href="/fee-discount-cryptofacilities/">Review</a></li>
              </li>
              <li class="popular-item">
                Bitfinex/Ethfinex:
                <li><a rel="nofollow" href="https://www.ethfinex.com/?refcode=5egV78YtlC">[Fee Discount]</a>
                 -
                <a rel="nofollow" href="/coupon-bitfinex-5egv78ytlc/">Review</a>
                </li>
              </li>
            </ul>
            <p><span class="note">Charting Apps We Support:</span></p>
            <ul class="popular">
              <li class="popular-item">
                <a rel="nofollow" href="http://bit.ly/atnet-tv">TradingView</a>
              </li>
              <li class="popular-item">
                <a rel="nofollow" href="http://bit.ly/tensorcharts">TensorCharts</a>
              </li>

            </ul>
          </div>

        </section>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
    <div class="row">
     <div class="eight columns">

       <section>
         {% if page.featured_series %}
         {% for series in page.featured_series %}
         <div class="row tagfeed-items clearfix">
           <h2 class="tagged-as">Featured Series: #{{ series | upcase }}</h2>
           {% for post in site.posts %}
            {% if post.series contains series %}
            <div class="columns six">
              {% include home/columnupdates.html %}
            </div>
            {% endif %}
           {% endfor %}
         </div>
         {% endfor %}
         {% endif %}
       </section>

         <section>
          <h2 class="tagged-as clear">Crypto Trading Strategy #LongReads</h2>
          <ul class="popular">
            {% for post in strategy_items %}
            <li class="popular-item">
              <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
                <b>{{ post.title }}</b>
                {% if post.last_modified_at %} Last update on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %} /
                {% if post.description %}{{post.description}}{% endif %}
                <br>
                {% for tag in post.tags %}
                  <span>&nbsp;#{{ tag | upcase }}</span>
                {% endfor %}
              </a>
            </li>
            {% endfor %}
          </ul>
         </section>

         <section>
           <h2 class="tagged-as clear clearfix" id ="paginated-tradingblog">
             Previously in Trading Blog #{{ page.category | upcase }}
           </h2>
             <ul class="popular">
             {% for post in site.posts offset:7 %}
             {% if post.categories contains "trading" %}
             <li class="popular-item">
               <a class="index-internal" href="{{site.baseurl}}{{ post.url }}" title="{{ post.title }}">
                 <b>{{ post.title }}</b>
                 {% if post.last_modified_at %} Last updated on {{ post.last_modified_at | date: "%d %b %Y" }}{% endif %}
               </a>
             </li>
             {% endif %}
             {% endfor %}
             </ul>
         </section>

         <section class="atnet-home-bottom space tagfeed-items">
          {% include tags/tag-boc.html %}
         </section>

      </div><!-- 8 -->
      <div class="four columns nomargintop">
        <div>
          {% include article/alsoread.html %}
        </div>
        <br>
        <div class="clearfix"></div>
        {% include sidebar.html %}
      </div><!-- 4-->
    </div><!-- row-->
</div><!-- container-->
<div class="clearfix"></div>
