<div class="row home-latest clearfix">
  <div class="seven columns">
      <h5 class="post">
        <strong>
          {% if post.stories %}<span class="tag">{{ post.genres }}</span>&nbsp;
          {% elsif post.note %}<span class="tag custom-note">{{ post.note }}</span>&nbsp;
          {% endif %}
          <small>{{ post.date | date_to_string }}</small>

          {% if post.guest %}&nbsp;&middot;&nbsp;<small class="guest">Guest post by {{ post.author_name }}</small>{% endif %}

          <br>
          <a class="cat-internal-link" title="{{ post.title }}" href="{{site.baseurl}}{{ post.url }}">
            {{ post.title }}
          </a>

        </strong>
      </h5>
      <div class="home-latest-excerpt">
        {% if post.last_modified_at %}<em> Last update {{ post.last_modified_at | date: "%d %b %Y" }}: </em>{% endif %}{{ post.description }}
      </div>
  </div>
    {% if post.image[0] %}
  <div class="five columns">
      <a class="cat-internal-link" title="{{ post.title }}" href="{{site.baseurl}}{{ post.url }}">
        <figure class="thumb">
          <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
          layout="responsive"
          data-original-width="720px" data-original-height="360px"
          width="150px" height="80px">
          </amp-img>
        </figure>
      </a>
  </div>
    {% endif %}
</div>
