<p>Coinigy is a cloud-based <strong>crypto trading and charting tool</strong> packed with features for altcoin scalpers, arbers and trading bot developers.</p>
<p>Coinigy is also great for the true altcoin traders who want to be the <strong>market makers in new markets</strong>, who want to leverage <strong>arb opportunities</strong> and want to be able to trade a market <strong>as soon as it opens</strong>.</p>
<p>It is not only a charting engine but also an API interface you can use to trade from an exchange account without using the exchange's web interface. UI and charting is usually terrible at small exchanges, at the same time those are the ones that you need to use when you arb.</p>
<p>Coinigy doesn't charge any additional fee for executing trades via the platform.</p>
