<amp-img itemprop="image"
src="https://res.cloudinary.com/atnetcloud/image/upload/c_lfill,g_south_east,h_1000,w_1000/v1588053426/atnet/altcoin-wallets/banner-home-lns_t5ieii.jpg"
alt="Ledger" data-original-width="1000px" data-original-height="1000px" layout="responsive" width="1000px" height="1000px">
</amp-img>

<p>Ledger wallet is currently the most trusted hardware wallet for bitcoin and altcoins.</p>
<ul>
<li>The code is fully open source.</li>
<li>The Ledger Nano wallet series <strong>supports a metric ton of altcoins</strong>, including all ERC20 compliant tokens.</li>
<li>Other than Bitcoin, Litecoin, Dash, Zcash, Ethereum and forks, Ledger also supports cryptocurrencies like Ripple and Stratis via Ledger&#39;s Companion Apps.</li>
<li>For Bitcoin and Litecoin, both native and nested Segwit addresses are fully supported, as well as legacy addresses.</li>
</ul>
<h5 id="ledger-nano-s-on-black-friday-"><strong>Ledger Nano S on Black Friday</strong></h5>
<p>Ledger Nano S is the older model of Ledger wallet, but is still good and perfectly compatible.</p>
<p>Its advantage is the low price: Ledger Nano S retails at a regular price of <strong>up to 69.90 EUR</strong> (price varies based on your location and is without tax and duties).</p>
<h5 id="ledger-nano-x-on-black-friday-"><strong>Ledger Nano X on Black Friday</strong></h5>
<p>The Ledger Nano X is a Bluetooth® enabled hardware device that stores the private keys of your cryptocurrencies. It has extended memory capacity, which means it can house keys of more cryptocurrencies than Ledger Nano S.</p>
