<p>Crypto Trader Tax is a service that will generate your report from <b>trading logs exported from the exchange</b> you use for crypto trading.</p>
<p>The tool offers some advanced functionalities like <b>loss harvesting</b> by pulling your crypto's cost basis and deducting your loss to reduce your liability.</p>
<p>Crypto Trader Tax bills per tax season, the amount is based on how much you traded.</p>
<p>They do have a free trial though, and can also use our coupon for 10% discount <code>CRYPTOTAX10</code>.</p>

<p><a class="btn" rel="nofollow" href="http://bit.ly/at-cttax">Get free trial</a></p>
