<amp-img itemprop="image"
src="https://res.cloudinary.com/atnetcloud/image/upload/c_lpad,h_360,w_700/v1598926074/atnet/_banner/tradingview_payment-methods_p0j3nj.jpg"
alt="{{ page.title }}" data-original-width="700px" data-original-height="360px" layout="responsive" width="700px" height="360px">
</amp-img>

<p>The <a href="http://bit.ly/at-tv-ebf-2020">TradingView PRO</a> and other paid subscription plans with Black Friday deal costs monthly the same as TensorCharts. To qualify for the Black Friday deal you must pay the yearly price in a single payment.</p>
<p>TradingView accepts payments in <strong>Paypal</strong>, most <strong>debit cards, credit cards</strong> and <strong>cryptocurrency</strong> payments via <em>Coinbase Commerce</em>.</p>
<p>TradingView accepts cryptocurrency payments in <strong>bitcoin, bitcoin cash, ethereum and litecoin</strong>.</p>

<amp-img itemprop="image"
src="https://res.cloudinary.com/atnetcloud/image/upload/c_lpad,h_360,w_700/v1598926073/atnet/_banner/tradingview_pay-with-crypto_wl7cdo.jpg"
alt="{{ page.title }}" data-original-width="700px" data-original-height="360px" layout="responsive" width="700px" height="360px">
</amp-img>
