<div class="row tagfeed-items">
  <h2 class="tagged-as clear">Series: Long-Term Strategy #Hodl</h2>
  <div class="row">
    {% for post in posts %}{% if post.series contains "Hodl" %}
    <div class="columns four">
      {% include home/columnupdates.html %}
    </div>
    {% endif %}{% endfor %}
    {% for post in strat %}{% if post.series contains "Hodl" %}
    <div class="columns four">
      {% include home/columnupdates.html %}
    </div>
    {% endif %}{% endfor %}
  </div><!--row-->
</div>
